<form id="delete-account-form" cnovalidate="novalidate">
	<div class="balloon-wrapper">
		<span class="signal">account signal</span>
		<div class="balloon-header">
			<h1>Delete your Peoplewings account !!</h1>
		</div>
		<div class="balloon-content">
			<p>Please provide your password to confirm you fully understand that you'll no longer be able to use of this product and all information associated with them, and that your account will be lost</p>
			<div class="control-group">
				<label class="control-label" for="inputCurrentPassword">Password</label>
				<div class="controls">
					<input type="password" id="currentPassword" name="currentPassword" maxlength="20" placeholder="Your password" class="required" maxlength="20">
				</div>
			</div>
		</div>
		<div class="balloon-footer">
			<div class="control-group">
				<div class="controls">
			 		<a href="/#/login" class="button">Cancel</a>
					<button id="delete-account-btn" type="submit" class="button-highlight" data-loading-text="Deleting..." role="button">Delete account</button>
				</div>
			</div>
		</div>
	</div><!-- EOF static-balloon -->
</form>
