<form id="settings-form">
	<div class="form-wrapper">
		<span class="signal">account signal</span>
		<legend>Account settings</legend>
		<div class="control-group clear" data-has-pass>
			<label class="control-label" for="inputName">Name</label>
			<div class="controls">
				<input type="text" id="firstName" name="firstName" placeholder="First Name" class="input-small required" value="{{firstName}}" maxlength="14">
				<input type="text" id="lastName" name="lastName" placeholder="Last Name" class="input-small required" value="{{lastName}}" maxlength="30">
				<span class="help-block"></span>
			</div>
		</div>
		<div class="control-group clear" data-has-no-pass hidden>
			<label class="control-label" for="inputName">Name</label>
			<div class="controls">
				<h1>{{firstName}} {{lastName}}</h1>				
				<span class="help-block"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Current email</label>
			<div class="controls">
				<h1>{{email}}</h1>
			</div>
		</div>
		<div class="control-group" data-has-pass>
			<label class="control-label" for="inputEmail">Change email</label>
			<div class="controls">
				<input type="email" name="email" id="inputEmail" placeholder="You new email address" class="input-margin" maxlength="50">
				<span class="help-block"></span>
				<input type="email" name="repeatEmail" id="repeatEmail" placeholder="Rewrite your email address" class="" maxlength="50">
				<span class="help-block"></span>
			</div>
		</div>
		<div class="control-group" data-has-pass>
			<label class="control-label" for="inputEmail">Change your password</label>
			<div class="controls">
				<input type="password" name="password" id="pass" placeholder="You new password" class="input-margin password-line" maxlength="20">
				<span class="help-block"></span>
				<input type="password" name="repeatPassword" id="pass2" placeholder="Rewrite your new password" class="password-line" maxlength="20">
				<span class="help-block"></span>
			</div>
		</div>
		<div class="control-group" data-has-no-pass hidden>
			<label class="control-label" for="inputEmail">Create your password</label>
			<div class="controls">
				<input type="password" name="createPassword" id="create-pass" placeholder="You new password" class="input-margin password-line" maxlength="20">
				<span class="help-block"></span>
				<input type="password" name="repeatCreatePassword" id="create-pass2" placeholder="Rewrite your new password" class="password-line" maxlength="20">
				<span class="help-block"></span>
			</div>
		</div>
		<div class="control-group" data-has-pass>
			<label class="control-label"for="inputDelete">Delete entire account</label>
			<div class="controls terms">
				<p>If you want to delete your account and all services and info associated witht it, click <a href="#/settings/delete">here</a></p>
			</div>
		</div>
	</div>
	<div class="control-group confirm-changes" data-has-pass>
		<p>To save these settings, please enter your PEOPLEWINGS password</p>
		<label class="control-label"for="inputPassWrite">Current password</label>
		<div class="controls">
			<input type="password" id="inputPasword" name="current_password" class="required password-line" maxlength="20">
			<span class="help-block"></span>
		</div>
	</div><!-- EOF control-group terms -->

	<div class="footer-content">
		<div class="button-group">
			<a href="/#/login" class="button">Cancel</a>
			<button type="submit" id="save-settings-btn" class="button-highlight" data-loading-text="Saving...">Save</button>
		</div>
	</div>
</form>