/* --------------------------------------------------------------------------
 * Chat
 * --------------------------------------------------------------------------
#chat-manager
	position: fixed
	bottom: 0
	right: 0
	width: 0
	height: 0
	overflow: visible

	div#chat-wrapper
		position: relative

		div.chat 
			border: 1px solid #18183f
			width: 225px
			position: fixed
			bottom: 5px

			&:nth-child(1)
				right: 10px

			&:nth-child(2)
				right: 245px

			&:nth-child(3)
				right: 480px

			&:nth-child(4)
				right: 715px

			header
				height: 36px
				min-height: 36px
				background-color: #6F6FE9
				color: #FFFFFF
				overflow: hidden

				div
					width: 25px
					height: 36px
					margin: auto
					float: left
					vertical-align: middle
					margin-top: 10px

				div.online-button
					width: 15px
					height: 15px
					background-color: green
					border-radius: 50%
					margin-left: 5px
					margin-top: 0px
					
				div.username
					width: 175px
					text-align: center
				
				button.button-close-chat
					font-size: 1.2em
					float: right
					border: 0px solid black
					background-color: transparent
					color: red

			div.contents
				background-color: #6F6FE9
				height: 270px
				overflow: hidden

				div.chat-window
					border: 1px solid black
					margin: 10px
					background-color: #CCCCCC
					height: 200px
					overflow: auto
					p
						margin-left: 10px

				div.chat-input
					margin: 10px
					height: 36px
					width: 195px
				
				textarea.chat-textarea
					width: 100%
					height: 36px
					resize: none