// mixin effects

@mixin bg-gradient($color_from, $color_to) 
	background: $color_from /* Old browsers */
	background: -moz-linear-gradient(top,  $color_from 0%, $color_to 100%) /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color_from), color-stop(100%,$color_to)) /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $color_from 0%,$color_to 100%) /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $color_from 0%,$color_to 100%) /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $color_from 0%,$color_to 100%) /* IE10+ */
	background: linear-gradient(to bottom,  $color_from 0%,$color_to 100%) /* W3C */

@mixin transition($property, $time)
	transition: $property $time
	-moz-transition: $property $time /* Firefox 4 */
	-webkit-transition: $property $time /* Safari and Chrome */
	-o-transition: $property $time /* Opera */

@mixin border-radius($value)
	border-radius: $value
	-webkit-border-radius: $value
	-moz-border-radius: $value

@mixin box-shadow($hor, $ver, $blur, $color)
	box-shadow: $hor $ver $blur $color
	-moz-box-shadow: $hor $ver $blur $color
	-webkit-box-shadow:  $hor $ver $blur $color

@mixin appearance($value)
	-webkit-appearance: $value
	-moz-appearance: $value

@mixin opacity($value)
	opacity: $value
	filter: alpha(opacity=$value*100) // For IE8 and earlier

// olders

@mixin opacidad($value)
	opacity: $value
	filter: alpha(opacity=$value*100) // For IE8 and earlier

@mixin radio($radius)
	border-radius: $radius
	-moz-border-radius: $radius
	-webkit-border-radius: $radius

@mixin sombrac($hor, $ver, $blur, $color)
	box-shadow: $hor $ver $blur $color
	-moz-box-shadow: $hor $ver $blur $color
	-webkit-box-shadow: $hor $ver $blur $color

@mixin sombrat($hor, $ver, $blur, $color)
	text-shadow: $hor $ver $blur $color
	-moz-text-shadow: $hor $ver $blur $color
	-webkit-text-shadow: $hor $ver $blur $color

@mixin borde($width, $color)
	-webkit-text-stroke: $width $color
	-moz-text-stroke: $width $color

@mixin animacion($name, $time)
	animation: $name $time
	-moz-animation: $name $time /* Firefox 4 */
	-webkit-animation: $name $time /* Safari and Chrome */
	-o-animation: $name $time /* Opera */