/* --------------------------------------------------------------------------
 * Font-face
 * --------------------------------------------------------------------------

@font-face
  font-family: "Exo500"
  src: url('../fonts/Exo500.ttf')

@font-face
  font-family: "Exo500I"
  src: url('../fonts/Exo500I.ttf')

@font-face
  font-family: "Exo700"
  src: url('../fonts/Exo700.ttf')

@font-face
  font-family: "Exo700I"
  src: url('../fonts/Exo700I.ttf')

@font-face
  font-family: "Exo800"
  src: url('../fonts/Exo800.ttf')

@font-face
  font-family: "Exo800I"
  src: url('../fonts/Exo800I.ttf')
