/* --------------------------------------------------------------------------
 * _Globals
 * --------------------------------------------------------------------------

@import _variables.sass
@import _effects.sass

*
	margin: 0

html, body
	height: 100%

body, input, select
	font-family: $ffamily
	color: $fcolor
	background: $background

a
	text-decoration: none
	color: $gray_link
	&:hover
		color: $yellow_corp

li
	list-style: none
	float: left

//input[type="text"],
//input[type="password"],
//input[type="email"],
//input[type="submit"],
input,
select
	font-size: 1em
	padding: 0.7em
	margin: 0.5em
	border: 1px solid #CCC
	@include appearance(none)
	@include border-radius(5px)
	@include transition(box-shadow, 0.5s)
	&:hover, &:focus, &:active
		outline: 0
		@include box-shadow(0, 0, 8px, 3px, $yellow_corp)

input[type="submit"]
	text-transform: uppercase

input[type="checkbox"],
	@include appearance(checkbox)

input[type="radio"]
	@include appearance(radio)

button
	display: block
	padding: 11px 14px
	font:
		size: 11px
		style: italic
		//weight: bold
	color: #808080
	text-decoration: none
	text-transform: uppercase
	border: none
	border:
		left: 1px solid #CECDCE
		right: 1px solid #FFF
	background: none

	&:hover
		color: #000
		background: #FFF

	&:active
		@include bg-gradient(#ffeb00, #fbfac5)

.wrapper
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -56px
	//margin: 0 auto (-1) * $footer-size + $footer-unit

.push
	height: $footer-size + $footer-unit

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner
	@include box-shadow(none)

.navbar-inner
	max-width: 960px
	margin: 0 auto
	padding: 0
	background: none
	border: none
	@include box-shadow(none)

#mini-spinner
	position: relative
	margin: 0 auto
	top: 27px
	left: 10px

.spinner
	position: relative
	width: 0px
	z-index: 2000000000
	left: 585px !important
	top: -27px !important

//require(['views/lib/spinner'], function(a) { a.show('hola') })

/* Buttons
 * --------------------------------------------------------------------------

.btn-peoplewings
	text-transform: uppercase
	padding: 0.2em 1em
	margin: 0
	color: $yellow_corp
	background: $blue-corp
	font:
		family: $ffamily-corp
		size: 1.2em
		weight: 500
		style: italic
	border: 2px solid $yellow_corp
	@include border-radius(1em)
	&:hover, &:focus, &:active
		outline: 0
		@include box-shadow(0, 0, 8px, 3px, $yellow_corp)


/* Icons
 * --------------------------------------------------------------------------

.icon
	float: left
	width: 65px
	height: 78px
	text-indent: -9999px


/* Backgrounds
 * --------------------------------------------------------------------------

.background-roller
	width: 100%
	height: 637px
	position: absolute
	z-index: -1

.background-1
	background: url(../img/bg_afternoon.png) no-repeat top center

.background-2
	background: url(../img/bg_happypeople.png) no-repeat top center

.background-3
	background: url(../img/bg_ironman.png) no-repeat top center

.background-4
	background: url(../img/bg_mountain.png) no-repeat top center
	
.background-5
	background: url(../img/bg_lanterna.png) no-repeat top center

.background-6
	background: url(../img/bg_burncity.png) no-repeat top center

.background-7
	background: url(../img/bg_ocean.png) no-repeat top center

.background-8
	background: url(../img/bg_city.png) no-repeat top center

.background-9
	background: url(../img/bg_landing.jpg) no-repeat top center

.background-10
	background: url(../img/bg_city.jpg) no-repeat top center


/* Others
 * --------------------------------------------------------------------------

label.error
	background: #D34836
	color: #FFF
	font-size: 11px
	padding: 0px
	padding-left: 15px
	margin-top: 5px


/* Others
 * --------------------------------------------------------------------------

label.error
	background: #D34836
	color: #FFF
	font-size: 11px
	padding: 0px
	padding-left: 15px
	margin-top: 5px


/* OVER Bootstrap
 * --------------------------------------------------------------------------

.alert-error
	text-align: right

.accordion
	margin: 0
	.accordion-group
		@include border-radius(0px)
		border: none
		.accordion-inner
			border: none
			padding: 0

@media (max-width: 665px)
	ul.nav.pull-right, .btn-group.pull-right
		display: none

@media (max-width: 767px)
	[class*="span"], .row-fluid [class*="span"]
		float: left
		width: 700px

@media (max-width: 979px)
	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner
		padding: 0
	.navbar-fixed-top, .navbar-fixed-bottom
		position: fixed
	.input-large
		min-height: 20px
		box-sizing: inherit
		-webkit-box-sizing: inherit
		-moz-box-sizing: inherit

@media (max-width: 1200px)
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container
		width: 1170px
