/* --------------------------------------------------------------------------
	Icons
	-------------------------------------------------------------------------- */

.icon
	display: block
	text-indent: -9999px
	background: url(../img/peoplewings-sprite.png) no-repeat

.icon-pager
	@extend .icon
	width: 25px
	height: 25px

.icon-pager-previous
	@extend .icon-pager
	background-position: 8px 8px

.icon-pager-next
	@extend .icon-pager
	background-position: -42px 8px

.icon-public-state
	@extend .icon
	background: url(../img/icon-public-state.png) no-repeat
	width: 16px
	height: 11px
