/* --------------------------------------------------------------------------
 *	Icons
 * --------------------------------------------------------------------------

.icon
	display: block
	text-indent: -9999px
	background: $sprite


/*	Commons
 * --------------------------------------------------------------------------

.icon-pager
	@extend .icon
	width: 25px
	height: 25px

.icon-pager-previous
	@extend .icon-pager
	background-position: -12px -14px

.icon-pager-next
	@extend .icon-pager
	background-position: -61px -14px


/*	Messages
 * --------------------------------------------------------------------------

.icon-search
	background: url(../img/icon-search.png) no-repeat

.icon-back
	background: url(../img/icon-back.png) no-repeat 1px 2px


/*	Thread
 * --------------------------------------------------------------------------

.icon-public-state
	@extend .icon
	background: $sprite
	width: 16px
	height: 11px

.icon-search
	background: $sprite

.icon-back
	@extend .icon
	width: 15px
	height: 12px
	background: $sprite
	background-position: -567px -19px

.icon-lock
	@extend .icon
	background: $sprite
	width: 9px
	height: 12px

.icon-lock-open
	@extend .icon-lock
	background: $sprite
	height: 14px
