/* --------------------------------------------------------------------------
 * Notification Header
 * --------------------------------------------------------------------------

.searchbar
	padding: 12px 0
	padding-bottom: 5px
	overflow: hidden
	#search
		float: right
		input
			float: left
			font-size: 12px
			margin: 0
			width: 249px !important
			border-right: 0
			@include border-radius(2px, 0, 0, 2px)
		a
			padding: 1px 3px 2px 3px
			@include border-radius(0, 2px, 2px, 0)

.messages-header
	overflow: hidden
	position: relative
	.messages-tabs
		float: left
		cursor: pointer
		position: absolute
		bottom: 0
		#notification-type
			font-size: 11px
			margin-top: 0
			padding-left: 10px
			overflow: hidden
			li
				padding: 11px 16px
				background: #E1E0D9
				margin-right: 4px
				min-width: 40px
				text-align: center
				-webkit-border-radius: 4px 4px 0 0
				text-transform: uppercase
				font-style: italic
				font-weight: bold
				color: #000
				border-bottom: 1px solid #E1E0D9
				&:hover
					background: #FFF
					border-bottom: 1px solid #FFF
					color: #000
				a
					color: #000

			.button.selected
				background: white
				border-bottom: 1px solid #FFF
				color: black
	.button-bar
		float: right
		li:last-child
			border-right: 1px solid #DDD
		.button1
			color: #CCC
			width: auto
			border: 1px solid #DDD
			border-right: 1px solid #FFF
			border-bottom: none
			padding: 11px 25px
			@include bg-gradient(#FFF, #ECECE5)
			cursor: default
			font-size: 11px
