/* --------------------------------------------------------------------------
 * Request Options
 * --------------------------------------------------------------------------

div.request-options
	margin-left: 0
	border: 1px solid #D0CEC7
	border-bottom: none
	h1
		text-transform: capitalize
		font-weight: bold
		padding: 10px
		padding-left: 45px
	div.accepted h1
		color: #85c333
		background: $sprite
		background-position: 1px 1px
	div.maybe h1
		color: #fa9e03
		background: $sprite
		background-position: 1px 1px
	div.pending h1
		color: #ee4040
		background: $sprite
		background-position: 1px 1px
	div.denied h1
		color: #7e7b71
		background: $sprite
		background-position: 1px 1px
	div#wing-data
		padding: 14px
		background: #e1e0d9
		background-position: 1px 1px
		h2
			font-weight: bold
			padding-left: 3px
			margin-bottom: 4px
		span
			margin-left: 10px
		div#wing-accomodation-params
			div.control-group
				margin: 0
				margin-top: 10px
			div.controls
				margin: 0
				input
					margin: 0
					padding:
						top: 4px
						right: 6px
						bottom: 4px
						left: 10px
					&.input-sdate
						width: 97px
						background: $sprite
						background-position: 1px 1px
					&.input-edate
						width: 97px
						background: $sprite
						background-position: 1px 1px
				span
					margin: 0
			div.control-group.flexible-dates
				margin: 0
				label.checkbox
					display: inline-block
					font-size: 12px
					line-height: normal
					width: 115px
					padding: 6px 0
					padding-top: 8px
					input[type="checkbox"]
						float: none
						width: auto
						padding: 0
						margin-right: 10px
						margin-top: -2px
	textarea
		border: none
		width: 647px
		margin: 0px
		padding: 15px
		padding-top: 10px
		color: #000
		min-height: auto