/* --------------------------------------------------------------------------
 * Thread
 * --------------------------------------------------------------------------

// Arrow up

div.message-arrow
	background: none
	border-bottom: 1px solid #D0CEC7
	width: 100%
	overflow: visible
	height: 4px
	span
		display: block
		width: 12px
		height: 11px
		background: $sprite
		background-position: -18px -69px
		text-indent: -9999px
		position: relative
		top: -6px
		left: 85px

// Wing static description

li.wing-item
	div.messages-state
		padding: 15px 20px
		h2
			display: inline
			color: black
			font-size: 14px
		h3
			display: inline
			font-style: italic
			padding-left: 10px
			font-size: 14px
	div.messages-dates
		div.messages-dates-info
			padding: 15px 20px
			dt
				padding-left: 5px
			dd:last-child
				padding-left: 10px
				font-weight: bold
				font-style: normal

// First message and manage, navigation bar

div.messages-msg
	font-size: 12px
	color: gray
	background: none
	margin-top: 0
	border-top: 1px solid #D3D1CB
	padding: 0
	padding-top: 7px
	@include border-radius(0)
	div.floatality
		margin-bottom: 7px
		padding: 9px
		background: white
		min-height: 27px
		button, a
			float: left
		#delete-thread
			border-left: none
		.messages-pager
			float: right
			div.resultCounter
				font-size: 12px
				float: left
				padding: 5px
				padding-right: 10px
				span:first-child:after
					content: " - "
				span:last-child:before
					content: " of "
		div.button-group
			float: right
			a:first-child
				border-right: none

// Thread item

ul#notif-list
	margin-bottom: 50px

li.thread-item
	cursor: pointer
	float: none
	div.messages-header
		border: 1px solid #D0CEC7
		border-top: none
		background: #FFF
		width: auto
		div.messages-avatar
			float: left
			width: 65px
			height: 65px
			img
				width: 65px
				height: 65px
		div.messages-sender
			padding: 10px 15px 0 20px
			line-height: 16px
			float: left
			legend
				font-weight: bold
				color: #999
			h1
				display: inline
				a
					color: #000
					font-weight: bold
					&:hover
						color: #000
						text-decoration: underline
			span, h2
				color: #999
				display: inline
			h3
				font-style: italic
		div.messages-state
			padding: 8px 15px
			line-height: 16px
			h1.messages-name
				color: #000
				font-weight: bold
			h2
				text-transform: capitalize
				font-weight: bold
		div.messages-date-msg
			float: right
			padding: 12px 15px 12px 20px
			font-weight: bold
			color: #000
			text-align: right
			&.accepted h2
				color: #85c333
			&.maybe h2
				color: #fa9e03
			&.pending h2
				color: #ee4040
			&.denied h2
				color: #7e7b71
			span
				text-transform: capitalize
	div.messages-content
		padding: 24px
		padding-left: 84px
		border: 1px solid #D0CEC7
		border-top: none
		background: #FFF
		div.messages-params-box
			float: none
			dt, dd
				display: inline
				margin-right: 5px
			dd
				color: black
				font-weight: bold
				span
					font-weight: normal
		div.messages-msg
			border-top: 1px solid #D0CEC7
			margin-top: 15px
			padding-top: 15px
			color: #000
			float: none
	div#response-options
		padding: 10px 0 12px 18px
		margin-left: 65px
		span
			display: inline
			font-weight: bold
			color: #000
			cursor: pointer
	div#write-response
		float: right
		input, select, textarea
			font-size: 12px
		div.response-wrapper
			margin: 10px
			margin-left: 0
			border: 1px solid #D0CEC7
			div.state-flag
				i
					float: left
					width: 40px
					height: 40px
					text-indent: -9999px
				span
					display: block
					text-transform: capitalize
					font-weight: bold
					background: #f5f5f0
					padding: 10px 10px 10px 15px
					padding-left: 45px
			div.accepted i
				color: #85c333
				background: $sprite
				background-position: -2px -204px
			div.maybe i
				color: #fa9e03
				background: $sprite
				background-position: -102px -204px
			div.pending i
				color: #ee4040
				background: $sprite
				background-position: -52px -204px
			div.denied i
				color: #7e7b71
				background: $sprite
				background-position: -152px -204px
			form#wing-params-form
				border-bottom: 1px solid #d3d1ca
				input
					margin-bottom: 0
				div.response-header-dates
					span
						display: block
						font-weight: bold
						margin-right: 10px
			textarea
				border: none
				height: 72px
				width: 843px
				margin: 0px
				padding: 15px
				padding-top: 10px
				color: #000
		div#edit-wing-params
			background: #e1e0d9
			.response-header
				.response-header-dates
					padding: 14px
					h2
						padding-left: 3px
						margin-bottom: 4px
					span
						margin-left: 10px
					input.input-sdate
						width: 97px
						background: $sprite
						background-position: 71px -161px
						background-color: #fff
						padding-left: 10px
					input.input-edate
						width: 97px
						background: $sprite
						background-position: -32px -161px
						background-color: #fff
						padding-left: 10px
					select
						margin: 0
						margin-top: 6px
						background: $sprite
						background-position: -435px -12px
						background-color: #fff
	div.response-item
		background: #fff
		overflow: hidden
		border: 1px solid #D0CEC7
		border-top: none
		div.messages-avatar
			float: left
			line-height: 0
		div.button-group
			float: right
			margin-right: 10px
			button
				border-bottom: none
				min-width: 90px
				&:first-child
					margin-right: -3px
					border-right: none

// @TODO : refactor thread-item and notificacion-item common elements