/* --------------------------------------------------------------------------
   _Variables
   -------------------------------------------------------------------------- */


$ffamily: Helvetica, Arial, Sans-Serif
$ffamily-corp: 'Exo', Tahoma, Sans-Serif
$fcolor: #000

$background: #FFF

$blue-corp: #18183F
$blue-sign: rgba(30, 30, 57, 0.7) //#1E1E39

$yellow-corp: #FFFF00

$gray-clear: #EDEDE6
$gray-link: #848178

$footer-size: 75
$footer-unit: px