/* ==========================================================================
   Initial Config
   ========================================================================== */

@import _reset.sass
@import _variables.sass
@import _globals.sass
@import _effects.sass


/* ==========================================================================
   HTML Structure
   ========================================================================== */

#background-roller
	width: 100%
	height: 637px
	position: absolute
	z-index: -1

@import _header.sass

.navbar.nav.navbar-fixed-top
	background: rgba(0, 0, 0, 0.15)
	@include box-shadow(0px, 0px, 0px, #000)
	ul
		li
			a, &:after
				color: $blue-corp
			a:hover
				color: $yellow-corp
				text-decoration: none

#main
	margin-bottom: 8em
	#sharing
		margin-top: 7em
		h1
			background: url(../img/sharingpeople.png) no-repeat
			height: 158px
			text-indent: -9999px
		h2
			color: #FFFF00
			font:
				family: 'Exo'
				size: 1.7em
				weight: 900
				style: italic
			line-height: 0.78em
			letter-spacing: -1px
			@include borde(2.5px, #18183F)
			margin:
				top: 0.7em
				bottom: 0.3em
#categories
	overflow: hidden
	position: relative
	top: 11px
	ul
		li
			float: left
#landing-form
	padding: 0.6em
	background: rgba(0, 0, 0, 0.4)
	overflow: hidden
	@include radio(1em)
	form
		label
			color: #18183F
			margin: 0.2em
			margin-right: 0.5em
			font:
				family: 'Exo'
				size: 1.4em 
				weight: 900
				style: italic
			@include borde(1px, #FFFF00)
		input
			font:
				family: Arial
				size: 1em
			padding: 0.7em
			margin: 0.5em
			border: 1px solid #CCC
			@include radio(5px)
		input[type="submit"].search-button
			float: right
			padding: 0.5em 1em
			margin: 0.5em 0.2em 0 0
			@include radio(1em)
			color: #FFFF00
			background: #18183F
			font:
				family: 'Exo'
				size: 1.2em
				weight: 500
				style: italic
			line-height: 0.78em
			border: 2px solid #FFFF00
			@include transition(box-shadow, 0.5s)
			&:hover
				@include sombrac(0px, 0px, 20px, #FFFF00)
		#inputWings
			width: 15em
		#age
			width: 5.2em
		.arrow
			background: url(../img/arrow.png) no-repeat
			width: 12px
			height: 10px
			float: right
			text-indent: -9999px
			position: relative
			top: 17px
			right: 24px
	a
		margin:
			top: 0.6em
			left: 1em
#middle
	overflow: hidden
	#middle-content
		overflow: hidden
		margin:
			top: 3em
			bottom: 3em
		div
			width: 230px
			height: 133px
			float: left
			h1
				font:
					family: 'Exo'
					size: 1.4em
					weight: 900
					style: italic
				color: #18183F
			.light-500
				font-weight: 500

@import _footer.sass

/* ==========================================================================
	 Classes
	 ========================================================================== */


.share-wings
	margin-top: 0.6em
	font-size: 1em
	padding: 0.5em 1.3em

.all
	background: url(../img/icon_all.png) no-repeat
	&:hover
		background: url(../img/icon_all_pre.png) no-repeat

.transport
	background: url(../img/icon_transport.png) no-repeat
	&:hover
		background: url(../img/icon_transport_pre.png) no-repeat

.accommodation
	background: url(../img/icon_accommodation.png) no-repeat
	&:hover
		background: url(../img/icon_accommodation_pre.png) no-repeat

.travel
	background: url(../img/icon_trip.png) no-repeat
	&:hover
		background: url(../img/icon_trip_pre.png) no-repeat

.spot
	text-indent: -9999px
	margin-right: 0.6em

.house
	background: url(../img/spot_car.png) no-repeat

.car
	background: url(../img/spot_house.png) no-repeat

.trip
	background: url(../img/spot_trip.png) no-repeat

.offer
	margin-left: 0.7em
	width: 200px !important

.light-800
	font-weight: 800