/* --------------------------------------------------------------------------
 * Imports
 * --------------------------------------------------------------------------

@import _reset.sass
@import _mixins.sass
@import _font-face.sass

@import _variables1.sass
@import _normalize1.sass
@import _form-elements1.sass
@import _buttons1.sass

/* --------------------------------------------------------------------------
 * Styleguide
 * --------------------------------------------------------------------------

section
	border-bottom: 2px dotted #CCC
	padding: 20px

.title
	font-size: 34px
	font-weight: bold
	margin: 10px auto
