
@import _effects

/* ==========================================================================
	 Initial
	 ========================================================================== */

body
	font-family: 'Arial', sans-serif
	color: #000

a
	text-decoration: none
	color: #555
	&:hover
		color: #FFFF00

li
	list-style: none

div, ul, li
	display: block

/* ==========================================================================
	 HTML
	 ========================================================================== */

#background-roller
	width: 100%
	height: 637px
	position: absolute
	z-index: -1

header
	background: rgba(0, 0, 0, 0.15)
	height: 1.2em
	padding: 0.8em
	#header-content
		h1
			float: left
			position: relative
			background: url(../img/peoplewings.png) no-repeat
			text-indent: -9999px
			width: 237px
			height: 60px
		ul
			float: right
			font-size: 0.75em
			position: relative
			top: 0.6em
			li
				float: left
				a
					color: #18183F
					font-weight: bold
					&:hover
						color: #FFFF00
				.a-underline
					text-decoration: underline
				span
					color: #18183F
					margin-left: 0.8em
					margin-right: 0.8em
#main
	margin-bottom: 8em
	#sharing
		margin-top: 7em
		h1
			background: url(../img/sharingpeople.png) no-repeat
			height: 158px
			text-indent: -9999px
		h2
			color: #FFFF00
			font:
				family: 'Exo'
				size: 1.7em
				weight: 900
				style: italic
			line-height: 0.78em
			letter-spacing: -1px
			@include borde(2.5px, #18183F)
			margin:
				top: 0.7em
				bottom: 0.3em
#categories
	overflow: hidden
	position: relative
	top: 20px
	ul
		li
			float: left
#landing-form
	padding: 0.6em
	background: rgba(0, 0, 0, 0.4)
	overflow: hidden
	@include radio(1em)
	form
		float: left
		margin-right: 1em
		label
			color: #18183F
			margin: 0.5em
			font:
				family: 'Exo'
				size: 1.4em 
				weight: 900
				style: italic
			@include borde(1px, #FFFF00)
		input
			font:
				family: Arial
				size: 1em
			padding: 0.7em
			margin: 0.5em
			border: 1px solid #CCC
			@include radio(5px)
		#inputWings
			width: 15em
		#age
			width: 5.2em
		select
			height: 3.5em
		span
			background: #FFF
	a
		margin-top: 0.6em
#middle
	overflow: hidden
	border-bottom: 2px solid #EEE
	#middle-content
		overflow: hidden
		margin:
			top: 3em
			bottom: 3em
		div
			width: 230px
			height: 133px
			float: left
			h1
				font:
					family: 'Exo'
					size: 1.4em
					weight: 900
					style: italic
				color: #18183F
			.light-500
				font-weight: 500

footer
	background: #DDD
	padding: 0.2em
	#footer-content
		overflow: hidden
		font-size: 0.7em
		color: #555
		padding-top: 1.5em
		div
			float: left
			ul
				li
					float: left
					margin-right: 1.5em
				.brand
					font-weight: bold
		#terms
			position: relative
			left: 23em
		#follow
			float: right
			h1
				float: left
				margin-right: 1.5em
				font-weight: bold
			ul
				float: left
				position: relative
				top: -10px
				li
					float: left
					margin-right: 0.2em

/* ==========================================================================
	 Classes
	 ========================================================================== */

.limits
	max-width: 960px
	margin-left: auto
	margin-right: auto

.search-button
	float: left
	padding: 0.5em 1em
	@include radio(1em)
	color: #FFFF00
	background: #18183F
	font:
		family: 'Exo'
		size: 1.2em
		weight: 500
		style: italic
	line-height: 0.78em
	border: 2px solid #FFFF00
	@include transition(box-shadow, 0.5s)
	&:hover
		@include sombrac(0px, 0px, 20px, #FFFF00)

.share-wings
	margin-top: 0.6em
	font-size: 1em
	padding: 0.5em 1.3em

.icon
	float: left
	width: 55px
	height: 80px
	margin-right: 0.5em
	text-indent: -9999px

.all
	background: url(../img/icon_all.png) no-repeat
	&:hover
		background: url(../img/icon_all_selected.png) no-repeat

.transport
	background: url(../img/icon_transport.png) no-repeat
	&:hover
		background: url(../img/icon_transport_selected.png) no-repeat

.accommodation
	background: url(../img/icon_accommodation.png) no-repeat
	&:hover
		background: url(../img/icon_accommodation_selected.png) no-repeat

.travel
	background: url(../img/icon_trip.png) no-repeat
	&:hover
		background: url(../img/icon_trip_selected.png) no-repeat

.follow
	width: 33px
	height: 33px

.facebook
	background: url(../img/icon_fb.png) no-repeat

.twitter
	background: url(../img/icon_tw.png) no-repeat

.youtube
	background: url(../img/icon_yt.png) no-repeat

.spot
	text-indent: -9999px
	margin-right: 0.6em

.house
	background: url(../img/spot_car.png) no-repeat

.car
	background: url(../img/spot_house.png) no-repeat

.trip
	background: url(../img/spot_trip.png) no-repeat

.offer
	margin-left: 0.7em
	width: 200px !important

.light-800
	font-weight: 800


.background-1
	background: url(../img/bg_afternoon.png) no-repeat

.background-2
	background: url(../img/bg_happypeople.png) no-repeat

.background-3
	background: url(../img/bg_ironman.png) no-repeat

.background-4
	background: url(../img/bg_mountain.png) no-repeat
	
.background-5
	background: url(../img/bg_lanterna.png) no-repeat

.background-6
	background: url(../img/bg_burncity.png) no-repeat

.background-7
	background: url(../img/bg_ocean.png) no-repeat
