@import _reset.sass
@import _mixins.sass
@import _globals.sass


/* --------------------------------------------------------------------------
 * Globals
 * --------------------------------------------------------------------------

body
	font-family: Helvetica, Arial, sans-serif
	background: #f5f5f0

div
	line-height: 20px

a, a:hover
	text-decoration: none

select
	font-size: 12pxf
	color: gray
	padding: 0
	padding-left: 10px
	margin-left: 0
	background: $sprite #FFF
	background-position: -345px -11px
	@include border-radius(3px)


/* --------------------------------------------------------------------------
 * Commons
 * --------------------------------------------------------------------------

.button1
	@include appearance(none)
	text-transform: uppercase
	margin: 0
	padding: 14px
	width: 190px
	border: none
	border:
		top: 1px solid #D0CEC7
		bottom: 1px solid #D0CEC7
	font-style: italic
	text-shadow: 1px 1px #EEE
	color: #848178
	@include bg-gradient(#f5f5f0, #e1e0d9)
	&:hover
		background: #FFF
	&:active
		@include bg-gradient(#FFEB00 , #FBFAC5)

.button2
	border: none
	border-left: 1px solid #d0cec7
	float: right
	@include bg-gradient(#FFF, #ecece5)
	padding: 11px 25px
	span
		background-position: left
		padding-left: 25px
		padding-right: 10px

.button2.yellow
	@include bg-gradient(#ffff00, #ffea00)
	&:hover
		background: #FFF
	&:active
		@include bg-gradient(#ffeb00, #fbfac5)

a.another
	display: block
	font:
		size: 12px
		style: italic
	text-align: right
	margin: 10px 0
	margin-bottom: 0
	&:hover
		text-decoration: underline
		color: #000

button.close
	@include opacity(1)
	background: none
	color: #999
	font-style: normal !important
	&:hover
		@include opacity(1)


/* --------------------------------------------------------------------------
 * Structure
 * --------------------------------------------------------------------------

.container
	max-width: 960px
	margin: 0 auto
	overflow: hidden
	margin-bottom: 4em

	h2, label
		color: #999
		font-size: 12px

	.landscape
		min-height: 270px
		padding: 27px
		background: url(../img/landscape-photo.jpg) no-repeat
		position: relative
		margin-bottom: 8px

		.tabs
			position: absolute
			bottom: 25px
			left: 200px

			.nav-tabs
				position: relative
				left: 0

			li
				background: rgba(255, 255, 255, 0.5)
				margin-right: 8px
				@include border-radius(6px)

				a
					text-indent: 0
					height: auto
					text-align: center
					display: block
					padding: 15px 25px
					text-transform: uppercase
					font:
						size: 13px
						style: italic
					text-shadow: 1px 1px #000
					@include border-radius(6px)
					color: #FFF
					width: auto
					&:hover, &:active
						background: #f5f5f0
						color: $gray-link
						text-shadow: none
						font-weight: bold

			.active
				background: #f5f5f0
				color: $gray-link
				a
					color: $gray-link
					text-shadow: none
					font-weight: bold

		.people, .stars
			float: right
			width: 60px
			height: 60px
			background: #FFF
			margin-left: 10px
			@include border-radius(6px)

		.personal-info
			background: #FFF
			background: rgba(255, 255, 255, 0.9)
			width: 375px
			float: right
			position: absolute
			bottom: 27px
			right: 0
			border: 1px solid #DDD

			button
				@include appearance(none)
				padding: 14px 24px
				margin: 0
				border: none
				font:
					weight: bold
					style: italic
				background: none
				text-shadow: 1px #EEE
				border-right: 1px solid #d2d2d2
				text-transform: uppercase
				color: #000
				&:hover
					background: #FFF
					cursor: pointer
				&:active
					@include bg-gradient(#FFEB00 , #FBFAC5)

			.button-bar
				border-top: 1px solid #d2d2d2
				ul > li
					float: left

			.content-top
				padding: 20px

				h1.name
					font:
						size: 21px
						weight: bold
					display: inline
					a
						text-decoration: none
						color: #000
						&:hover
							color: #01A6DA

				span
					margin-left: 0.2em

				span.age
					font-size: 14px

				span.online
					color: #999
					font:
						style: italic
						size: 13px

				h2.home-town
					font-size: 16px

				h3.current-location
					color: #999
					font-size: 13px
					margin-top: 3px

				p
					font-size: 13px
					white-space: nowrap
					text-overflow: ellipsis
					overflow: hidden
					line-height: 20px

	.tab-content

		.content-left
			float: left
			background: #e1e0d9
			width: 190px
			border: 1px solid #d0cec7
			border-bottom: none

			.avatar
				width: 172px
				height: 172px
				padding: 8px
				padding-left: 9px
				cursor: pointer
				border-bottom: 1px solid #D0CEC7

			.box
				padding: 15px 20px
				border-bottom: 1px solid #D0CEC7
				overflow: hidden

			.rate-info
				h2
					float: left
					width: 75px

				p
					display: block
					font:
						size: 16px
						weight: bold
					margin-left: 20px

			.basic-info
				font-size: 12px
				h1
					color: #808080
					font:
						size: 16px
						weight: bold
					margin-bottom: 10px
				p, li
					color: #000
					float: none

				p, li:last-child
					margin-bottom: 10px
				li
					text-transform: capitalize

				form
					input
						height: 30px
						width: 150px
						font-size: 12px
					select
						padding: 0
						padding-left: 10px
						margin: 0
						margin-top: 3px
						background: $sprite #FFF
						background-position: 130px
					.size-large.lock-info
						width: 121px
						background-position: -373px -12px !important
					span.lock
						float: right
						padding: 11px 8px

			div.edit-click
				background: #FFF
				@include transition(opacity, 0.25s)
				@include opacity(0)
				position: relative
				top: -177px
				text-transform: uppercase
				font:
					size: 12px
					style: italic
					weight: bold
				text-transform: uppercase
				text-shadow: 1px 1px #FFF
				text-align: center
				padding: 12px
				height: 172px
				padding-top: 130px
				box-sizing: border-box
				&:hover
					@include opacity(0.6)

			.basic-info-footer
				padding: 0
				button
					width: 50%
					border-left: none
					border-bottom: 1px solid #d0cec7
				.button2.yellow
					border-left: 1px solid #d0cec7

		.content-right
			float: left
			width: 768px

			/* box-standard */

			.box-standard
				float: left
				width: 374px
				background: #FFF
				color: #808080
				margin:
					bottom: 8px
					left: 8px
				border: 1px solid #d0cec7
				overflow: hidden

				.box-header
					border-bottom: 1px solid #d0cec7
					min-height: 44px
					& > i
						margin: 9px
						margin-left: 19px
						float: left
					h2
						float: left
						font:
							size: 14px
							weight: bold
						padding: 12px 0
						text-shadow: 1px 1px #FFF
					.button-edit-info
						float: right
						line-height: 24px
						border:
							top: none
							right: none
							bottom: none

					.btn-group.pull-right
						margin-top: 11px
						margin-right: 12px
						a
							padding: 0

				.box-content
					overflow: hidden
					padding: 25px
					//height: 450px
					p
						color: #000
						font-size: 12px
						padding-bottom: 12px
						margin-bottom: 12px
						border-bottom: 1px solid #DDD

				.wings-info, .contact-info
					h2
						float: left
						margin-right: 10px
					p
						min-height: 20px
					.last-p
						float: none

				.gradient-box
					background: url(../img/gradient-transparent.png) repeat-x left top
					height: 100px
					position: relative
					margin: -100px 0 0 0

				.accordion-body.collapse
					height: 362px
					min-height: 362px

				.accordion-heading
					background: #FFF
					border-top: 1px solid #D0CEC7
					overflow: hidden
					cursor: pointer
					span
						background: $sprite
						background-position: -658px -8px
						text-transform: uppercase
						font-weight: bold
						font-size: 13px
						text-align: center
						padding: 9px 34px
						display: block
						width: 74px
						margin: 0 auto
						display: block

				.button-group
					float: right
					overflow: hidden
					button
						min-width: 90px
						border:
							top: none
							bottom: none
						&:last-child
							margin-left: -4px
						&:last-child
							border:
								left: none
								right: none

			/* EOF box-standard */

			/* box-standard.maps */

			.box-standard.maps
				clear: both
				width: 758px
				margin-left: 8px
				overflow: hidden

				.box-content
					border-top: 1px solid #D0CEC7
					label
						padding: 5px 12px
						padding-left: 24px
						background-position: left
						width: 100px
						float: left
					input
						font-size: 12px
						padding-left: 10px
						margin-bottom: 10px
						width: 210px
					.controls
						margin-left: 150px
						margin-right: 308px
					.controls.lived
						label.radio
							float: right
							margin-right: 175px
						a
							float: none
							margin: 0

			.maps-legend
				overflow: hidden
				border-top: 1px solid #D0CEC7
				li
					display: inline
					font-size: 12px
					padding: 10px
					padding-left: 20px
					line-height: 24px
					span
						margin-left: 5px
					i
						float: left

			/* EOF box-standard.maps */

			.contact-info
				dt, dd, span
					font: normal 12px / 12px Arial
				dt
					float: left
					margin-right: 10px
				dd
					color: #000
					padding-bottom: 12px
					margin-bottom: 12px
					border-bottom: 1px solid #DDD
					&.dt-title
						color: #808080
				div
					line-height: 0
				span
					display: block
					margin-bottom: 12px

				div.dl-list
					dt
						color: #000
					dd
						border: none
						margin: 0
						&:last-child
							border-bottom: 1px solid #DDD
							margin-bottom: 12px

			.box-standard.contact-info

				.box-content
					.control-group
						label
							padding:
								top: 0
								left: 0
							> label
								padding: 0

						input[type="text"]
							width: 140px
							margin: 0

						input[name="emails"]
							width: 299px

						input[type="radio"]
							margin:
								top: 2px
								right: 10px

						select
							float: left
							width: 150px
							margin: 0
							margin-right: 8px

@import _footer.sass

.box-content

	#religion-input
		margin-bottom: 20px

		.controls
			line-height: 0

			.help-block
				margin: 0

	textarea
		width: 300px !important
		font-size: 12px
		padding: 10px
		margin: 0

	input[type="text"]
		font-size: 12px
		width: 300px
		margin: 0

	#education-list
		input[type="text"]
			margin-bottom: 10px

.box-center.wings1
	h2
		float: left
		margin-right: 10px
	p
		margin-bottom: 12px

.separator
	//border-bottom: 1px solid #CECECE
	//margin-bottom: 8px

#languages-list
	overflow: hidden
	div
		margin-bottom: 10px

.guest-message
	padding: 25px
	background: #F5F5F0
	border-bottom: 1px solid #CCC
	h2
		float: left
		font-weight: bold
		width: auto
		height: auto
		margin: 0
		padding: 0
		background-position: 195px 4px
		margin-bottom: 7px
	i
		float: left
		margin-left: 10px
		margin-top: 4px
	p
		font-style: italic
		color: gray
		font-size: 12px
		clear: both

.box-content.wings-info
	label
		padding: 0
		margin: 0
	input, select
		margin: 0
	.control-group
		margin-bottom: 18px
		.control-label
			padding: 0 0 0 1px
			margin-bottom: 12px
		.controls
			.input-sdate
				width: 90px
				background: $sprite
				background-position: 75px center
			.input-edate
				width: 90px
				background: $sprite
				background-position: 75px center
			.checkbox
				float: left
				margin: 0 10px 0 0
				padding: 0
				line-height: 12px
				input
					margin-right: 10px
		.controls.check
			.checkbox
				float: none
	.lined
		margin-bottom: 10px
		input[type="checkbox"]
			margin-top: 8px
		.control-label
			float: left
			padding: 5px 0 5px 1px
			margin: 0 10px 0 0
		.controls
			margin-left: 80px
	.blocked
		display: block
		float: left
		clear: none
		margin-right: 12px
		.control-label
			float: none
			margin: 0 0 6px 0
			.controls
				margin: 0
	.no-margin
		margin-right: 0

	div.control-group:last-child
		margin-bottom: 0

	div.control-group
		.controls:last-child
			line-height: 0

h1.guest-message
	border-top: 1px solid #D0CEC7

.listing-location
	padding: 25px
	overflow: hidden

	input
		font-size: 12px
		color: #999

	label
		float: left
		margin-left: 2px

	i
		float: left
		margin-left: 10px
		margin-top: 4px

	.icon-lock-open
		margin-top: 2px

	input
		margin: 0

	.blocked
		display: block
		float: left
		clear: none
		margin-right: 12px

	.control-label
		margin: 0 0 6px 0
		.controls
			margin: 0

.accordion-heading
	clear: both

.info
	.button-basic-info
		width: 150px
		padding: 10px 20px
		border-left: 0
		border-top: 0
		line-height: 27px
		text-align: left
		i
			margin: 0 10px
		.icon-add-wings
			margin: 0 10px 0 20px

/* OVER Bootstrap */

.form-actions
	padding: 0
	margin: 0
	border: none
	background: none

.box-content
	.control-group
		margin: 0
		clear: both

.help-block
	margin: 0
	display: inline

.box-standard
	form
		.box-content
			label
				margin-bottom: 10px
		.control-group
			margin-bottom: 20px
			.category-another
				float: left

.box-standard.maps
	.control-group
		margin-bottom: 0
		label, input
			margin: 0

/* HELLO MIGUEL ANGEL */
ul.dropdown-menu
	padding: 15px
	@include border-radius(0)
	@include box-shadow(1px, 1px, 2px, #CCC)
	li
		float: none
		a
			font-size: 12px
			color: #999
			&:hover, &:focus
				@include bg-gradient(#FFFF00, #FFEA00)

/* EOF OVER Bootstrap */
