
body
	background: #f5f5f0

@import _effects1.sass

.profile
	font-family: Arial
	margin: 2em
	border: 1px solid #ccccd3
	max-width: 697px
	margin-right: auto
	margin-left: auto
	line-height: 1.3em

	div
		display: block

	.online-dot
		float: left
		width: 18px
		height: 18px
		background: #00FF00
		background: url(../img/online-corner.png) no-repeat left top
		text-indent: -9999px
		position: relative
		top: -1px
		left: -1px
		z-index: 1

	.content-left
		float: left

		.avatar
			width: 175px
			height: 175px

			img
				width: 175px
				height: 175px
				position: relative
				top: -18px

	.content-right
		background: #FFF

		.personal-info
			padding: 1.5em
			padding-bottom: 0.9em
			max-width: 474px
			max-height: 95px
			overflow: hidden

			h1.name
				font:
					size: 1.3em
					weight: bold
				display: inline
				a
					text-decoration: none
					color: #000
					&:hover
						color: #01A6DA

			span
				margin-left: 0.2em

			.age
				font-size: 0.9em

			.online
				color: #808080
				font:
					style: italic
					size: 0.8em

			h2.home-town

			h3.current-location
				color: #808080
				font-size: 0.9em
				margin-bottom: 0.8em

			h4
				display: inline
				font-size: 0.8em

			.languages-tag
				color: #808080
				margin-right: 1em

			.languages
				color: #000

		.main-bar
			font-size: 0.7em
			color: #808080
			@include bg_gradient(#ffffff, #ecece5)
			border-top: 1px solid #e5e5e5
			border-bottom: 1px solid #d0cec7
			overflow: hidden
			max-height: 40px

			div
				float: left

			.info-bar
				padding: 1em 0em 0em 2.1em
				overflow: hidden
				max-height: 20px

				span
					float: left
					margin-right: 0.8em

				.results
					font:
						size: 1.4em
						weight: bold
					color: #000

			.button-bar
				float: right

				li
					float: left

				a.button
					display: block
					padding: 0.9em 1.3em
					font:
						style: italic
						//weight: bold
					color: #808080
					text-decoration: none
					text-transform: uppercase
					border:
						left: 1px solid #CECDCE
						right: 1px solid #FFF

					&:hover
						color: #000
						@include bg_gradient(#ffff00, #ffea00)

	.content-bottom
		clear: both
		color: #808080
		background: #FFF
		font-size: 0.8em

		.about-info
			padding: 2.1em
			overflow: hidden

			h1
				font-size: 1.3em
				margin-bottom: 0.6em
				float: left

			h2
				font:
					size: 0.9em
					style: italic
				float: right
			
			p
				color: #AAA
				clear: both

			&:active
				height: 0px
				@include transition(height, 2s)

		.about-footer
			border-top: 1px solid #e5e5e5
			padding: 0.8em
			overflow: hidden

			h1, span
				float: left
				position: relative
				left: 17em

			span.more-about
				background: url(../img/arrow_about.png) no-repeat 12px center
				text-indent: -9999px

			h1
				text-align: center
