@import _reset.sass
@import _effects.sass
@import _globals.sass

/* --------------------------------------------------------------------------
   Globals
   -------------------------------------------------------------------------- */

body
	font-family: "Helvetica Neue", Arial
	background: #f5f5f0

div
	line-height: 20px

a, a:hover
	text-decoration: none

select
	font-size: 12px
	color: gray
	padding: 0
	padding-left: 10px
	margin-left: 0
	background: url(../img/mini-arrow.png) no-repeat 125px 13px #FFF
	@include border-radius(3px)

/* --------------------------------------------------------------------------
   Commons
   -------------------------------------------------------------------------- */

.button1
	@include appearance(none)
	text-transform: uppercase
	margin: 0
	padding: 14px
	width: 190px
	border: none
	border:
		top: 1px solid #D0CEC7
		bottom: 1px solid #D0CEC7
	font-style: italic
	text-shadow: 1px 1px #EEE
	color: #848178
	@include bg-gradient(#f5f5f0, #e1e0d9)
	&:hover
		background: #FFF
	&:active
		@include bg-gradient(#FFEB00 , #FBFAC5)

.button2
	border: none
	border-left: 1px solid #d0cec7
	float: right
	@include bg-gradient(#FFF, #ecece5)
	padding: 11px 25px
	span
		background-position: left
		padding-left: 25px
		padding-right: 10px

.button2.yellow
	@include bg-gradient(#ffff00, #ffea00)
	&:hover
		background: #FFF
	&:active
		@include bg-gradient(#ffeb00, #fbfac5)

.another
	display: block
	font:
		size: 12px
		style: italic
	float: right
	margin: 12px 14px
	margin-bottom: 0
	&:hover
		color: red
		text-decoration: underline


/* --------------------------------------------------------------------------
   Icons
   -------------------------------------------------------------------------- */

.about-icon
	background: url(../img/about-icon.png) no-repeat 27px 14px

.likes-icon
	background: url(../img/like-icon.png) no-repeat 27px 14px

.contact-icon
	background: url(../img/contact-icon.png) no-repeat 20px center

.edit-icon
	background: url(../img/edit-icon.png) no-repeat 18px center

.add-friend-icon
	background: url(../img/add-friend.png) no-repeat 18px center

.house-icon
	background: url(../img/house-icon.png) no-repeat 22px center

.places-icon
	background: url(../img/places-icon.png) no-repeat 23px 11px

.places-current-icon
	background: url(../img/places-current-icon.png) no-repeat 12px center

.places-lived-icon
	background: url(../img/places-lived-icon.png) no-repeat 12px center

.places-home-icon
	background: url(../img/places-home-icon.png) no-repeat 12px center

.lock-icon
	background: url(../img/lock-icon.png) no-repeat
	width: 9px
	height: 12px
	float: left
	margin: 10px
	margin-top: 11px

/* --------------------------------------------------------------------------
   Structure
   -------------------------------------------------------------------------- */

.container
	max-width: 960px
	margin: 0 auto
	overflow: hidden
	margin-bottom: 4em

	h2, label
		color: #999
		font-size: 12px

	.landscape
		min-height: 270px
		padding: 27px
		background: url(http://lorempixel.com/960/325/city/7) no-repeat center top
		position: relative
		margin-bottom: 8px

		.tabs
			position: absolute
			bottom: 25px
			left: 200px

			.nav-tabs
				position: relative
				left: 0

			li
				background: rgba(255, 255, 255, 0.5)
				margin-right: 8px
				@include border-radius(6px)

				a
					text-indent: 0
					height: auto
					text-align: center
					display: block
					padding: 15px 25px
					text-transform: uppercase
					font:
						size: 13px
						style: italic
					text-shadow: 1px 1px #000
					@include border-radius(6px)
					color: #FFF
					&:hover, &:active
						background: #f5f5f0
						color: $gray-link
						text-shadow: none
						font-weight: bold

			.active
				background: #f5f5f0
				color: $gray-link
				a
					color: $gray-link
					text-shadow: none
					font-weight: bold

		.people, .stars
			float: right
			width: 60px
			height: 60px
			background: #FFF
			margin-left: 10px
			@include border-radius(6px)

		.personal-info
			background: #FFF
			background: rgba(255, 255, 255, 0.9)
			width: 375px
			float: right
			position: absolute
			bottom: 27px
			right: 0
			border: 1px solid #DDD

			button
				@include appearance(none)
				padding: 14px 24px
				margin: 0
				border: none
				font:
					weight: bold
					style: italic
				background: none
				text-shadow: 1px #EEE
				border-right: 1px solid #d2d2d2
				text-transform: uppercase
				color: #000
				&:hover
					background: #FFF
					cursor: pointer
				&:active
					@include bg-gradient(#FFEB00 , #FBFAC5)

			.button-bar ul > li
				float: left

			.content-top
				padding: 20px
				border-bottom: 1px solid #d2d2d2
				padding-bottom: 10px
				margin-bottom: 20px

				h1.name
					font:
						size: 21px
						weight: bold
					display: inline
					a
						text-decoration: none
						color: #000
						&:hover
							color: #01A6DA

				span
					margin-left: 0.2em

				span.age
					font-size: 14px

				span.online
					color: #999
					font:
						style: italic
						size: 13px

				h2.home-town
					font-size: 16px

				h3.current-location
					color: #999
					font-size: 13px
					margin-top: 3px

				p
					font-size: 13px
					white-space: nowrap
					text-overflow: ellipsis
					overflow: hidden
					line-height: 20px

	.tab-content

		.content-left
			float: left
			background: #e1e0d9
			width: 190px
			border: 1px solid #d0cec7
			border-bottom: none

			.avatar
				width: 172px
				height: 172px
				margin: 8px
				margin-left: 9px

			.box
				padding: 15px 20px
				border-bottom: 1px solid #D0CEC7

			.rate-info
				h2
					float: left
					width: 75px

				p
					display: block
					font:
						size: 16px
						weight: bold
					margin-left: 20px

			.basic-info
				font-size: 12px
				h1
					color: #808080
					font:
						size: 16px
						weight: bold
					margin-bottom: 10px
				p, li
					color: #000
					float: none

				p, li:last-child
					margin-bottom: 10px
				li
					text-transform: capitalize

				form
					select
						padding: 0
						padding-left: 10px
						margin: 0
						margin-top: 3px
						background: url(../img/mini-arrow.png) no-repeat #FFF
					.size-small
						width: 57px
						background-position: 40px
					.size-medium
						width: 90px
						background-position: 70px
					.size-large
						width: 150px
						background-position: 130px
					.size-large.lock-info
						width: 121px
						background-position: 101px
					input
						height: 30px
						width: 150px
						font-size: 12px

			.basic-info-footer
				padding: 0
				button
					width: 100%
					border-left: 0

		.content-right
			float: left
			width: 768px

			/* box-standard */

			.box-standard
				float: left
				width: 374px
				background: #FFF
				color: #808080
				margin:
					bottom: 8px
					left: 8px
				border: 1px solid #d0cec7
				overflow: hidden

				.box-header
					border-bottom: 1px solid #d0cec7
					overflow: hidden
					h1
						float: left
						font:
							size: 14px
							weight: bold
						text-shadow: 1px 1px white
						padding: 12px 10px 10px 50px
						overflow: hidden
						text-overflow: ellipsis
						white-space: nowrap

				.box-content
					overflow: hidden
					padding: 25px
					//height: 450px
					p
						color: #000
						font-size: 12px
						padding-bottom: 20px
						margin-bottom: 20px
						border-bottom: 1px solid #DDD

				.wings1
					p
						padding-bottom: 12px
						margin-bottom: 12px
					.something
						float: none


				.gradient-box
					background: url(../img/gradient-transparent.png) repeat-x left top
					height: 100px
					position: relative
					margin: -100px 0 0 0

				.box-footer
					background: #FFF
					border-top: 1px solid #e5e5e5
					overflow: hidden

					.see-more
						float: left
						margin: 0.7em

						p, span
							float: left
							padding: 0

						span.more-about
							background: url(../img/arrow_about.png) no-repeat 15px center
							text-indent: -9999px

						p
							font-size: 12px
							text-align: center
							text-transform: uppercase
							margin: 0
							border-bottom: 0

			/* EOF box-standard */

			/* box-standard.maps */

			.box-standard.maps
				clear: both
				width: 758px
				margin-left: 8px
				overflow: hidden

			.maps-footer
				overflow: hidden
				padding-left: 10px
				border-top: 1px solid #D0CEC7
				border-bottom: 1px solid #D0CEC7
				li
					display: inline
					margin-right: 10px
					a
						display: block
						font-size: 12px
						padding: 10px 0 10px 35px
						&:hover
							color: red

			.maps-footer-2
				padding: 24px
				label
					padding: 5px 12px
					padding-left: 24px
					background-position: left
					width: 100px
					float: left
				input
					font-size: 12px
					padding-left: 10px
				.controls
					margin-left: 150px
				.controls.lived
					label.radio
						float: right
						margin-right: 175px
					a
						float: none
						margin: 0

			/* EOF box-standard.maps */

			.box-standard.contact-info
				.guest-message
					padding: 27px
					background: #F5F5F0
					h2
						font-weight: bold
					p
						font-style: italic
						color: gray
						font-size: 12px

				.box-content
					.control-group
						label
							padding:
								top: 0
								left: 0
							> label
								padding: 0

						input[type="text"]
							width: 140px
							margin: 0

						input[name="emails"]
							width: 299px

						input[type="radio"]
							margin:
								top: 2px
								right: 10px

						select
							float: left
							width: 150px
							margin: 0
							margin-right: 8px

					label.radio
						color: #000
						margin-left: 223px
						padding-top: 5px

@import _footer.sass

.box-content

	#religion-input
		margin-bottom: 20px

		.controls
			line-height: 0

			.help-block
				margin: 0

	label
		padding: 14px 10px 10px 5px
		> label
			padding: 0

	textarea
		width: 300px !important
		font-size: 12px
		padding: 10px
		margin: 0

	input[type="text"]
		font-size: 12px
		width: 300px
		margin: 0

	#education-list
		input[type="text"]
			margin-bottom: 10px

.box-center.wings1
	h2
		float: left
		margin-right: 10px
	p
		margin-bottom: 12px

.separator
	border-bottom: 1px solid #CECECE
	padding-bottom: 10px
	margin-bottom: 8px

#languages-list
	overflow: hidden

/* OVER Bootstrap */

.form-actions
	padding: 0
	margin: 0
	border: none
	background: none

.box-content
	.control-group
		margin: 0
		clear: both

.help-block
	margin: 0
	display: inline

/* EOF OVER Bootstrap */