/* ==========================================================================
   Initial Config
   ========================================================================== */

@import _reset.sass
@import _variables.sass
@import _globals.sass
@import _effects.sass


/* ==========================================================================
   HTML Structure
   ========================================================================== */

#background-roller
	width: 100%
	height: 637px
	position: absolute
	z-index: -1

@import _header.sass

#main
	height: 491px

	form#register-form
		float: right
		background: $blue_sign
		padding: 27px 14px
		padding-top: 0px
		margin: 27px
		@include border-radius(12px)
		width: 470px

		input[type="text"],
		input[type="password"],
		input[type="email"],
		select
			font-size: 13px
			padding: 8px
			@include border-radius(4px)
			@include appearance(none)
			border: 1px solid #79766c
			color: #000
			line-height: 15px
			margin: 0
			margin:
				right: 4px
				bottom: 4px

		input[type="text"],
		input[type="password"]
			max-width: 140px

		input[type="checkbox"]
			float: left
			margin-right: 11px

		span.signal
			float: left
			text-indent: -9999px
			height: 16px
			width: 15px
			background: url(../img/signal.png) no-repeat
			position: relative
			bottom: 16px
			left: 200px
			@include opacity(0.7)

		legend
			float: right
			position: relative
			right: 10px
			bottom: 13px
			width: 107px
			height: 28px
			text-indent: -9999px
			background: url(../img/signup.png) no-repeat

		.clear
			clear: both

		.control-label
			float: left
			color: #FFF
			width: 100px
			padding: 11px
			text-shadow: 1px 1px 1px #000
			font-size: 14px

		.controls
			margin-left: 125px

			input[type="email"]
				width: 303px

			select
				background: url(../img/mini-arrow.png) no-repeat 74px center white
				height: 35px

			.select-mini
				width: 97px

			.select-medium
				width: 120px
				background-position: 94px center

			.terms
				margin-left: 117px

		.accepts
			margin-left: 98px


		.terms
			color: #FFF
			font-size: 12px
			line-height: 18px
			p
				margin: 12px 0px
			a
				color: #FFFF00
				&:hover
					text-decoration: underline
					cursor: pointer

		button.btn-peoplewings
			margin-top: 20px
			text-transform: uppercase
			padding: 4px 20px
			@include border-radius(20px)
			color: #FFFF00
			background: #18183F
			font:
				family: 'Exo', Tahoma, Sans Serif
				size: 18px
				weight: 500
				style: italic
			border: 2px solid #FFFF00
			@include transition(box-shadow, 0.5s)
			&:hover
				@include box-shadow(0px, 0px, 20px, #FFFF00)
				cursor: pointer

#middle
	background: #FFF
	#middle-content
		overflow: hidden
		margin:
			top: 3em
			bottom: 3em
		div
			width: 230px
			height: 133px
			float: left
			h1
				font:
					family: 'Exo'
					size: 1.4em
					weight: 900
					style: italic
				color: $blue_corp
			.light-500
				font-weight: 500

@import _footer.sass