body {
  background: #f5f5f0; }

/* ==========================================================================
 * Containers and Columns
 * ========================================================================== */
.container {
  margin-right: auto;
  margin-left: auto;
  width: 960px; }

.span8 {
  width: 700px; }

.span4 {
  width: 230px; }

/* ==========================================================================
 * Header
 * ========================================================================== */
.navbar.nav.navbar-fixed-top {
  height: 45px;
  background: #edede6;
  box-shadow: 0px 1px 4px silver;
  -moz-box-shadow: 0px 1px 4px silver;
  -webkit-box-shadow: 0px 1px 4px silver; }

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

.navbar-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  background: none; }

.navbar .brand {
  float: left;
  background: url(../img/peoplewings.png) no-repeat;
  margin: 0;
  margin-top: 13px;
  width: 237px;
  height: 60px;
  text-indent: -9999px;
  padding: 0px; }

.navbar .nav > li > a {
  font-size: 11px;
  padding: 0;
  padding-top: 16px;
  text-shadow: none; }
  .navbar .nav > li > a:hover {
    text-decoration: underline; }

.separator {
  margin: 0px 10px; }

/* ==========================================================================
 * Nav
 * ========================================================================== */
.nav {
  margin: 0; }

.nav-tabs {
  display: inline-block;
  border: none;
  position: relative;
  top: 35px;
  left: 25px; }
  .nav-tabs li a {
    width: 64px;
    height: 78px;
    text-indent: -9999px;
    padding: 0;
    margin: 0;
    border: none; }
    .nav-tabs li a:hover {
      border: none; }
  .nav-tabs li .all {
    background: url(../img/icon_all.png) no-repeat center top; }
    .nav-tabs li .all:hover {
      background: url(../img/icon_all_pre.png) no-repeat center top; }
  .nav-tabs li .transport {
    background: url(../img/icon_transport.png) no-repeat center top; }
    .nav-tabs li .transport:hover {
      background: url(../img/icon_transport_pre.png) no-repeat center top; }
  .nav-tabs li .accommodation {
    background: url(../img/icon_accommodation.png) no-repeat center top; }
    .nav-tabs li .accommodation:hover {
      background: url(../img/icon_accommodation_pre.png) no-repeat center top; }
  .nav-tabs li .travel {
    background: url(../img/icon_trip.png) no-repeat center top; }
    .nav-tabs li .travel:hover {
      background: url(../img/icon_trip_pre.png) no-repeat center top; }
  .nav-tabs .active a {
    border: none;
    background: url(../img/icon_accommodation_selected.png) no-repeat center top; }
    .nav-tabs .active a:hover {
      border: none;
      background: url(../img/icon_accommodation_selected.png) no-repeat center top; }

/* ==========================================================================
 * Pager Counter
 * ========================================================================== */
.pager {
  list-style: none;
  text-align: center;
  margin: 0; }
  .pager a {
    display: inline;
    border: none;
    padding: 0; }
    .pager a:hover {
      background: none;
      text-decoration: underline; }
  .pager p {
    margin: 0;
    margin-top: 0.2em;
    display: inline; }
  .pager li {
    float: left; }
  .pager .icon {
    border: 1px solid #d8d6d0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: white;
    background: -moz-linear-gradient(top, white 0%, #ecece5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ecece5));
    background: -webkit-linear-gradient(top, white 0%, #ecece5 100%);
    background: -o-linear-gradient(top, white 0%, #ecece5 100%);
    background: -ms-linear-gradient(top, white 0%, #ecece5 100%);
    background: linear-gradient(to bottom, white 0%, #ecece5 100%); }
    .pager .icon:hover {
      background: white; }
    .pager .icon:active {
      background: white;
      background: -moz-linear-gradient(top, white 0%, #d0cec7 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #d0cec7));
      background: -webkit-linear-gradient(top, white 0%, #d0cec7 100%);
      background: -o-linear-gradient(top, white 0%, #d0cec7 100%);
      background: -ms-linear-gradient(top, white 0%, #d0cec7 100%);
      background: linear-gradient(to bottom, white 0%, #d0cec7 100%); }
    .pager .icon a {
      float: left;
      display: block;
      width: 25px;
      height: 25px;
      text-indent: -9999px;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px; }
    .pager .icon .previousPage {
      background: url(../img/pager-prev.png) no-repeat 8px 8px; }
    .pager .icon .nextPage {
      background: url(../img/pager-next.png) no-repeat 10px 8px; }

.pager-content {
  background: white;
  border: 1px solid #ccccd3;
  overflow: hidden;
  padding: 14px;
  padding-left: 18px;
  margin-top: 27px;
  margin-bottom: 27px; }

.adjust {
  margin-top: 2px;
  margin-right: 14px; }
