/* ==========================================================================
 * _Variables
 * ========================================================================== */
/* ==========================================================================
 * _Globals
 * ========================================================================== */
/* ==========================================================================
 * _Variables
 * ========================================================================== */
body {
  font-family: Arial, Sans-Serif;
  color: black; }

a {
  text-decoration: none;
  color: #848178; }
  a:hover {
    color: yellow; }

li {
  list-style: none; }

div, ul, li {
  display: block; }

input, select {
  font-family: Arial, Sans-Serif; }

select {
  border: 1px solid #cccccc;
  padding: 0.7em 0.5em 0.7em 0.5em;
  font-size: 1em;
  color: #aaaaaa;
  box-shadow: inset 0px 0px 3px #dddddd;
  -webkit-box-shadow: inset 0px 0px 3px #dddddd;
  -webkit-appearance: none; }

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
.uneditable-input:focus {
  border-color: rgba(255, 255, 0, 0.8);
  outline: 0;
  outline: thin dotted 9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 0, 0.8);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 0, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 0, 0.8); }

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  box-shadow: 0px 0px 0px black;
  -moz-box-shadow: 0px 0px 0px black;
  -webkit-box-shadow: 0px 0px 0px black; }

.icon {
  float: left;
  width: 65px;
  height: 78px;
  text-indent: -9999px; }

.limits {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.background-1 {
  background: url(../img/bg_afternoon.png) no-repeat top center; }

.background-2 {
  background: url(../img/bg_happypeople.png) no-repeat top center; }

.background-3 {
  background: url(../img/bg_ironman.png) no-repeat top center; }

.background-4 {
  background: url(../img/bg_mountain.png) no-repeat top center; }

.background-5 {
  background: url(../img/bg_lanterna.png) no-repeat top center; }

.background-6 {
  background: url(../img/bg_burncity.png) no-repeat top center; }

.background-7 {
  background: url(../img/bg_ocean.png) no-repeat top center; }

.background-8 {
  background: url(../img/bg_city.png) no-repeat top center; }

body {
  background: #f5f5f0; }

/* ==========================================================================
 * Containers and Columns
 * ========================================================================== */
.container {
  margin-right: auto;
  margin-left: auto;
  width: 960px; }

.span8 {
  width: 700px; }

.span4 {
  width: 230px; }

/* ==========================================================================
 * HTML Structure
 * ========================================================================== */
/* ==========================================================================
 * MIXIN Header
 * ========================================================================== */
.navbar.nav.navbar-fixed-top {
  background: #edede6;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
  height: 53px; }

.navbar-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  background: none;
  box-shadow: 0px 0px 0px black;
  -moz-box-shadow: 0px 0px 0px black;
  -webkit-box-shadow: 0px 0px 0px black; }

.navbar .brand {
  float: left;
  background: url(../img/peoplewings.png) no-repeat;
  text-indent: -9999px;
  width: 237px;
  height: 60px;
  margin-top: 17px;
  padding: 0;
  margin-left: 0; }
.navbar .nav {
  float: right;
  font-size: 12px;
  margin-right: 10px;
  margin-top: 23px;
  line-height: 12px; }
  .navbar .nav li {
    display: inline;
    float: none;
    line-height: inherit; }
    .navbar .nav li:after {
      content: "|";
      margin-left: 10px;
      margin-right: 10px;
      color: #848178; }
    .navbar .nav li:last-child:after {
      content: ""; }
    .navbar .nav li a {
      display: inline;
      font-size: 11px;
      font-family: Arial, Sans-Serif;
      text-shadow: none;
      padding: 0;
      color: #848178; }
      .navbar .nav li a:hover {
        color: #18183f;
        text-decoration: underline; }

/* ==========================================================================
 * _Footer
 * ========================================================================== */
.navbar-fixed-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0; }

.footer.navbar.navbar-fixed-bottom {
  background: #edede6;
  color: #848178;
  font-size: 11px;
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 10px; }
  .footer.navbar.navbar-fixed-bottom ul {
    margin: 0; }
  .footer.navbar.navbar-fixed-bottom .navbar-inner {
    min-height: 40px; }
    .footer.navbar.navbar-fixed-bottom .navbar-inner div {
      float: left; }
  .footer.navbar.navbar-fixed-bottom #likes {
    background: url(../img/like.png) no-repeat;
    height: 20px;
    width: 81px;
    text-indent: -9999px; }
  .footer.navbar.navbar-fixed-bottom #terms {
    position: relative;
    left: 15em;
    line-height: 11px; }
    .footer.navbar.navbar-fixed-bottom #terms li {
      line-height: inherit;
      display: inline; }
      .footer.navbar.navbar-fixed-bottom #terms li a {
        margin-right: 12px; }
        .footer.navbar.navbar-fixed-bottom #terms li a:hover {
          text-decoration: underline;
          color: #18183f; }
      .footer.navbar.navbar-fixed-bottom #terms li:first-child {
        font-weight: bold; }
  .footer.navbar.navbar-fixed-bottom #follow {
    float: right;
    width: 260px; }
    .footer.navbar.navbar-fixed-bottom #follow h1 {
      font-weight: bold;
      font-size: 11px;
      line-height: 1;
      margin: 0px;
      float: left; }
    .footer.navbar.navbar-fixed-bottom #follow ul {
      margin-right: 20px; }
      .footer.navbar.navbar-fixed-bottom #follow ul li {
        display: inline; }
        .footer.navbar.navbar-fixed-bottom #follow ul li:first-child {
          float: left;
          font-size: 11px;
          font-weight: bold;
          margin-right: 20px;
          line-height: 1; }
      .footer.navbar.navbar-fixed-bottom #follow ul a {
        margin-right: 10px; }

.follow {
  width: 33px;
  height: 33px; }

.facebook {
  background: url(../img/icon_fb.png) no-repeat; }

.twitter {
  background: url(../img/icon_tw.png) no-repeat; }

.youtube {
  background: url(../img/icon_yt.png) no-repeat; }

/* ==========================================================================
 * Nav
 * ========================================================================== */
.nav {
  margin: 0; }

.nav-tabs {
  display: inline-block;
  border: none;
  position: relative;
  top: 35px;
  left: 25px; }
  .nav-tabs li a {
    width: 65px;
    height: 78px;
    text-indent: -9999px;
    padding: 0;
    margin: 0;
    border: none; }
  .nav-tabs .all {
    background: url(../img/icon_all.png) no-repeat center top; }
    .nav-tabs .all:hover {
      background: url(../img/icon_all_pre.png) no-repeat center top; }
  .nav-tabs .accommodation {
    background: url(../img/icon_accommodation.png) no-repeat center top; }
    .nav-tabs .accommodation:hover {
      background: url(../img/icon_accommodation_pre.png) no-repeat center top; }
  .nav-tabs .transport {
    background: url(../img/icon_transport.png) no-repeat center top; }
    .nav-tabs .transport:hover {
      background: url(../img/icon_transport_pre.png) no-repeat center top; }
  .nav-tabs .travel {
    background: url(../img/icon_trip.png) no-repeat center top; }
    .nav-tabs .travel:hover {
      background: url(../img/icon_trip_pre.png) no-repeat center top; }
  .nav-tabs .active .all {
    background: url(../img/icon_all_selected.png) no-repeat center top; }
  .nav-tabs .active .accommodation {
    background: url(../img/icon_accommodation_selected.png) no-repeat center top; }
  .nav-tabs .active .transport {
    background: url(../img/icon_transport_selected.png) no-repeat center top; }
  .nav-tabs .active .travel {
    background: url(../img/icon_trip_selected.png) no-repeat center top; }

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  border: none;
  background-color: transparent; }

/* ==========================================================================
 * Pager Counter
 * ========================================================================== */
.pager {
  list-style: none;
  text-align: center;
  margin: 0; }
  .pager a {
    display: inline;
    border: none;
    padding: 0; }
    .pager a:hover {
      background: none;
      text-decoration: underline; }
  .pager p {
    margin: 0;
    margin-top: 0.2em;
    display: inline; }
  .pager li {
    float: left; }
  .pager .icon {
    border: 1px solid #d8d6d0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: white;
    background: -moz-linear-gradient(top, white 0%, #ecece5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ecece5));
    background: -webkit-linear-gradient(top, white 0%, #ecece5 100%);
    background: -o-linear-gradient(top, white 0%, #ecece5 100%);
    background: -ms-linear-gradient(top, white 0%, #ecece5 100%);
    background: linear-gradient(to bottom, white 0%, #ecece5 100%); }
    .pager .icon:hover {
      background: white; }
    .pager .icon:active {
      background: white;
      background: -moz-linear-gradient(top, white 0%, #d0cec7 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #d0cec7));
      background: -webkit-linear-gradient(top, white 0%, #d0cec7 100%);
      background: -o-linear-gradient(top, white 0%, #d0cec7 100%);
      background: -ms-linear-gradient(top, white 0%, #d0cec7 100%);
      background: linear-gradient(to bottom, white 0%, #d0cec7 100%); }
    .pager .icon a {
      float: left;
      display: block;
      width: 25px;
      height: 25px;
      text-indent: -9999px;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px; }
    .pager .icon .previousPage {
      background: url(../img/pager-prev.png) no-repeat 8px 8px; }
    .pager .icon .nextPage {
      background: url(../img/pager-next.png) no-repeat 10px 8px; }

.pager-content {
  background: white;
  border: 1px solid #ccccd3;
  overflow: hidden;
  padding: 14px;
  padding-left: 18px;
  margin-top: 27px;
  margin-bottom: 27px; }

.adjust {
  margin-top: 2px;
  margin-right: 14px; }
