/* ==========================================================================
 * INITIAL CONFIG
 * ========================================================================== */
/* --------------------------------------------------------------------------
 * _Reset : Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * 					http://cssreset.com
 * -------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* --------------------------------------------------------------------------
 * _Globals
 * -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
 * _Variables
 * -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
 * _Effects
 * -------------------------------------------------------------------------- */
* {
  margin: 0; }

html, body {
  height: 100%; }

body, input, select {
  font-family: Arial, Sans-Serif;
  color: black;
  background: white; }

a {
  text-decoration: none;
  color: #848178; }
  a:hover {
    color: yellow; }

li {
  list-style: none;
  float: left; }

input, select {
  font-size: 1em;
  padding: 0.7em;
  margin: 0.5em;
  border: 1px solid #cccccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s; }
  input:hover, input:focus, input:active, select:hover, select:focus, select:active {
    outline: 0;
    box-shadow: 0 0 8px 3px yellow;
    -moz-box-shadow: 0 0 3px 8px yellow;
    -webkit-box-shadow: 0 0 8px 3px yellow; }

input[type="submit"] {
  text-transform: uppercase; }

input[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox; }

button {
  display: block;
  padding: 11px 14px;
  font-size: 11px;
  font-style: italic;
  color: gray;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-left: 1px solid #cecdce;
  border-right: 1px solid white;
  background: none; }
  button:hover {
    color: black;
    background: white; }
  button:active {
    background: #ffeb00;
    background: -moz-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffeb00), color-stop(100%, #fbfac5));
    background: -webkit-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
    background: -o-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
    background: -ms-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
    background: linear-gradient(to bottom, #ffeb00 0%, #fbfac5 100%); }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -75px; }

.push {
  height: 75px; }

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

.navbar-inner {
  width: 960px;
  margin: 0 auto;
  background: none;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

/* Buttons
 * -------------------------------------------------------------------------- */
.btn-peoplewings {
  text-transform: uppercase;
  padding: 0.2em 1em;
  margin: 0;
  color: yellow;
  background: #18183f;
  font-family: "Exo", Tahoma, Sans-Serif;
  font-size: 1.2em;
  font-weight: 500;
  font-style: italic;
  border: 2px solid yellow;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em; }
  .btn-peoplewings:hover, .btn-peoplewings:focus, .btn-peoplewings:active {
    outline: 0;
    box-shadow: 0 0 8px 3px yellow;
    -moz-box-shadow: 0 0 3px 8px yellow;
    -webkit-box-shadow: 0 0 8px 3px yellow; }

/* Icons
 * -------------------------------------------------------------------------- */
.icon {
  float: left;
  width: 65px;
  height: 78px;
  text-indent: -9999px; }

/* Backgrounds
 * -------------------------------------------------------------------------- */
.background-roller {
  width: 100%;
  height: 637px;
  position: absolute;
  z-index: -1; }

.background-1 {
  background: url(../img/bg_afternoon.png) no-repeat top center; }

.background-2 {
  background: url(../img/bg_happypeople.png) no-repeat top center; }

.background-3 {
  background: url(../img/bg_ironman.png) no-repeat top center; }

.background-4 {
  background: url(../img/bg_mountain.png) no-repeat top center; }

.background-5 {
  background: url(../img/bg_lanterna.png) no-repeat top center; }

.background-6 {
  background: url(../img/bg_burncity.png) no-repeat top center; }

.background-7 {
  background: url(../img/bg_ocean.png) no-repeat top center; }

.background-8 {
  background: url(../img/bg_city.png) no-repeat top center; }

body {
  background: #f5f5f0; }

.span8 {
  width: 700px; }

#main {
  padding-top: 55px; }

/* ==========================================================================
 * HTML STRUCTURE
 * ========================================================================== */
/* --------------------------------------------------------------------------
 * _Header
 * -------------------------------------------------------------------------- */
.navbar.nav.navbar-fixed-top {
  background: #edede6;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 0px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
  height: 53px; }

.navbar .brand {
  float: left;
  background: url(../img/peoplewings.png) no-repeat;
  text-indent: -9999px;
  width: 237px;
  height: 60px;
  margin-top: 17px;
  padding: 0;
  margin-left: 0; }
.navbar .nav {
  float: right;
  font-size: 12px;
  margin-right: 10px;
  margin-top: 23px;
  line-height: 12px; }
  .navbar .nav li {
    display: inline;
    float: none;
    line-height: inherit; }
    .navbar .nav li:after {
      content: "|";
      margin-left: 10px;
      margin-right: 10px;
      color: #848178; }
    .navbar .nav li:last-child:after {
      content: ""; }
    .navbar .nav li a {
      display: inline;
      font-size: 11px;
      font-family: Arial, Sans-Serif;
      text-shadow: none;
      padding: 0;
      color: #848178; }
      .navbar .nav li a:hover {
        color: #18183f;
        text-decoration: underline; }

/* --------------------------------------------------------------------------
 * _Register
 * -------------------------------------------------------------------------- */
form#register-form {
  float: right;
  background: rgba(30, 30, 57, 0.7);
  padding: 0 27px 27px 14px;
  margin: 27px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  width: 460px; }
  form#register-form .help-block {
    margin: 0; }
  form#register-form input, form#register-form select {
    margin: 0;
    min-height: 22px; }
  form#register-form select {
    height: 40px; }
  form#register-form input[type="text"],
  form#register-form input[type="password"],
  form#register-form input[type="email"],
  form#register-form select {
    font-size: 13px;
    padding: 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #79766c;
    color: black;
    line-height: 15px; }
  form#register-form input[type="text"],
  form#register-form input[type="password"] {
    max-width: 149px; }
  form#register-form input[type="checkbox"] {
    float: left;
    margin-top: 2px;
    margin-right: 15px;
    margin-left: 0; }
  form#register-form span.signal {
    float: left;
    text-indent: -9999px;
    height: 16px;
    width: 15px;
    background: url(../img/signal.png) no-repeat;
    position: relative;
    bottom: 16px;
    left: 200px;
    opacity: 0.7;
    filter: alpha(opacity=70); }
  form#register-form legend {
    float: right;
    position: relative;
    right: 10px;
    bottom: 13px;
    width: 107px;
    height: 28px;
    text-indent: -9999px;
    background: url(../img/signup.png) no-repeat; }
  form#register-form .clear {
    clear: both; }
  form#register-form .control-group {
    margin: 0;
    margin-bottom: 5px; }
  form#register-form .control-group:after, form#register-form .control-group:before {
    display: block; }
  form#register-form .control-label {
    float: left;
    color: white;
    width: 100px;
    padding: 11px;
    text-shadow: 1px 1px 1px black;
    font-size: 14px;
    text-align: left; }
  form#register-form .checkbox {
    padding-left: 0; }
  form#register-form .controls {
    margin-left: 122px; }
    form#register-form .controls input[type="text"] {
      width: 149px; }
    form#register-form .controls input[type="email"],
    form#register-form .controls input[type="password"] {
      width: 95%; }
    form#register-form .controls input[type="submit"] {
      font-size: 18px; }
    form#register-form .controls select {
      background: url(../img/mini-arrow.png) no-repeat 82px center white;
      width: 110px;
      color: #848178; }
    form#register-form .controls .select-mini {
      width: 97px; }
    form#register-form .controls .select-medium {
      width: 120px;
      background-position: 94px center; }
    form#register-form .controls .terms {
      margin-left: 117px; }
  form#register-form .accepts {
    margin-left: 98px;
    margin-bottom: 2em; }
  form#register-form .terms {
    color: white;
    font-size: 12px;
    line-height: 18px; }
    form#register-form .terms p {
      margin: 15px 0px; }
    form#register-form .terms a {
      color: yellow; }
      form#register-form .terms a:hover {
        text-decoration: underline;
        cursor: pointer; }

label.error {
  background: #ffbdbd;
  width: 289px;
  padding: 15px;
  margin: 5px 0;
  color: red;
  text-shadow: 1px 1px #cccccc;
  font-size: 13px; }

.btn-peoplewings {
  font-size: 18px;
  float: right;
  margin-top: 20px; }

/* --------------------------------------------------------------------------
 * _Login
 * -------------------------------------------------------------------------- */
form#login-form {
  float: right;
  background: rgba(30, 30, 57, 0.7);
  padding: 0 27px 27px 14px;
  margin: 27px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  width: 460px; }
  form#login-form .help-block {
    margin: 0; }
  form#login-form input, form#login-form select {
    margin: 0;
    min-height: 22px; }
  form#login-form select {
    height: 40px; }
  form#login-form input[type="text"],
  form#login-form input[type="password"],
  form#login-form input[type="email"],
  form#login-form select {
    font-size: 13px;
    padding: 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #79766c;
    color: black;
    line-height: 15px; }
  form#login-form input[type="checkbox"] {
    float: left;
    margin-top: 2px;
    margin-right: 15px;
    margin-left: 0; }
  form#login-form label.checkbox {
    display: inline;
    margin-right: 1em; }
  form#login-form span.signal {
    float: left;
    text-indent: -9999px;
    height: 16px;
    width: 15px;
    background: url(../img/signal.png) no-repeat;
    position: relative;
    bottom: 16px;
    left: 250px;
    opacity: 0.7;
    filter: alpha(opacity=70); }
  form#login-form legend {
    float: right;
    position: relative;
    right: 10px;
    bottom: 13px;
    width: 107px;
    height: 28px;
    text-indent: -9999px;
    background: url(../img/signup.png) no-repeat; }
  form#login-form .clear {
    clear: both; }
  form#login-form .control-group {
    margin: 0;
    margin-bottom: 5px; }
  form#login-form .control-group:after, form#login-form .control-group:before {
    display: block; }
  form#login-form .control-label {
    float: left;
    color: white;
    width: 100px;
    padding: 11px;
    text-shadow: 1px 1px 1px black;
    font-size: 14px;
    text-align: left; }
  form#login-form .checkbox {
    padding-left: 0; }
  form#login-form .controls {
    margin-left: 122px; }
    form#login-form .controls input[type="text"] {
      width: 140px; }
    form#login-form .controls input[type="email"],
    form#login-form .controls input[type="password"] {
      width: 95%; }
    form#login-form .controls input[type="submit"] {
      font-size: 18px; }
    form#login-form .controls select {
      background: url(../img/mini-arrow.png) no-repeat 82px center white;
      width: 104px;
      color: #848178; }
    form#login-form .controls .select-mini {
      width: 97px; }
    form#login-form .controls .select-medium {
      width: 120px;
      background-position: 94px center; }
    form#login-form .controls .terms {
      margin-left: 117px; }
  form#login-form .accepts {
    margin-left: 98px;
    margin-bottom: 2em; }
  form#login-form .terms {
    color: white;
    font-size: 12px;
    line-height: 18px;
    margin-top: 14px; }
    form#login-form .terms p {
      margin: 15px 0px; }
    form#login-form .terms a {
      color: yellow;
      float: right; }
      form#login-form .terms a:hover {
        text-decoration: underline;
        cursor: pointer; }

label.error {
  background: #ffbdbd;
  width: 289px;
  padding: 15px;
  margin: 5px 0;
  color: red;
  text-shadow: 1px 1px #cccccc;
  font-size: 13px; }

button.btn-peoplewings {
  font-size: 18px;
  float: right;
  margin-top: 20px; }

/* --------------------------------------------------------------------------
 * _Search Accommodation
 * -------------------------------------------------------------------------- */
div.tab-pane {
  background: #e1e0d9;
  padding: 27px;
  padding-top: 40px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  overflow: hidden;
  margin: 0; }
  div.tab-pane label {
    display: none; }
  div.tab-pane h1 {
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    text-indent: -9999px; }
  div.tab-pane h1.wings_text {
    background: url(../../img/wings_text.png) no-repeat;
    height: 20px;
    width: 67px; }
  div.tab-pane h1.people_text {
    background: url(../../img/people_text.png) no-repeat;
    height: 20px;
    width: 74px;
    margin-right: 13px; }
  div.tab-pane div.control-group {
    margin: 0; }
    div.tab-pane div.control-group:before {
      display: inline; }
    div.tab-pane div.control-group:after {
      display: inline; }
    div.tab-pane div.control-group input, div.tab-pane div.control-group select {
      float: left;
      font-size: 12px;
      padding: 8px;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border: 1px solid #79766c;
      margin-right: 4px;
      margin-bottom: 4px;
      line-height: 15px; }
    div.tab-pane div.control-group input.input-sdate {
      width: 90px;
      background: url(../img/start-date.png) no-repeat 75px center white; }
    div.tab-pane div.control-group input.input-edate {
      width: 90px;
      background: url(../img/end-date.png) no-repeat 75px center white; }
    div.tab-pane div.control-group input.input-large {
      width: 202px; }
    div.tab-pane div.control-group select {
      height: 38px; }
    div.tab-pane div.control-group select.input-guests {
      width: 90px;
      background: url(../img/mini-arrow.png) no-repeat 66px center white; }
    div.tab-pane div.control-group select.input-age1 {
      width: 77px;
      background: url(../img/mini-arrow.png) no-repeat 56px center white; }
    div.tab-pane div.control-group select.input-age2 {
      width: 46px;
      background: url(../img/mini-arrow.png) no-repeat 28px center white; }
    div.tab-pane div.control-group select.input-language {
      width: 89px;
      background: url(../img/mini-arrow.png) no-repeat 69px center white; }
    div.tab-pane div.control-group select.input-others {
      width: 108px;
      background: url(../img/mini-arrow.png) no-repeat 87px center white; }
  div.tab-pane div.form-actions {
    float: right;
    margin-top: 20px;
    margin-bottom: 0px;
    background: none;
    padding: 0px; }

/* --------------------------------------------------------------------------
 * _Search Results
 * -------------------------------------------------------------------------- */
/* Pager Counter
 * -------------------------------------------------------------------------- */
.pager {
  list-style: none;
  text-align: center;
  margin: 0;
  font-size: 0.9em; }
  .pager a {
    display: inline;
    border: none;
    padding: 0; }
    .pager a:hover {
      background: none;
      text-decoration: underline; }
  .pager p {
    margin: 0;
    margin-top: 0.2em;
    display: inline; }
  .pager li {
    float: left; }
  .pager .icon {
    width: 25px;
    height: 25px;
    border: 1px solid #d8d6d0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: white;
    background: -moz-linear-gradient(top, white 0%, #ecece5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ecece5));
    background: -webkit-linear-gradient(top, white 0%, #ecece5 100%);
    background: -o-linear-gradient(top, white 0%, #ecece5 100%);
    background: -ms-linear-gradient(top, white 0%, #ecece5 100%);
    background: linear-gradient(to bottom, white 0%, #ecece5 100%); }
    .pager .icon:hover {
      background: white; }
    .pager .icon:active {
      background: white;
      background: -moz-linear-gradient(top, white 0%, #d0cec7 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #d0cec7));
      background: -webkit-linear-gradient(top, white 0%, #d0cec7 100%);
      background: -o-linear-gradient(top, white 0%, #d0cec7 100%);
      background: -ms-linear-gradient(top, white 0%, #d0cec7 100%);
      background: linear-gradient(to bottom, white 0%, #d0cec7 100%); }
    .pager .icon a {
      float: left;
      display: block;
      width: 25px;
      height: 25px;
      text-indent: -9999px;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px; }
    .pager .icon .previousPage {
      background: url(../img/pager-prev.png) no-repeat 8px 8px; }
    .pager .icon .nextPage {
      background: url(../img/pager-next.png) no-repeat 10px 8px; }

.pager-content {
  background: white;
  border: 1px solid #ccccd3;
  overflow: hidden;
  padding: 14px;
  padding-left: 18px;
  margin-top: 27px;
  margin-bottom: 27px; }
  .pager-content .adjust {
    margin-top: 7px;
    margin-right: 14px; }

/* Profile Card
 * -------------------------------------------------------------------------- */
div.profile {
  border: 1px solid #ccccd3;
  margin-bottom: 2em;
  line-height: 20px; }
  div.profile div.content-left {
    float: left; }
    div.profile div.content-left div.avatar {
      width: 175px;
      height: 175px; }
      div.profile div.content-left div.avatar img {
        width: 175px;
        height: 175px;
        position: relative;
        top: -18px; }
    div.profile div.content-left span.online-dot {
      float: left;
      width: 18px;
      height: 18px;
      background: lime;
      background: url(../img/online-corner.png) no-repeat left top;
      text-indent: -9999px;
      position: relative;
      top: -1px;
      left: -1px;
      z-index: 1; }
  div.profile div.content-right {
    float: left;
    background: white;
    max-width: 523px; }
    div.profile div.content-right div.personal-info {
      margin: 24px;
      margin-bottom: 14px;
      max-height: 95px;
      min-width: 477px;
      overflow: hidden; }
      div.profile div.content-right div.personal-info h1.name {
        font-size: 21px;
        font-weight: bold;
        display: inline; }
        div.profile div.content-right div.personal-info h1.name a {
          text-decoration: none;
          color: black; }
          div.profile div.content-right div.personal-info h1.name a:hover {
            color: #01a6da; }
      div.profile div.content-right div.personal-info span {
        margin-left: 0.2em; }
      div.profile div.content-right div.personal-info span.age {
        font-size: 14px; }
      div.profile div.content-right div.personal-info span.online {
        color: gray;
        font-style: italic;
        font-size: 13px; }
      div.profile div.content-right div.personal-info h2.home-town {
        font-size: 16px; }
      div.profile div.content-right div.personal-info h3.current-location {
        color: gray;
        font-size: 14px;
        margin-bottom: 0.8em; }
      div.profile div.content-right div.personal-info h4.languages-tag {
        float: left;
        font-size: 13px;
        color: gray;
        margin-right: 10px; }
      div.profile div.content-right div.personal-info p {
        font-size: 13px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 20px; }
      div.profile div.content-right div.personal-info p.languages {
        color: black;
        text-transform: capitalize; }
    div.profile div.content-right div.main-bar {
      font-size: 11px;
      color: gray;
      background: white;
      background: -moz-linear-gradient(top, white 0%, #ecece5 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ecece5));
      background: -webkit-linear-gradient(top, white 0%, #ecece5 100%);
      background: -o-linear-gradient(top, white 0%, #ecece5 100%);
      background: -ms-linear-gradient(top, white 0%, #ecece5 100%);
      background: linear-gradient(to bottom, white 0%, #ecece5 100%);
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #d0cec7;
      overflow: hidden;
      max-height: 41px; }
      div.profile div.content-right div.main-bar div {
        float: left; }
      div.profile div.content-right div.main-bar div.info-bar {
        padding: 10px 10px 10px 24px;
        overflow: hidden;
        width: 240px; }
        div.profile div.content-right div.main-bar div.info-bar span {
          float: left;
          margin-right: 0.8em; }
        div.profile div.content-right div.main-bar div.info-bar span.results {
          font-size: 16px;
          font-weight: bold;
          color: black; }
      div.profile div.content-right div.main-bar div.button-bar {
        float: right; }
        div.profile div.content-right div.main-bar div.button-bar button.selected {
          background: yellow;
          background: -moz-linear-gradient(top, yellow 0%, #ffea00 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, yellow), color-stop(100%, #ffea00));
          background: -webkit-linear-gradient(top, yellow 0%, #ffea00 100%);
          background: -o-linear-gradient(top, yellow 0%, #ffea00 100%);
          background: -ms-linear-gradient(top, yellow 0%, #ffea00 100%);
          background: linear-gradient(to bottom, yellow 0%, #ffea00 100%); }
  div.profile div.content-bottom {
    clear: both;
    color: gray;
    background: white;
    font-size: 0.8em; }
    div.profile div.content-bottom div.about-info {
      padding: 27px;
      overflow: hidden; }
      div.profile div.content-bottom div.about-info h1 {
        font-size: 17px;
        margin-bottom: 0.6em;
        float: left; }
      div.profile div.content-bottom div.about-info h2 {
        font-size: 12px;
        font-style: italic;
        float: right; }
      div.profile div.content-bottom div.about-info p {
        font-size: 13px;
        color: #aaaaaa;
        clear: both;
        line-height: 20px; }
    div.profile div.content-bottom div.about-footer {
      border-top: 1px solid #e5e5e5;
      padding: 0.8em;
      overflow: hidden; }
      div.profile div.content-bottom div.about-footer h1, div.profile div.content-bottom div.about-footer span {
        float: left;
        position: relative;
        left: 230px; }
      div.profile div.content-bottom div.about-footer span.more-about {
        font-size: 13px;
        background: url(../img/arrow_about.png) no-repeat 12px center;
        text-indent: -9999px; }
      div.profile div.content-bottom div.about-footer h1 {
        font-size: 13px;
        text-align: center;
        text-transform: uppercase; }

/* --------------------------------------------------------------------------
 * _Footer
 * -------------------------------------------------------------------------- */
.navbar-fixed-bottom {
  height: 40px;
  clear: both; }

.footer.navbar.navbar-fixed-bottom {
  position: relative;
  background: #edede6;
  color: #848178;
  font-size: 11px;
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 10px; }
  .footer.navbar.navbar-fixed-bottom ul {
    margin: 0; }
  .footer.navbar.navbar-fixed-bottom .navbar-inner {
    min-height: 40px; }
    .footer.navbar.navbar-fixed-bottom .navbar-inner div {
      float: left; }
  .footer.navbar.navbar-fixed-bottom #likes {
    background: url(../img/like.png) no-repeat;
    height: 20px;
    width: 81px;
    text-indent: -9999px; }
  .footer.navbar.navbar-fixed-bottom #terms {
    position: relative;
    left: 15em;
    line-height: 11px; }
    .footer.navbar.navbar-fixed-bottom #terms li {
      line-height: inherit;
      display: inline; }
      .footer.navbar.navbar-fixed-bottom #terms li a {
        margin-right: 12px; }
        .footer.navbar.navbar-fixed-bottom #terms li a:hover {
          text-decoration: underline;
          color: #18183f; }
      .footer.navbar.navbar-fixed-bottom #terms li:first-child {
        font-weight: bold; }
  .footer.navbar.navbar-fixed-bottom #follow {
    float: right;
    width: 260px; }
    .footer.navbar.navbar-fixed-bottom #follow h1 {
      font-weight: bold;
      font-size: 11px;
      line-height: 1;
      margin: 0px;
      float: left; }
    .footer.navbar.navbar-fixed-bottom #follow ul {
      margin-right: 20px; }
      .footer.navbar.navbar-fixed-bottom #follow ul li {
        display: inline; }
        .footer.navbar.navbar-fixed-bottom #follow ul li:first-child {
          float: left;
          font-size: 11px;
          font-weight: bold;
          margin-right: 20px;
          line-height: 1; }
      .footer.navbar.navbar-fixed-bottom #follow ul a {
        margin-right: 10px; }
    .footer.navbar.navbar-fixed-bottom #follow .follow {
      width: 33px;
      height: 33px; }
    .footer.navbar.navbar-fixed-bottom #follow .facebook {
      background: url(../img/icon_fb.png) no-repeat; }
    .footer.navbar.navbar-fixed-bottom #follow .twitter {
      background: url(../img/icon_tw.png) no-repeat; }
    .footer.navbar.navbar-fixed-bottom #follow .youtube {
      background: url(../img/icon_yt.png) no-repeat; }

.nav {
  margin: 0; }

.nav-tabs {
  display: inline-block;
  border: none;
  position: relative;
  top: 35px;
  left: 25px; }
  .nav-tabs li a {
    width: 65px;
    height: 78px;
    text-indent: -9999px;
    padding: 0;
    margin: 0;
    border: none; }
  .nav-tabs .all {
    background: url(../img/icon_all.png) no-repeat center top; }
    .nav-tabs .all:hover {
      background: url(../img/icon_all_pre.png) no-repeat center top; }
  .nav-tabs .accommodation {
    background: url(../img/icon_accommodation.png) no-repeat center top; }
    .nav-tabs .accommodation:hover {
      background: url(../img/icon_accommodation_pre.png) no-repeat center top; }
  .nav-tabs .transport {
    background: url(../img/icon_transport.png) no-repeat center top; }
    .nav-tabs .transport:hover {
      background: url(../img/icon_transport_pre.png) no-repeat center top; }
  .nav-tabs .travel {
    background: url(../img/icon_trip.png) no-repeat center top; }
    .nav-tabs .travel:hover {
      background: url(../img/icon_trip_pre.png) no-repeat center top; }
  .nav-tabs .active .all {
    background: url(../img/icon_all_selected.png) no-repeat center top; }
  .nav-tabs .active .accommodation {
    background: url(../img/icon_accommodation_selected.png) no-repeat center top; }
  .nav-tabs .active .transport {
    background: url(../img/icon_transport_selected.png) no-repeat center top; }
  .nav-tabs .active .travel {
    background: url(../img/icon_trip_selected.png) no-repeat center top; }

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  border: none;
  background-color: transparent; }

input, select {
  margin: 0px; }

.tab-content {
  margin-top: 60px; }
