/* ==========================================================================
 * Imports
 * ========================================================================== */
/* --------------------------------------------------------------------------
 * _Reset : Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * 					http://cssreset.com
 * -------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* --------------------------------------------------------------------------
 * _Globals
 * -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
 * _Variables
 * -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
 * _Effects
 * -------------------------------------------------------------------------- */
* {
  margin: 0; }

html, body {
  height: 100%; }

body, input, select {
  font-family: Arial, Sans-Serif;
  color: black;
  background: white; }

a {
  text-decoration: none;
  color: #848178; }
  a:hover {
    color: yellow; }

li {
  list-style: none; }

input, select {
  font-size: 1em;
  padding: 0.7em;
  margin: 0.5em;
  border: 1px solid #cccccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s; }
  input:hover, input:focus, input:active, select:hover, select:focus, select:active {
    outline: 0;
    box-shadow: 0 0 8px 3px yellow;
    -moz-box-shadow: 0 0 3px 8px yellow;
    -webkit-box-shadow: 0 0 8px 3px yellow; }

input[type="button"] {
  text-transform: uppercase; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -75px; }

.push {
  height: 75px; }

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

.navbar-inner {
  width: 960px;
  margin: 0 auto;
  background: none;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

/* Buttons
 * -------------------------------------------------------------------------- */
.btn-peoplewings {
  text-transform: uppercase;
  padding: 0.2em 1em;
  margin: 0;
  color: yellow;
  background: #18183f;
  font-family: "Exo", Tahoma, Sans-Serif;
  font-size: 1.2em;
  font-weight: 500;
  font-style: italic;
  border: 2px solid yellow;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em; }
  .btn-peoplewings:hover, .btn-peoplewings:focus, .btn-peoplewings:active {
    outline: 0;
    box-shadow: 0 0 8px 3px yellow;
    -moz-box-shadow: 0 0 3px 8px yellow;
    -webkit-box-shadow: 0 0 8px 3px yellow; }

/* Icons
 * -------------------------------------------------------------------------- */
.icon {
  float: left;
  width: 65px;
  height: 78px;
  text-indent: -9999px; }

/* Backgrounds
 * -------------------------------------------------------------------------- */
.background-roller {
  width: 100%;
  height: 637px;
  position: absolute;
  z-index: -1; }

.background-1 {
  background: url(../img/bg_afternoon.png) no-repeat top center; }

.background-2 {
  background: url(../img/bg_happypeople.png) no-repeat top center; }

.background-3 {
  background: url(../img/bg_ironman.png) no-repeat top center; }

.background-4 {
  background: url(../img/bg_mountain.png) no-repeat top center; }

.background-5 {
  background: url(../img/bg_lanterna.png) no-repeat top center; }

.background-6 {
  background: url(../img/bg_burncity.png) no-repeat top center; }

.background-7 {
  background: url(../img/bg_ocean.png) no-repeat top center; }

.background-8 {
  background: url(../img/bg_city.png) no-repeat top center; }

/* --------------------------------------------------------------------------
 * _Variables
 * -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
 * _Effects
 * -------------------------------------------------------------------------- */
/* ==========================================================================
 * Peoplewings templates
 * ========================================================================== */
/* --------------------------------------------------------------------------
 * _Header
 * -------------------------------------------------------------------------- */
.navbar.nav.navbar-fixed-top {
  background: #edede6;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 0px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
  height: 53px; }

.navbar .brand {
  float: left;
  background: url(../img/peoplewings.png) no-repeat;
  text-indent: -9999px;
  width: 237px;
  height: 60px;
  margin-top: 17px;
  padding: 0;
  margin-left: 0; }
.navbar .nav {
  float: right;
  font-size: 12px;
  margin-right: 10px;
  margin-top: 23px;
  line-height: 12px; }
  .navbar .nav li {
    display: inline;
    float: none;
    line-height: inherit; }
    .navbar .nav li:after {
      content: "|";
      margin-left: 10px;
      margin-right: 10px;
      color: #848178; }
    .navbar .nav li:last-child:after {
      content: ""; }
    .navbar .nav li a {
      display: inline;
      font-size: 11px;
      font-family: Arial, Sans-Serif;
      text-shadow: none;
      padding: 0;
      color: #848178; }
      .navbar .nav li a:hover {
        color: #18183f;
        text-decoration: underline; }

/* --------------------------------------------------------------------------
 * _Footer
 * -------------------------------------------------------------------------- */
.navbar-fixed-bottom {
  height: 40px;
  clear: both; }

.footer.navbar.navbar-fixed-bottom {
  position: relative;
  background: #edede6;
  color: #848178;
  font-size: 11px;
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 10px; }
  .footer.navbar.navbar-fixed-bottom ul {
    margin: 0; }
  .footer.navbar.navbar-fixed-bottom .navbar-inner {
    min-height: 40px; }
    .footer.navbar.navbar-fixed-bottom .navbar-inner div {
      float: left; }
  .footer.navbar.navbar-fixed-bottom #likes {
    background: url(../img/like.png) no-repeat;
    height: 20px;
    width: 81px;
    text-indent: -9999px; }
  .footer.navbar.navbar-fixed-bottom #terms {
    position: relative;
    left: 15em;
    line-height: 11px; }
    .footer.navbar.navbar-fixed-bottom #terms li {
      line-height: inherit;
      display: inline; }
      .footer.navbar.navbar-fixed-bottom #terms li a {
        margin-right: 12px; }
        .footer.navbar.navbar-fixed-bottom #terms li a:hover {
          text-decoration: underline;
          color: #18183f; }
      .footer.navbar.navbar-fixed-bottom #terms li:first-child {
        font-weight: bold; }
  .footer.navbar.navbar-fixed-bottom #follow {
    float: right;
    width: 260px; }
    .footer.navbar.navbar-fixed-bottom #follow h1 {
      font-weight: bold;
      font-size: 11px;
      line-height: 1;
      margin: 0px;
      float: left; }
    .footer.navbar.navbar-fixed-bottom #follow ul {
      margin-right: 20px; }
      .footer.navbar.navbar-fixed-bottom #follow ul li {
        display: inline; }
        .footer.navbar.navbar-fixed-bottom #follow ul li:first-child {
          float: left;
          font-size: 11px;
          font-weight: bold;
          margin-right: 20px;
          line-height: 1; }
      .footer.navbar.navbar-fixed-bottom #follow ul a {
        margin-right: 10px; }
    .footer.navbar.navbar-fixed-bottom #follow .follow {
      width: 33px;
      height: 33px; }
    .footer.navbar.navbar-fixed-bottom #follow .facebook {
      background: url(../img/icon_fb.png) no-repeat; }
    .footer.navbar.navbar-fixed-bottom #follow .twitter {
      background: url(../img/icon_tw.png) no-repeat; }
    .footer.navbar.navbar-fixed-bottom #follow .youtube {
      background: url(../img/icon_yt.png) no-repeat; }
