/* ==========================================================================
 * INITIAL CONFIG
 * ========================================================================== */
/* --------------------------------------------------------------------------
 * _Reset : Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * 					http://cssreset.com
 * -------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* --------------------------------------------------------------------------
 * _Globals
 * -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
 * _Variables
 * -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
 * _Effects
 * -------------------------------------------------------------------------- */
body, input, select {
  font-family: Arial, Sans-Serif;
  color: black;
  background: white; }

a {
  text-decoration: none;
  color: #848178; }
  a:hover {
    color: yellow; }

li {
  list-style: none; }

input, select {
  font-size: 1em;
  padding: 0.7em;
  margin: 0.5em;
  border: 1px solid #cccccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s; }
  input:hover, input:focus, input:active, select:hover, select:focus, select:active {
    outline: 0;
    box-shadow: 0 0 8px 3px yellow;
    -moz-box-shadow: 0 0 3px 8px yellow;
    -webkit-box-shadow: 0 0 8px 3px yellow; }

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

.navbar-inner {
  width: 960px;
  margin: auto;
  background: none;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

/* Buttons
 * -------------------------------------------------------------------------- */
.btn-peoplewings {
  text-transform: uppercase;
  padding: 0.2em 1em;
  margin: 0;
  color: yellow;
  background: #18183f;
  font-family: "Exo", Tahoma, Sans-Serif;
  font-size: 1.2em;
  font-weight: 500;
  font-style: italic;
  border: 2px solid yellow;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s; }
  .btn-peoplewings:hover {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    cursor: pointer; }

.icon {
  float: left;
  width: 65px;
  height: 78px;
  text-indent: -9999px; }

/* Backgrounds
 * -------------------------------------------------------------------------- */
.background-1 {
  background: url(../img/bg_afternoon.png) no-repeat top center; }

.background-2 {
  background: url(../img/bg_happypeople.png) no-repeat top center; }

.background-3 {
  background: url(../img/bg_ironman.png) no-repeat top center; }

.background-4 {
  background: url(../img/bg_mountain.png) no-repeat top center; }

.background-5 {
  background: url(../img/bg_lanterna.png) no-repeat top center; }

.background-6 {
  background: url(../img/bg_burncity.png) no-repeat top center; }

.background-7 {
  background: url(../img/bg_ocean.png) no-repeat top center; }

.background-8 {
  background: url(../img/bg_city.png) no-repeat top center; }

select {
  color: #aaaaaa; }

/* ==========================================================================
 * HTML STRUCTURE
 * ========================================================================== */
#background-roller {
  width: 100%;
  height: 637px;
  position: absolute;
  z-index: -1; }

/* ==========================================================================
 * MIXIN Header
 * ========================================================================== */
.navbar.nav.navbar-fixed-top {
  background: #edede6;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 0px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
  height: 53px; }

.navbar .brand {
  float: left;
  background: url(../img/peoplewings.png) no-repeat;
  text-indent: -9999px;
  width: 237px;
  height: 60px;
  margin-top: 17px;
  padding: 0;
  margin-left: 0; }
.navbar .nav {
  float: right;
  font-size: 12px;
  margin-right: 10px;
  margin-top: 23px;
  line-height: 12px; }
  .navbar .nav li {
    display: inline;
    float: none;
    line-height: inherit; }
    .navbar .nav li:after {
      content: "|";
      margin-left: 10px;
      margin-right: 10px;
      color: #848178; }
    .navbar .nav li:last-child:after {
      content: ""; }
    .navbar .nav li a {
      display: inline;
      font-size: 11px;
      font-family: Arial, Sans-Serif;
      text-shadow: none;
      padding: 0;
      color: #848178; }
      .navbar .nav li a:hover {
        color: #18183f;
        text-decoration: underline; }

.navbar.nav.navbar-fixed-top {
  background: rgba(0, 0, 0, 0.15);
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }
  .navbar.nav.navbar-fixed-top ul li a, .navbar.nav.navbar-fixed-top ul li:after {
    color: #18183f; }
  .navbar.nav.navbar-fixed-top ul li a:hover {
    color: yellow;
    text-decoration: none; }

#main {
  margin-bottom: 8em; }
  #main #sharing {
    margin-top: 7em; }
    #main #sharing h1 {
      background: url(../img/sharingpeople.png) no-repeat;
      height: 158px;
      text-indent: -9999px; }
    #main #sharing h2 {
      color: yellow;
      font-family: "Exo";
      font-size: 1.7em;
      font-weight: 900;
      font-style: italic;
      line-height: 0.78em;
      letter-spacing: -1px;
      -webkit-text-stroke: 2.5px #18183f;
      -moz-text-stroke: 2.5px #18183f;
      margin-top: 0.7em;
      margin-bottom: 0.3em; }

#categories {
  overflow: hidden;
  position: relative;
  top: 11px; }
  #categories ul li {
    float: left; }

#landing-form {
  padding: 0.6em;
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em; }
  #landing-form form .control-group {
    float: left; }
  #landing-form form .control-label {
    float: left;
    width: 67px;
    height: 20px;
    margin: 19px 8px;
    text-indent: -9999px; }
  #landing-form form .wings_text {
    background: url(../img/wings_text.png) no-repeat; }
  #landing-form form .people_text {
    width: 75px;
    background: url(../img/people_text.png) no-repeat; }
  #landing-form form #inputWings {
    width: 15em; }
  #landing-form form #age {
    width: 5.2em; }
  #landing-form form .arrow {
    background: url(../img/arrow.png) no-repeat;
    width: 12px;
    height: 10px;
    float: right;
    text-indent: -9999px;
    position: relative;
    top: 17px;
    right: 24px; }
  #landing-form a {
    margin-top: 0.6em;
    margin-left: 1em; }

#middle {
  overflow: hidden; }
  #middle #middle-content {
    overflow: hidden;
    margin-top: 3em;
    margin-bottom: 3em; }
    #middle #middle-content div {
      width: 230px;
      height: 133px;
      float: left; }
      #middle #middle-content div p {
        font-family: "Exo";
        font-size: 1.4em;
        font-weight: 900;
        font-style: italic;
        color: #18183f;
        font-weight: 500; }

/* ==========================================================================
 * _Footer
 * ========================================================================== */
.navbar-fixed-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0; }

.footer.navbar.navbar-fixed-bottom {
  background: #edede6;
  color: #848178;
  font-size: 11px;
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 10px; }
  .footer.navbar.navbar-fixed-bottom ul {
    margin: 0; }
  .footer.navbar.navbar-fixed-bottom .navbar-inner {
    min-height: 40px; }
    .footer.navbar.navbar-fixed-bottom .navbar-inner div {
      float: left; }
  .footer.navbar.navbar-fixed-bottom #likes {
    background: url(../img/like.png) no-repeat;
    height: 20px;
    width: 81px;
    text-indent: -9999px; }
  .footer.navbar.navbar-fixed-bottom #terms {
    position: relative;
    left: 15em;
    line-height: 11px; }
    .footer.navbar.navbar-fixed-bottom #terms li {
      line-height: inherit;
      display: inline; }
      .footer.navbar.navbar-fixed-bottom #terms li a {
        margin-right: 12px; }
        .footer.navbar.navbar-fixed-bottom #terms li a:hover {
          text-decoration: underline;
          color: #18183f; }
      .footer.navbar.navbar-fixed-bottom #terms li:first-child {
        font-weight: bold; }
  .footer.navbar.navbar-fixed-bottom #follow {
    float: right;
    width: 260px; }
    .footer.navbar.navbar-fixed-bottom #follow h1 {
      font-weight: bold;
      font-size: 11px;
      line-height: 1;
      margin: 0px;
      float: left; }
    .footer.navbar.navbar-fixed-bottom #follow ul {
      margin-right: 20px; }
      .footer.navbar.navbar-fixed-bottom #follow ul li {
        display: inline; }
        .footer.navbar.navbar-fixed-bottom #follow ul li:first-child {
          float: left;
          font-size: 11px;
          font-weight: bold;
          margin-right: 20px;
          line-height: 1; }
      .footer.navbar.navbar-fixed-bottom #follow ul a {
        margin-right: 10px; }

.follow {
  width: 33px;
  height: 33px; }

.facebook {
  background: url(../img/icon_fb.png) no-repeat; }

.twitter {
  background: url(../img/icon_tw.png) no-repeat; }

.youtube {
  background: url(../img/icon_yt.png) no-repeat; }

/* ==========================================================================
 * Classes
 * ========================================================================== */
.share-wings {
  margin-top: 0.6em;
  font-size: 1em; }

.all {
  background: url(../img/icon_all.png) no-repeat; }
  .all:hover {
    background: url(../img/icon_all_pre.png) no-repeat; }

.transport {
  background: url(../img/icon_transport.png) no-repeat; }
  .transport:hover {
    background: url(../img/icon_transport_pre.png) no-repeat; }

.accommodation.selected {
  background: url(../img/icon_accommodation_selected.png) no-repeat; }

.travel {
  background: url(../img/icon_trip.png) no-repeat; }
  .travel:hover {
    background: url(../img/icon_trip_pre.png) no-repeat; }

.spot {
  text-indent: -9999px;
  margin-right: 0.6em; }

.house {
  background: url(../img/spot_car.png) no-repeat; }

.car {
  background: url(../img/spot_house.png) no-repeat; }

.trip {
  background: url(../img/spot_trip.png) no-repeat; }

.offer {
  margin-left: 0.7em;
  width: 200px !important; }

.light-800 {
  font-weight: 800; }
