/* ==========================================================================
 * INITIAL CONFIG
 * ========================================================================== */
/* --------------------------------------------------------------------------
 * _Reset : Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * 					http://cssreset.com
 * -------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* --------------------------------------------------------------------------
 * Globals
 * -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
 * Variables
 * -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
 * Mixins
 * -------------------------------------------------------------------------- */
* {
  margin: 0; }

html, body {
  height: 100%; }

body, input, select {
  font-family: Helvetica, Arial, Sans-Serif;
  color: black;
  background: white; }

a {
  text-decoration: none;
  color: #848178; }
  a:hover {
    color: yellow; }

li {
  list-style: none;
  float: left; }

textarea:hover, textarea:focus, textarea:active,
input[type="text"]:hover,
input[type="text"]:focus,
input[type="text"]:active,
input[type="password"]:hover,
input[type="password"]:focus,
input[type="password"]:active,
input[type="datetime"]:hover,
input[type="datetime"]:focus,
input[type="datetime"]:active,
input[type="datetime-local"]:hover,
input[type="datetime-local"]:focus,
input[type="datetime-local"]:active,
input[type="date"]:hover,
input[type="date"]:focus,
input[type="date"]:active,
input[type="month"]:hover,
input[type="month"]:focus,
input[type="month"]:active,
input[type="time"]:hover,
input[type="time"]:focus,
input[type="time"]:active,
input[type="week"]:hover,
input[type="week"]:focus,
input[type="week"]:active,
input[type="number"]:hover,
input[type="number"]:focus,
input[type="number"]:active,
input[type="email"]:hover,
input[type="email"]:focus,
input[type="email"]:active,
input[type="url"]:hover,
input[type="url"]:focus,
input[type="url"]:active,
input[type="search"]:hover,
input[type="search"]:focus,
input[type="search"]:active,
input[type="tel"]:hover,
input[type="tel"]:focus,
input[type="tel"]:active,
input[type="color"]:hover,
input[type="color"]:focus,
input[type="color"]:active,
.uneditable-input:hover,
.uneditable-input:focus,
.uneditable-input:active {
  outline: 0;
  border-color: #cccccc;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-webkit-box-shadow: none;
  -ms-webkit-box-shadow: none;
  -o-webkit-box-shadow: none; }

textarea,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
select {
  transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s; }
  textarea:hover, textarea:focus, textarea:active,
  input[type="text"]:hover,
  input[type="text"]:focus,
  input[type="text"]:active,
  input[type="password"]:hover,
  input[type="password"]:focus,
  input[type="password"]:active,
  input[type="number"]:hover,
  input[type="number"]:focus,
  input[type="number"]:active,
  input[type="email"]:hover,
  input[type="email"]:focus,
  input[type="email"]:active,
  select:hover,
  select:focus,
  select:active {
    box-shadow: 0 0 8px 3px yellow;
    -moz-box-shadow: 0 0 3px 8px yellow;
    -webkit-box-shadow: 0 0 8px 3px yellow; }

input,
select {
  font-size: 1em;
  padding: 0.7em;
  margin: 0.5em;
  border: 1px solid #cccccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }

input[type="submit"] {
  text-transform: uppercase; }

input[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox; }

input[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio; }

button {
  display: block;
  padding: 11px 14px;
  font-size: 11px;
  font-style: italic;
  color: gray;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-left: 1px solid #cecdce;
  border-right: 1px solid white;
  background: none; }
  button:hover {
    color: black;
    background: white; }
  button:active {
    background: #ffeb00;
    background: -moz-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffeb00), color-stop(100%, #fbfac5));
    background: -webkit-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
    background: -o-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
    background: -ms-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
    background: linear-gradient(to bottom, #ffeb00 0%, #fbfac5 100%); }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -56px; }

.push {
  height: 75px; }

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

.navbar-inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

#mini-spinner {
  float: left;
  display: block;
  height: 30px;
  width: 30px;
  margin-top: 14px;
  margin-left: 14px; }
  #mini-spinner span {
    font-size: 11px;
    font-style: italic;
    text-transform: uppercase;
    position: relative;
    top: 4px;
    left: 35px; }

/* Icons
 * -------------------------------------------------------------------------- */
.icon {
  float: left;
  width: 65px;
  height: 78px;
  text-indent: -9999px; }

/* Backgrounds
 * -------------------------------------------------------------------------- */
.background-roller {
  width: 100%;
  height: 637px;
  position: absolute;
  z-index: -1; }

.background-9 {
  background: url(../img/bg-landing.jpg) no-repeat top center; }

.background-10 {
  background: url(../img/bg-city.jpg) no-repeat top center; }

/* Alerts and Errors
 * -------------------------------------------------------------------------- */
.error {
  background: #d34836;
  color: white;
  font-size: 11px;
  padding: 0px;
  padding-left: 15px;
  margin-top: 5px; }

.form-errors {
  min-height: 20px; }
  .form-errors label {
    margin: 0; }

.date-error {
  margin-bottom: 5px;
  margin-left: 322px;
  max-width: 218px; }

.age-error {
  float: left;
  margin-top: 1px;
  margin-left: 89px;
  width: 136px; }

div#alerts-container {
  position: fixed;
  z-index: 10000000;
  top: 45px; }
  div#alerts-container .alert {
    overflow: hidden;
    min-width: 250px;
    max-width: 630px;
    margin-left: 570px;
    padding-left: 35px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px; }
    div#alerts-container .alert .close {
      float: right;
      line-height: 20px;
      font-size: 16px; }
    div#alerts-container .alert p {
      float: left;
      text-align: left;
      background: white;
      font-size: 11px;
      font-style: italic; }
  div#alerts-container .alert-error {
    border: 1px solid #e30417;
    color: #e30417;
    background: url(../img/peoplewings-sprite.png) no-repeat white;
    background-position: -1560px -683px; }
    div#alerts-container .alert-error .close {
      color: #e30417; }
  div#alerts-container .alert-warning {
    border: 1px solid #fc8200;
    color: #fc8200;
    background: url(../img/peoplewings-sprite.png) no-repeat white;
    background-position: -1560px -609px; }
    div#alerts-container .alert-warning .close {
      color: #fc8200; }
  div#alerts-container .alert-success {
    border: 1px solid #6daf19;
    color: #6daf19;
    background: url(../img/peoplewings-sprite.png) no-repeat white;
    background-position: -1560px -535px; }
    div#alerts-container .alert-success .close {
      color: #6daf19; }

/* OVER Bootstrap
 * -------------------------------------------------------------------------- */
.accordion {
  margin: 0; }
  .accordion .accordion-group {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border: none; }
    .accordion .accordion-group .accordion-inner {
      border: none;
      padding: 0; }

@media (max-width: 665px) {
  ul.nav.pull-right, .btn-group.pull-right {
    display: none; } }
@media (max-width: 767px) {
  [class*="span"], .row-fluid [class*="span"] {
    float: left;
    width: 700px; } }
@media (max-width: 979px) {
  .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding: 0; }

  .navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed; }

  .input-large {
    min-height: 20px;
    box-sizing: inherit;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit; } }
@media (max-width: 1200px) {
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1170px; } }
/* --------------------------------------------------------------------------
 * Buttons
 * -------------------------------------------------------------------------- */
button {
  font-family: inherit; }

.button, .button-highlight, .button-pager-previous, .button-pager-next, .button-close, .button-peoplewings, .button-basic-info, .button-edit-info, .button-back, .button-delete {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding: 15px 25px;
  margin: 0;
  font-size: 11px;
  font-style: italic;
  color: black;
  line-height: normal;
  text-shadow: 1px 1px 1px white;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #d0cec7;
  cursor: pointer;
  -webkit-appearance: none;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #ecece5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ecece5));
  background: -webkit-linear-gradient(top, white 0%, #ecece5 100%);
  background: -o-linear-gradient(top, white 0%, #ecece5 100%);
  background: -ms-linear-gradient(top, white 0%, #ecece5 100%);
  background: linear-gradient(to bottom, white 0%, #ecece5 100%); }
  .button:hover, .button-highlight:hover, .button-pager-previous:hover, .button-pager-next:hover, .button-close:hover, .button-peoplewings:hover, .button-basic-info:hover, .button-edit-info:hover, .button-back:hover, .button-delete:hover, .button:active, .button-highlight:active, .button-pager-previous:active, .button-pager-next:active, .button-close:active, .button-peoplewings:active, .button-basic-info:active, .button-edit-info:active, .button-back:active, .button-delete:active, .button:focus, .button-highlight:focus, .button-pager-previous:focus, .button-pager-next:focus, .button-close:focus, .button-peoplewings:focus, .button-basic-info:focus, .button-edit-info:focus, .button-back:focus, .button-delete:focus {
    background: white;
    color: black; }
  .button:active, .button-highlight:active, .button-pager-previous:active, .button-pager-next:active, .button-close:active, .button-peoplewings:active, .button-basic-info:active, .button-edit-info:active, .button-back:active, .button-delete:active {
    background: #ffeb00;
    background: -moz-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffeb00), color-stop(100%, #fbfac5));
    background: -webkit-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
    background: -o-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
    background: -ms-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
    background: linear-gradient(to bottom, #ffeb00 0%, #fbfac5 100%); }

.button-highlight {
  background: yellow;
  background: -moz-linear-gradient(top, yellow 0%, #ffeb00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, yellow), color-stop(100%, #ffeb00));
  background: -webkit-linear-gradient(top, yellow 0%, #ffeb00 100%);
  background: -o-linear-gradient(top, yellow 0%, #ffeb00 100%);
  background: -ms-linear-gradient(top, yellow 0%, #ffeb00 100%);
  background: linear-gradient(to bottom, yellow 0%, #ffeb00 100%); }

.button-pager-previous {
  padding: 0;
  text-indent: -9999px; }

.button-pager-next {
  padding: 0;
  text-indent: -9999px; }

.button-close {
  float: right;
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  line-height: 15px;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  color: black;
  text-shadow: 0 1px 0 white;
  cursor: pointer;
  opacity: 0.2;
  filter: alpha(opacity=20); }
  .button-close:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    background: none; }

.button-peoplewings {
  padding: 3px 15px;
  background: #18183f;
  color: yellow;
  font-family: "Exo", Tahoma, Sans-Serif;
  font-size: 16px;
  font-weight: bold;
  text-shadow: none;
  border: 2px solid yellow;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s; }
  .button-peoplewings:hover, .button-peoplewings:focus, .button-peoplewings:active {
    color: yellow;
    background: #18183f;
    outline: 0;
    box-shadow: 0 0 8px 3px yellow;
    -moz-box-shadow: 0 0 3px 8px yellow;
    -webkit-box-shadow: 0 0 8px 3px yellow; }

.button-basic-info {
  width: auto;
  padding: 14px;
  color: #848178;
  background: #f5f5f0;
  background: -moz-linear-gradient(top, #f5f5f0 0%, #e1e0d9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f0), color-stop(100%, #e1e0d9));
  background: -webkit-linear-gradient(top, #f5f5f0 0%, #e1e0d9 100%);
  background: -o-linear-gradient(top, #f5f5f0 0%, #e1e0d9 100%);
  background: -ms-linear-gradient(top, #f5f5f0 0%, #e1e0d9 100%);
  background: linear-gradient(to bottom, #f5f5f0 0%, #e1e0d9 100%); }

.button-edit-info {
  color: #848178;
  line-height: 24px;
  padding: 9px 28px 10px 20px; }

.button-back {
  padding: 2px 12px;
  height: 20px; }

.button-delete {
  padding: 5px 15px;
  color: #999999;
  text-shadow: 1px 1px white; }

/* ==========================================================================
 * HTML STRUCTURE
 * ========================================================================== */
/* --------------------------------------------------------------------------
 * Header
 * -------------------------------------------------------------------------- */
header {
  min-height: 53px; }

input#header-search {
  float: left;
  margin-top: 20px;
  border: 1px solid #d0cec7;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  margin-top: 15px;
  margin-left: 20px;
  width: 175px;
  background: url(../img/peoplewings-sprite.png) no-repeat white;
  background-position: -558px -117px;
  padding-top: 2px;
  padding-left: 30px;
  font-size: 12px;
  line-height: 21px;
  transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s; }
  input#header-search:hover, input#header-search:active, input#header-search:focus {
    outline: none;
    box-shadow: 0 0 8px 3px yellow;
    -moz-box-shadow: 0 0 3px 8px yellow;
    -webkit-box-shadow: 0 0 8px 3px yellow; }

.navbar.nav.navbar-fixed-top {
  background: #edede6;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 0px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
  height: 53px; }

.navbar .brand {
  float: left;
  background: url(../img/peoplewings-sprite.png) no-repeat;
  background-position: -1331px -224px;
  text-indent: -9999px;
  width: 237px;
  height: 60px;
  margin-top: 17px;
  padding: 0;
  margin-left: 0; }
.navbar .nav {
  float: right;
  font-size: 11px;
  margin-right: 10px;
  margin-top: 23px;
  line-height: 12px; }
  .navbar .nav li {
    float: left;
    line-height: inherit; }
    .navbar .nav li:after {
      content: "|";
      margin-left: 4px;
      margin-right: 4px;
      color: #848178; }
    .navbar .nav li:last-child:after {
      content: ""; }
    .navbar .nav li a {
      display: inline;
      font-size: inherit;
      font-family: Helvetica, Arial, Sans-Serif;
      text-shadow: none;
      padding: 0;
      color: #848178;
      text-transform: uppercase; }
      .navbar .nav li a:hover {
        color: #18183f;
        text-decoration: underline; }

div.nav-menu ul.nav.pull-right {
  text-transform: uppercase;
  margin-top: 5px;
  margin-right: 0; }
  div.nav-menu ul.nav.pull-right li {
    padding: 0; }
    div.nav-menu ul.nav.pull-right li a {
      display: inline-block;
      padding: 15px 6px; }
      div.nav-menu ul.nav.pull-right li a:hover {
        background: #d0cec7;
        text-decoration: none; }
    div.nav-menu ul.nav.pull-right li span#notif-count {
      float: left;
      padding-right: 10px;
      display: block;
      width: 14px;
      height: 14px;
      color: white;
      font-weight: bold;
      background: url(../img/peoplewings-sprite.png) no-repeat;
      background-position: -867px -167px;
      font-size: 10px;
      font-weight: normal;
      text-align: right; }
    div.nav-menu ul.nav.pull-right li img {
      float: right;
      width: 35px;
      height: 35px;
      margin: -13px 0 0 10px;
      border: 2px solid white; }
  div.nav-menu ul.nav.pull-right li.logged {
    padding: 0; }
    div.nav-menu ul.nav.pull-right li.logged:after {
      margin-right: 0px; }
    div.nav-menu ul.nav.pull-right li.logged a {
      padding: 15px 2px 2px 6px; }

div.btn-group.pull-right {
  margin-top: 16px; }
  div.btn-group.pull-right a {
    display: block;
    overflow: hidden;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0; }
    div.btn-group.pull-right a:hover {
      background-color: #d0cec7; }
  div.btn-group.pull-right ul.dropdown-menu {
    padding: 15px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    box-shadow: 1px 1px 2px #cccccc;
    -moz-box-shadow: 1px 1px #cccccc 2px;
    -webkit-box-shadow: 1px 1px 2px #cccccc; }
    div.btn-group.pull-right ul.dropdown-menu li {
      float: none; }
      div.btn-group.pull-right ul.dropdown-menu li a {
        font-size: 12px;
        color: #999999; }
        div.btn-group.pull-right ul.dropdown-menu li a:hover, div.btn-group.pull-right ul.dropdown-menu li a:focus {
          background: yellow;
          background: -moz-linear-gradient(top, yellow 0%, #ffea00 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, yellow), color-stop(100%, #ffea00));
          background: -webkit-linear-gradient(top, yellow 0%, #ffea00 100%);
          background: -o-linear-gradient(top, yellow 0%, #ffea00 100%);
          background: -ms-linear-gradient(top, yellow 0%, #ffea00 100%);
          background: linear-gradient(to bottom, yellow 0%, #ffea00 100%); }

.navbar.nav.navbar-fixed-top {
  background: rgba(0, 0, 0, 0.15);
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }
  .navbar.nav.navbar-fixed-top ul.nav.pull-right li a, .navbar.nav.navbar-fixed-top ul.nav.pull-right li:after {
    color: #18183f; }
  .navbar.nav.navbar-fixed-top ul.nav.pull-right li a:hover {
    color: yellow;
    text-decoration: none;
    background: none; }

/* --------------------------------------------------------------------------
 * Content
 * -------------------------------------------------------------------------- */
#main {
  margin-bottom: 7em;
  position: relative; }
  #main #sharing {
    margin-top: 7em; }
    #main #sharing h1 {
      background: url(../img/peoplewings-sprite.png) no-repeat;
      background-position: -1076px -21px;
      height: 158px;
      text-indent: -9999px; }
    #main #sharing h2 {
      text-transform: uppercase;
      color: yellow;
      font-family: "Exo", Tahoma, Sans-Serif;
      font-size: 1.7em;
      font-weight: 800;
      font-style: italic;
      line-height: 0.78em;
      letter-spacing: -1px;
      -webkit-text-stroke: 2.5px #18183f;
      -moz-text-stroke: 2.5px #18183f;
      margin-top: 0.7em;
      margin-bottom: 0.3em;
      margin-left: 20px; }

#categories {
  margin-top: 35px;
  margin-left: 15px;
  overflow: hidden; }
  #categories ul li {
    float: none; }
  #categories .all {
    background: url(../img/peoplewings-sprite.png) no-repeat;
    background-position: -220px -520px; }
    #categories .all:hover {
      background: url(../img/peoplewings-sprite.png) no-repeat;
      background-position: -120px -520px;
      cursor: default; }
  #categories .accommodation.selected {
    background: url(../img/peoplewings-sprite.png) no-repeat;
    background-position: -20px -620px; }
  #categories .transport {
    background: url(../img/peoplewings-sprite.png) no-repeat;
    background-position: -220px -720px; }
    #categories .transport:hover {
      background: url(../img/peoplewings-sprite.png) no-repeat;
      background-position: -120px -720px;
      cursor: default; }
  #categories .travel {
    background: url(../img/peoplewings-sprite.png) no-repeat;
    background-position: -220px -820px;
    cursor: default; }
    #categories .travel:hover {
      background: url(../img/peoplewings-sprite.png) no-repeat;
      background-position: -120px -820px; }
  #categories span {
    background: white;
    padding: 5px;
    color: #58586e;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    position: absolute;
    top: 209px;
    left: 3px;
    text-transform: uppercase;
    font-size: 10px; }
  #categories span.span-accommodation {
    left: 70px; }
  #categories span.span-transport {
    left: 134px; }
  #categories span.span-travel {
    left: 200px; }

#landing-form {
  margin-top: -12px;
  padding: 6px;
  background: rgba(25, 25, 44, 0.5);
  overflow: hidden;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px; }
  #landing-form form div.control-group {
    float: left; }
    #landing-form form div.control-group label.control-label {
      float: left;
      width: 67px;
      height: 20px;
      margin: 19px 8px;
      text-indent: -9999px; }
    #landing-form form div.control-group label.wings_text {
      background: url(../img/peoplewings-sprite.png) no-repeat;
      background-position: -1013px -263px; }
    #landing-form form div.control-group label.people_text {
      width: 75px;
      background: url(../img/peoplewings-sprite.png) no-repeat;
      background-position: -1009px -215px; }
    #landing-form form div.control-group input, #landing-form form div.control-group select {
      padding: 9px;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px; }
    #landing-form form div.control-group input {
      width: 216px;
      margin: 10px 5px; }
    #landing-form form div.control-group div.controls {
      width: 315px; }
      #landing-form form div.control-group div.controls select {
        background: url(../img/peoplewings-sprite.png) no-repeat white;
        background-position: -196px -6px;
        min-width: 100px;
        color: #aaaaaa;
        margin: 9px 5px; }
  #landing-form form button.button-peoplewings {
    font-size: 21.75px;
    padding: 3px 17px;
    margin-left: 10px;
    margin-top: 10px; }

#middle {
  overflow: hidden; }
  #middle div {
    overflow: hidden;
    margin: 2em auto;
    width: 720px; }
    #middle div li {
      display: inline;
      margin-right: 10px; }

/* --------------------------------------------------------------------------
 * Footer
 * -------------------------------------------------------------------------- */
.navbar-fixed-bottom {
  height: 40px;
  clear: both; }

.footer.navbar.navbar-fixed-bottom {
  position: relative;
  background: #edede6;
  color: #848178;
  font-size: 11px;
  overflow: hidden;
  padding-top: 14px; }
  .footer.navbar.navbar-fixed-bottom ul {
    margin: 0; }
  .footer.navbar.navbar-fixed-bottom .navbar-inner {
    min-height: 40px; }
    .footer.navbar.navbar-fixed-bottom .navbar-inner div {
      float: left; }
  .footer.navbar.navbar-fixed-bottom #likes {
    height: 20px;
    width: 81px;
    text-indent: -9999px;
    position: relative;
    top: 7px; }
  .footer.navbar.navbar-fixed-bottom #terms {
    line-height: 11px;
    margin-left: 20%;
    margin-top: 11px; }
    .footer.navbar.navbar-fixed-bottom #terms li {
      line-height: inherit;
      display: inline; }
      .footer.navbar.navbar-fixed-bottom #terms li a {
        margin-right: 12px; }
        .footer.navbar.navbar-fixed-bottom #terms li a:hover {
          text-decoration: underline;
          color: #18183f; }
      .footer.navbar.navbar-fixed-bottom #terms li:first-child {
        font-weight: 800;
        margin-right: 15px; }
  .footer.navbar.navbar-fixed-bottom #follow {
    float: right;
    width: 202px; }
    .footer.navbar.navbar-fixed-bottom #follow p {
      float: left;
      display: block;
      margin-right: 10px;
      margin-top: 11px;
      line-height: 11px; }
    .footer.navbar.navbar-fixed-bottom #follow ul {
      margin-right: 20px; }
      .footer.navbar.navbar-fixed-bottom #follow ul li {
        display: inline; }
      .footer.navbar.navbar-fixed-bottom #follow ul a {
        margin-right: 3px; }
    .footer.navbar.navbar-fixed-bottom #follow .follow {
      width: 33px;
      height: 33px; }
    .footer.navbar.navbar-fixed-bottom #follow .facebook {
      background: url(../img/peoplewings-sprite.png) no-repeat;
      background-position: -60px -409px; }
    .footer.navbar.navbar-fixed-bottom #follow .twitter {
      background: url(../img/peoplewings-sprite.png) no-repeat;
      background-position: -160px -408px; }
    .footer.navbar.navbar-fixed-bottom #follow .youtube {
      background: url(../img/peoplewings-sprite.png) no-repeat;
      background-position: -260px -409px; }

#terms, #terms a, #follow {
  color: #18183f; }

.facebook {
  background: url(../img/peoplewings-sprite.png) no-repeat !important;
  background-position: -10px -409px !important; }

.twitter {
  background: url(../img/peoplewings-sprite.png) no-repeat !important;
  background-position: -110px -408px !important; }

.youtube {
  background: url(../img/peoplewings-sprite.png) no-repeat !important;
  background-position: -210px -409px !important; }
