/* ==========================================================================
 * Initial
 * ========================================================================== */
body {
  font-family: "Arial", sans-serif;
  color: black; }

a {
  text-decoration: none;
  color: #18183f; }
  a:hover {
    color: yellow; }

li {
  list-style: none; }

div, ul, li {
  display: block; }

/* ==========================================================================
 * HTML
 * ========================================================================== */
#background-roller {
  width: 100%;
  height: 637px;
  position: absolute;
  z-index: -1; }

header {
  background: rgba(0, 0, 0, 0.15);
  height: 1.2em;
  padding: 0.8em; }
  header #header-content h1 {
    float: left;
    position: relative;
    background: url(../img/peoplewings.png) no-repeat;
    text-indent: -9999px;
    width: 237px;
    height: 60px; }
  header #header-content ul {
    float: right;
    font-size: 0.75em;
    position: relative;
    top: 0.6em; }
    header #header-content ul li {
      float: left; }
      header #header-content ul li a {
        font-size: 11px; }
        header #header-content ul li a:hover {
          color: yellow; }
      header #header-content ul li .a-underline {
        text-decoration: underline; }
      header #header-content ul li span {
        color: #18183f;
        margin-left: 0.8em;
        margin-right: 0.8em; }

#main {
  margin-bottom: 8em; }
  #main #sharing {
    margin-top: 7em; }
    #main #sharing h1 {
      background: url(../img/sharingpeople.png) no-repeat;
      height: 158px;
      text-indent: -9999px; }
    #main #sharing h2 {
      color: yellow;
      font-family: "Exo";
      font-size: 1.7em;
      font-weight: 900;
      font-style: italic;
      line-height: 0.78em;
      letter-spacing: -1px;
      -webkit-text-stroke: 2.5px #18183f;
      -moz-text-stroke: 2.5px #18183f;
      margin-top: 0.7em;
      margin-bottom: 0.3em; }

#categories {
  overflow: hidden;
  position: relative;
  top: 20px; }
  #categories ul li {
    float: left; }

#landing-form {
  padding: 0.6em;
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em; }
  #landing-form form {
    float: left; }
    #landing-form form label {
      color: #18183f;
      margin: 0.2em;
      font-family: "Exo";
      font-size: 1.4em;
      font-weight: 900;
      font-style: italic;
      -webkit-text-stroke: 1px yellow;
      -moz-text-stroke: 1px yellow; }
    #landing-form form input {
      font-family: Arial;
      font-size: 1em;
      padding: 0.7em;
      margin: 0.5em;
      border: 1px solid #cccccc;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px; }
    #landing-form form #inputWings {
      width: 15em; }
    #landing-form form #age {
      width: 5.2em; }
    #landing-form form .select-1 {
      display: inline;
      color: #979797;
      background: white;
      padding: 0.7em 1em;
      padding-right: 2em;
      border: 1px solid #cccccc;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -webkit-box-shadow: inset 1px 1px 4px #eeeeee;
      box-shadow: inset 1px 1px 4px #eeeeee; }
    #landing-form form .arrow {
      background: url(../img/arrow.png) no-repeat;
      width: 12px;
      height: 10px;
      float: right;
      text-indent: -9999px;
      position: relative;
      top: 17px;
      right: 24px; }
  #landing-form a {
    margin-top: 0.6em; }

#middle {
  overflow: hidden;
  border-bottom: 2px solid #eeeeee; }
  #middle #middle-content {
    overflow: hidden;
    margin-top: 3em;
    margin-bottom: 3em; }
    #middle #middle-content div {
      width: 230px;
      height: 133px;
      float: left; }
      #middle #middle-content div h1 {
        font-family: "Exo";
        font-size: 1.4em;
        font-weight: 900;
        font-style: italic;
        color: #18183f; }
      #middle #middle-content div .light-500 {
        font-weight: 500; }

footer {
  background: #dddddd;
  padding: 0.2em; }
  footer #footer-content {
    overflow: hidden;
    font-size: 0.7em;
    color: #555555;
    padding-top: 1.5em; }
    footer #footer-content a:hover {
      color: #18183f;
      text-decoration: underline; }
    footer #footer-content div {
      float: left; }
      footer #footer-content div ul li {
        float: left;
        margin-right: 1.5em; }
      footer #footer-content div ul .brand {
        font-weight: bold; }
    footer #footer-content #likes {
      background: url(../img/like.png) no-repeat;
      height: 20px;
      width: 81px;
      text-indent: -9999px;
      position: relative;
      top: -3px; }
    footer #footer-content #terms {
      position: relative;
      left: 18em; }
    footer #footer-content #follow {
      float: right; }
      footer #footer-content #follow h1 {
        float: left;
        margin-right: 1.5em;
        font-weight: bold; }
      footer #footer-content #follow ul {
        float: left;
        position: relative;
        top: -10px; }
        footer #footer-content #follow ul li {
          float: left;
          margin-right: 0.2em; }

/* ==========================================================================
 * Classes
 * ========================================================================== */
.limits {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.search-button {
  float: left;
  padding: 0.5em 1em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  color: yellow;
  background: #18183f;
  font-family: "Exo";
  font-size: 1.2em;
  font-weight: 500;
  font-style: italic;
  line-height: 0.78em;
  border: 2px solid yellow;
  transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s; }
  .search-button:hover {
    box-shadow: 0px 0px 20px yellow;
    -moz-box-shadow: 0px 0px 20px yellow;
    -webkit-box-shadow: 0px 0px 20px yellow; }

.share-wings {
  margin-top: 0.6em;
  font-size: 1em;
  padding: 0.5em 1.3em; }

.icon {
  float: left;
  width: 55px;
  height: 80px;
  margin-right: 0.5em;
  text-indent: -9999px; }

.all {
  background: url(../img/icon_all.png) no-repeat; }
  .all:hover {
    background: url(../img/icon_all_selected.png) no-repeat; }

.transport {
  background: url(../img/icon_transport.png) no-repeat; }
  .transport:hover {
    background: url(../img/icon_transport_selected.png) no-repeat; }

.accommodation {
  background: url(../img/icon_accommodation.png) no-repeat; }
  .accommodation:hover {
    background: url(../img/icon_accommodation_selected.png) no-repeat; }

.travel {
  background: url(../img/icon_trip.png) no-repeat; }
  .travel:hover {
    background: url(../img/icon_trip_selected.png) no-repeat; }

.follow {
  width: 33px;
  height: 33px; }

.facebook {
  background: url(../img/icon_fb.png) no-repeat; }

.twitter {
  background: url(../img/icon_tw.png) no-repeat; }

.youtube {
  background: url(../img/icon_yt.png) no-repeat; }

.spot {
  text-indent: -9999px;
  margin-right: 0.6em; }

.house {
  background: url(../img/spot_car.png) no-repeat; }

.car {
  background: url(../img/spot_house.png) no-repeat; }

.trip {
  background: url(../img/spot_trip.png) no-repeat; }

.offer {
  margin-left: 0.7em;
  width: 200px !important; }

.light-800 {
  font-weight: 800; }

.background-1 {
  background: url(../img/bg_afternoon.png) no-repeat; }

.background-2 {
  background: url(../img/bg_happypeople.png) no-repeat; }

.background-3 {
  background: url(../img/bg_ironman.png) no-repeat; }

.background-4 {
  background: url(../img/bg_mountain.png) no-repeat; }

.background-5 {
  background: url(../img/bg_lanterna.png) no-repeat; }

.background-6 {
  background: url(../img/bg_burncity.png) no-repeat; }

.background-7 {
  background: url(../img/bg_ocean.png) no-repeat; }

.selected {
  background: url(../img/icon_accommodation_selected.png) no-repeat; }
