/* ==========================================================================
 * Initial
 * ========================================================================== */
body {
  font-family: "Exo", sans-serif;
  color: black; }

a {
  text-decoration: none;
  color: #dddddd; }
  a:hover {
    color: red; }

li {
  list-style: none; }

div, ul, li {
  display: block; }

/* ==========================================================================
 * HTML
 * ========================================================================== */
#wrapper {
  background: #97d9e6; }
  #wrapper header {
    background: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    padding: 0.8em; }
    #wrapper header #header-content h1 {
      float: left; }
      #wrapper header #header-content h1 a {
        color: white; }
    #wrapper header #header-content ul {
      float: right;
      font-size: 0.8em; }
      #wrapper header #header-content ul li {
        float: left; }
        #wrapper header #header-content ul li a {
          color: white; }
        #wrapper header #header-content ul li .a-underline {
          text-decoration: underline; }
        #wrapper header #header-content ul li span {
          color: white;
          margin-left: 0.8em;
          margin-right: 0.8em; }
  #wrapper #main {
    width: 100%;
    height: 500px;
    border-bottom: 2px solid #80b7c9; }
    #wrapper #main #sharing {
      margin-top: 5em; }
      #wrapper #main #sharing h1 {
        color: #f8ff3c;
        font-size: 5em;
        font-weight: 900;
        font-style: italic;
        line-height: 0.78em;
        letter-spacing: -2px;
        -webkit-text-stroke: 3px #003e57; }
      #wrapper #main #sharing h2 {
        color: #f8ff3c;
        font-size: 1.3em;
        font-weight: 900;
        font-style: italic;
        line-height: 0.78em;
        letter-spacing: -1px;
        -webkit-text-stroke: 2px #003e57;
        margin-top: 0.7em;
        margin-bottom: 1.2em; }
  #wrapper #categories {
    overflow: hidden;
    margin-bottom: 1em; }
    #wrapper #categories ul li {
      float: left; }
  #wrapper #landing-form {
    padding: 0.6em;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em; }
    #wrapper #landing-form form {
      float: left;
      margin-right: 1em; }
      #wrapper #landing-form form label {
        color: white;
        margin: 0.5em;
        font-weight: bold;
        font-style: italic; }
      #wrapper #landing-form form input {
        padding: 0.8em;
        margin: 0.5em; }
      #wrapper #landing-form form #inputWings {
        width: 18em; }
      #wrapper #landing-form form #age {
        width: 6em; }
      #wrapper #landing-form form select {
        background: white;
        height: 3.5em; }
    #wrapper #landing-form a {
      margin-top: 0.4em;
      border-radius: 1em;
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em; }
  #wrapper #middle {
    background: white;
    border-bottom: 2px solid #cccccc;
    overflow: hidden; }
    #wrapper #middle #middle-content {
      overflow: hidden;
      margin-top: 3em;
      margin-bottom: 3em; }
      #wrapper #middle #middle-content div {
        background: red;
        border: 1px dotted gray;
        height: 8em;
        width: 14em;
        float: left;
        margin-right: 0.8em; }
  #wrapper footer {
    background: #dddddd;
    padding: 0.5em; }
    #wrapper footer #footer-content {
      overflow: hidden;
      font-size: 0.7em;
      color: #555555; }
      #wrapper footer #footer-content div {
        float: left;
        padding: 0.5em; }
        #wrapper footer #footer-content div ul li {
          float: left;
          margin-right: 1.5em; }
        #wrapper footer #footer-content div ul .brand {
          font-weight: bold; }
      #wrapper footer #footer-content #terms {
        position: relative;
        left: 23em; }
      #wrapper footer #footer-content #follow {
        float: right; }
        #wrapper footer #footer-content #follow h1 {
          float: left;
          margin-right: 1.5em;
          font-weight: bold; }
        #wrapper footer #footer-content #follow ul {
          float: left; }
          #wrapper footer #footer-content #follow ul li {
            float: left;
            margin-right: 0.2em; }

/* ==========================================================================
 * Classes
 * ========================================================================== */
.spot {
  float: left;
  text-indent: -9999px; }

.light {
  font-weight: 800; }

.icon {
  background: orange;
  float: left;
  overflow: hidden;
  width: 49px;
  height: 49px;
  border: 1px dotted black;
  margin-right: 0.5em;
  text-indent: -9999px; }

.follow {
  width: 30px;
  height: 30px; }

.search-button {
  float: left;
  background: white;
  padding: 0.5em 1em; }

.limits {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }
