div.profile {
  font-family: Arial;
  border: 1px solid #ccccd3;
  max-width: 770px;
  margin-bottom: 2em; }
  div.profile h1, div.profile h2, div.profile h3, div.profile h4, div.profile h5, div.profile h6 {
    line-height: 20px;
    margin: 0;
    padding: 0;
    font-weight: normal; }
  div.profile li {
    list-style-type: none; }
  div.profile div {
    display: block; }
  div.profile div.online-dot {
    float: left;
    width: 18px;
    height: 18px;
    background: lime;
    background: url(../img/online-corner.png) no-repeat left top;
    text-indent: -9999px;
    position: relative;
    top: -1px;
    left: -1px;
    z-index: 1; }
  div.profile div.content-left {
    float: left; }
    div.profile div.content-left div.avatar {
      width: 175px;
      height: 175px; }
      div.profile div.content-left div.avatar img {
        width: 175px;
        height: 175px;
        position: relative;
        top: -18px; }
  div.profile div.content-right {
    float: right;
    background: white;
    max-width: 523px; }
    div.profile div.content-right div.personal-info {
      margin: 24px;
      margin-bottom: 14px;
      max-height: 95px;
      overflow: hidden; }
      div.profile div.content-right div.personal-info h1.name {
        font-size: 21px;
        font-weight: bold;
        display: inline; }
        div.profile div.content-right div.personal-info h1.name a {
          text-decoration: none;
          color: black; }
          div.profile div.content-right div.personal-info h1.name a:hover {
            color: #01a6da; }
      div.profile div.content-right div.personal-info span {
        margin-left: 0.2em; }
      div.profile div.content-right div.personal-info span.age {
        font-size: 14px; }
      div.profile div.content-right div.personal-info span.online {
        color: gray;
        font-style: italic;
        font-size: 13px; }
      div.profile div.content-right div.personal-info h2.home-town {
        font-size: 16px; }
      div.profile div.content-right div.personal-info h3.current-location {
        color: gray;
        font-size: 14px;
        margin-bottom: 0.8em; }
      div.profile div.content-right div.personal-info h4 {
        display: inline;
        font-size: 13px;
        float: left; }
      div.profile div.content-right div.personal-info p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
      div.profile div.content-right div.personal-info p.languages-tag {
        color: gray;
        margin-right: 1em; }
      div.profile div.content-right div.personal-info p.languages {
        color: black;
        text-transform: capitalize; }
    div.profile div.content-right div.main-bar {
      font-size: 11px;
      color: gray;
      background: white;
      background: -moz-linear-gradient(top, white 0%, #ecece5 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ecece5));
      background: -webkit-linear-gradient(top, white 0%, #ecece5 100%);
      background: -o-linear-gradient(top, white 0%, #ecece5 100%);
      background: -ms-linear-gradient(top, white 0%, #ecece5 100%);
      background: linear-gradient(to bottom, white 0%, #ecece5 100%);
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #d0cec7;
      overflow: hidden; }
      div.profile div.content-right div.main-bar div {
        float: left; }
      div.profile div.content-right div.main-bar div.info-bar {
        padding: 1em 0em 0em 2.1em;
        overflow: hidden;
        max-height: 20px;
        width: 240px; }
        div.profile div.content-right div.main-bar div.info-bar span {
          float: left;
          margin-right: 0.8em; }
        div.profile div.content-right div.main-bar div.info-bar span.results {
          font-size: 16px;
          font-weight: bold;
          color: black; }
      div.profile div.content-right div.main-bar div.button-bar {
        float: right; }
        div.profile div.content-right div.main-bar div.button-bar li {
          float: left; }
        div.profile div.content-right div.main-bar div.button-bar a.button {
          display: block;
          padding: 0.9em 1.3em;
          font-style: italic;
          color: gray;
          text-decoration: none;
          text-transform: uppercase;
          border-left: 1px solid #cecdce;
          border-right: 1px solid white; }
          div.profile div.content-right div.main-bar div.button-bar a.button:hover {
            color: black;
            background: yellow;
            background: -moz-linear-gradient(top, yellow 0%, #ffea00 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, yellow), color-stop(100%, #ffea00));
            background: -webkit-linear-gradient(top, yellow 0%, #ffea00 100%);
            background: -o-linear-gradient(top, yellow 0%, #ffea00 100%);
            background: -ms-linear-gradient(top, yellow 0%, #ffea00 100%);
            background: linear-gradient(to bottom, yellow 0%, #ffea00 100%); }
  div.profile div.content-bottom {
    clear: both;
    color: gray;
    background: white;
    font-size: 0.8em; }
    div.profile div.content-bottom div.about-info {
      padding: 27px;
      overflow: hidden; }
      div.profile div.content-bottom div.about-info h1 {
        font-size: 17px;
        margin-bottom: 0.6em;
        float: left; }
      div.profile div.content-bottom div.about-info h2 {
        font-size: 12px;
        font-style: italic;
        float: right; }
      div.profile div.content-bottom div.about-info p {
        font-size: 13px;
        color: #aaaaaa;
        clear: both; }
    div.profile div.content-bottom div.about-footer {
      border-top: 1px solid #e5e5e5;
      padding: 0.8em;
      overflow: hidden; }
      div.profile div.content-bottom div.about-footer h1, div.profile div.content-bottom div.about-footer span {
        float: left;
        position: relative;
        left: 230px; }
      div.profile div.content-bottom div.about-footer span.more-about {
        font-size: 13px;
        background: url(../img/arrow_about.png) no-repeat 12px center;
        text-indent: -9999px; }
      div.profile div.content-bottom div.about-footer h1 {
        font-size: 13px;
        text-align: center;
        text-transform: uppercase; }
