/* --------------------------------------------------------------------------
 * _Reset : Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * 					http://cssreset.com
 * -------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* --------------------------------------------------------------------------
 * Mixins
 * -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
 * Globals
 * -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
 * Variables
 * -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
 * Mixins
 * -------------------------------------------------------------------------- */
* {
  margin: 0; }

html, body {
  height: 100%; }

body, input, select {
  font-family: Helvetica, Arial, Sans-Serif;
  color: black;
  background: white; }

a {
  text-decoration: none;
  color: #848178; }
  a:hover {
    color: yellow; }

li {
  list-style: none;
  float: left; }

textarea:hover, textarea:focus, textarea:active,
input[type="text"]:hover,
input[type="text"]:focus,
input[type="text"]:active,
input[type="password"]:hover,
input[type="password"]:focus,
input[type="password"]:active,
input[type="datetime"]:hover,
input[type="datetime"]:focus,
input[type="datetime"]:active,
input[type="datetime-local"]:hover,
input[type="datetime-local"]:focus,
input[type="datetime-local"]:active,
input[type="date"]:hover,
input[type="date"]:focus,
input[type="date"]:active,
input[type="month"]:hover,
input[type="month"]:focus,
input[type="month"]:active,
input[type="time"]:hover,
input[type="time"]:focus,
input[type="time"]:active,
input[type="week"]:hover,
input[type="week"]:focus,
input[type="week"]:active,
input[type="number"]:hover,
input[type="number"]:focus,
input[type="number"]:active,
input[type="email"]:hover,
input[type="email"]:focus,
input[type="email"]:active,
input[type="url"]:hover,
input[type="url"]:focus,
input[type="url"]:active,
input[type="search"]:hover,
input[type="search"]:focus,
input[type="search"]:active,
input[type="tel"]:hover,
input[type="tel"]:focus,
input[type="tel"]:active,
input[type="color"]:hover,
input[type="color"]:focus,
input[type="color"]:active,
.uneditable-input:hover,
.uneditable-input:focus,
.uneditable-input:active {
  outline: 0;
  border-color: #cccccc;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-webkit-box-shadow: none;
  -ms-webkit-box-shadow: none;
  -o-webkit-box-shadow: none; }

textarea,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
select {
  transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s; }
  textarea:hover, textarea:focus, textarea:active,
  input[type="text"]:hover,
  input[type="text"]:focus,
  input[type="text"]:active,
  input[type="password"]:hover,
  input[type="password"]:focus,
  input[type="password"]:active,
  input[type="number"]:hover,
  input[type="number"]:focus,
  input[type="number"]:active,
  input[type="email"]:hover,
  input[type="email"]:focus,
  input[type="email"]:active,
  select:hover,
  select:focus,
  select:active {
    box-shadow: 0 0 8px 3px yellow;
    -moz-box-shadow: 0 0 3px 8px yellow;
    -webkit-box-shadow: 0 0 8px 3px yellow; }

input,
select {
  font-size: 1em;
  padding: 0.7em;
  margin: 0.5em;
  border: 1px solid #cccccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }

input[type="submit"] {
  text-transform: uppercase; }

input[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox; }

input[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio; }

button {
  display: block;
  padding: 11px 14px;
  font-size: 11px;
  font-style: italic;
  color: gray;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-left: 1px solid #cecdce;
  border-right: 1px solid white;
  background: none; }
  button:hover {
    color: black;
    background: white; }
  button:active {
    background: #ffeb00;
    background: -moz-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffeb00), color-stop(100%, #fbfac5));
    background: -webkit-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
    background: -o-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
    background: -ms-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
    background: linear-gradient(to bottom, #ffeb00 0%, #fbfac5 100%); }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -56px; }

.push {
  height: 75px; }

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

.navbar-inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

#mini-spinner {
  float: left;
  display: block;
  height: 30px;
  width: 30px;
  margin-top: 14px;
  margin-left: 14px; }
  #mini-spinner span {
    font-size: 11px;
    font-style: italic;
    text-transform: uppercase;
    position: relative;
    top: 4px;
    left: 35px; }

/* Icons
 * -------------------------------------------------------------------------- */
.icon {
  float: left;
  width: 65px;
  height: 78px;
  text-indent: -9999px; }

/* Backgrounds
 * -------------------------------------------------------------------------- */
.background-roller {
  width: 100%;
  height: 637px;
  position: absolute;
  z-index: -1; }

.background-9 {
  background: url(../img/bg-landing.jpg) no-repeat top center; }

.background-10 {
  background: url(../img/bg-city.jpg) no-repeat top center; }

/* Alerts and Errors
 * -------------------------------------------------------------------------- */
.error {
  background: #d34836;
  color: white;
  font-size: 11px;
  padding: 0px;
  padding-left: 15px;
  margin-top: 5px; }

.form-errors {
  min-height: 20px; }
  .form-errors label {
    margin: 0; }

.date-error {
  margin-bottom: 5px;
  margin-left: 322px;
  max-width: 218px; }

.age-error {
  float: left;
  margin-top: 1px;
  margin-left: 89px;
  width: 136px; }

div#alerts-container {
  position: fixed;
  z-index: 10000000;
  top: 45px; }
  div#alerts-container .alert {
    overflow: hidden;
    min-width: 250px;
    max-width: 630px;
    margin-left: 570px;
    padding-left: 35px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px; }
    div#alerts-container .alert .close {
      float: right;
      line-height: 20px;
      font-size: 16px; }
    div#alerts-container .alert p {
      float: left;
      text-align: left;
      background: white;
      font-size: 11px;
      font-style: italic; }
  div#alerts-container .alert-error {
    border: 1px solid #e30417;
    color: #e30417;
    background: url(../img/peoplewings-sprite.png) no-repeat white;
    background-position: -1560px -683px; }
    div#alerts-container .alert-error .close {
      color: #e30417; }
  div#alerts-container .alert-warning {
    border: 1px solid #fc8200;
    color: #fc8200;
    background: url(../img/peoplewings-sprite.png) no-repeat white;
    background-position: -1560px -609px; }
    div#alerts-container .alert-warning .close {
      color: #fc8200; }
  div#alerts-container .alert-success {
    border: 1px solid #6daf19;
    color: #6daf19;
    background: url(../img/peoplewings-sprite.png) no-repeat white;
    background-position: -1560px -535px; }
    div#alerts-container .alert-success .close {
      color: #6daf19; }

/* OVER Bootstrap
 * -------------------------------------------------------------------------- */
.accordion {
  margin: 0; }
  .accordion .accordion-group {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border: none; }
    .accordion .accordion-group .accordion-inner {
      border: none;
      padding: 0; }

@media (max-width: 665px) {
  ul.nav.pull-right, .btn-group.pull-right {
    display: none; } }
@media (max-width: 767px) {
  [class*="span"], .row-fluid [class*="span"] {
    float: left;
    width: 700px; } }
@media (max-width: 979px) {
  .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding: 0; }

  .navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed; }

  .input-large {
    min-height: 20px;
    box-sizing: inherit;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit; } }
@media (max-width: 1200px) {
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1170px; } }
/* --------------------------------------------------------------------------
 * Globals
 * -------------------------------------------------------------------------- */
body {
  font-family: Helvetica, Arial, sans-serif;
  background: #f5f5f0; }

div {
  line-height: 20px; }

a, a:hover {
  text-decoration: none; }

select {
  font-size: 12px;
  color: gray;
  padding: 0;
  padding-left: 10px;
  margin-left: 0;
  background: url(../img/peoplewings-sprite.png) no-repeat white;
  background-position: -345px -11px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; }

/* --------------------------------------------------------------------------
 * Commons
 * -------------------------------------------------------------------------- */
.button1 {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-transform: uppercase;
  margin: 0;
  padding: 14px;
  width: 190px;
  border: none;
  border-top: 1px solid #d0cec7;
  border-bottom: 1px solid #d0cec7;
  font-style: italic;
  text-shadow: 1px 1px #eeeeee;
  color: #848178;
  background: #f5f5f0;
  background: -moz-linear-gradient(top, #f5f5f0 0%, #e1e0d9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f0), color-stop(100%, #e1e0d9));
  background: -webkit-linear-gradient(top, #f5f5f0 0%, #e1e0d9 100%);
  background: -o-linear-gradient(top, #f5f5f0 0%, #e1e0d9 100%);
  background: -ms-linear-gradient(top, #f5f5f0 0%, #e1e0d9 100%);
  background: linear-gradient(to bottom, #f5f5f0 0%, #e1e0d9 100%); }
  .button1:hover {
    background: white; }
  .button1:active {
    background: #ffeb00;
    background: -moz-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffeb00), color-stop(100%, #fbfac5));
    background: -webkit-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
    background: -o-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
    background: -ms-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
    background: linear-gradient(to bottom, #ffeb00 0%, #fbfac5 100%); }

.button2 {
  border: none;
  border-left: 1px solid #d0cec7;
  float: right;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #ecece5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ecece5));
  background: -webkit-linear-gradient(top, white 0%, #ecece5 100%);
  background: -o-linear-gradient(top, white 0%, #ecece5 100%);
  background: -ms-linear-gradient(top, white 0%, #ecece5 100%);
  background: linear-gradient(to bottom, white 0%, #ecece5 100%);
  padding: 11px 25px; }
  .button2 span {
    background-position: left;
    padding-left: 25px;
    padding-right: 10px; }

.button2.yellow {
  background: yellow;
  background: -moz-linear-gradient(top, yellow 0%, #ffea00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, yellow), color-stop(100%, #ffea00));
  background: -webkit-linear-gradient(top, yellow 0%, #ffea00 100%);
  background: -o-linear-gradient(top, yellow 0%, #ffea00 100%);
  background: -ms-linear-gradient(top, yellow 0%, #ffea00 100%);
  background: linear-gradient(to bottom, yellow 0%, #ffea00 100%); }
  .button2.yellow:hover {
    background: white; }
  .button2.yellow:active {
    background: #ffeb00;
    background: -moz-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffeb00), color-stop(100%, #fbfac5));
    background: -webkit-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
    background: -o-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
    background: -ms-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
    background: linear-gradient(to bottom, #ffeb00 0%, #fbfac5 100%); }

a.another {
  display: block;
  font-size: 12px;
  font-style: italic;
  text-align: right;
  margin: 10px 0;
  margin-bottom: 0; }
  a.another:hover {
    text-decoration: underline;
    color: black; }

button.close {
  opacity: 1;
  filter: alpha(opacity=100);
  background: none;
  color: #999999; }
  button.close:hover {
    opacity: 1;
    filter: alpha(opacity=100); }

/* --------------------------------------------------------------------------
 * Structure
 * -------------------------------------------------------------------------- */
.container {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 4em; }
  .container h2, .container label {
    color: #999999;
    font-size: 12px; }
  .container .landscape {
    min-height: 270px;
    padding: 27px;
    background: url(../img/landscape-photo.jpg) no-repeat;
    position: relative;
    margin-bottom: 8px; }
    .container .landscape .tabs {
      position: absolute;
      bottom: 25px;
      left: 200px; }
      .container .landscape .tabs .nav-tabs {
        position: relative;
        left: 0; }
      .container .landscape .tabs li {
        background: rgba(255, 255, 255, 0.5);
        margin-right: 8px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px; }
        .container .landscape .tabs li a {
          text-indent: 0;
          height: auto;
          text-align: center;
          display: block;
          padding: 15px 25px;
          text-transform: uppercase;
          font-size: 13px;
          font-style: italic;
          text-shadow: 1px 1px black;
          border-radius: 6px;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          color: white;
          width: auto; }
          .container .landscape .tabs li a:hover, .container .landscape .tabs li a:active {
            background: #f5f5f0;
            color: #848178;
            text-shadow: none;
            font-weight: bold; }
      .container .landscape .tabs .active {
        background: #f5f5f0;
        color: #848178; }
        .container .landscape .tabs .active a {
          color: #848178;
          text-shadow: none;
          font-weight: bold; }
    .container .landscape .people, .container .landscape .stars {
      float: right;
      width: 60px;
      height: 60px;
      background: white;
      margin-left: 10px;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px; }
    .container .landscape .personal-info {
      background: white;
      background: rgba(255, 255, 255, 0.9);
      width: 375px;
      float: right;
      position: absolute;
      bottom: 27px;
      right: 0;
      border: 1px solid #dddddd; }
      .container .landscape .personal-info button {
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 14px 24px;
        margin: 0;
        border: none;
        font-weight: bold;
        font-style: italic;
        background: none;
        text-shadow: 1px #eeeeee;
        border-right: 1px solid #d2d2d2;
        text-transform: uppercase;
        color: black; }
        .container .landscape .personal-info button:hover {
          background: white;
          cursor: pointer; }
        .container .landscape .personal-info button:active {
          background: #ffeb00;
          background: -moz-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffeb00), color-stop(100%, #fbfac5));
          background: -webkit-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
          background: -o-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
          background: -ms-linear-gradient(top, #ffeb00 0%, #fbfac5 100%);
          background: linear-gradient(to bottom, #ffeb00 0%, #fbfac5 100%); }
      .container .landscape .personal-info .button-bar {
        border-top: 1px solid #d2d2d2; }
        .container .landscape .personal-info .button-bar ul > li {
          float: left; }
      .container .landscape .personal-info .content-top {
        padding: 20px; }
        .container .landscape .personal-info .content-top h1.name {
          font-size: 21px;
          font-weight: bold;
          display: inline; }
          .container .landscape .personal-info .content-top h1.name a {
            text-decoration: none;
            color: black; }
            .container .landscape .personal-info .content-top h1.name a:hover {
              color: #01a6da; }
        .container .landscape .personal-info .content-top span {
          margin-left: 0.2em; }
        .container .landscape .personal-info .content-top span.age {
          font-size: 14px; }
        .container .landscape .personal-info .content-top span.online {
          color: #999999;
          font-style: italic;
          font-size: 13px; }
        .container .landscape .personal-info .content-top h2.home-town {
          font-size: 16px; }
        .container .landscape .personal-info .content-top h3.current-location {
          color: #999999;
          font-size: 13px;
          margin-top: 3px; }
        .container .landscape .personal-info .content-top p {
          font-size: 13px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          line-height: 20px; }
  .container .tab-content .content-left {
    float: left;
    background: #e1e0d9;
    width: 190px;
    border: 1px solid #d0cec7;
    border-bottom: none; }
    .container .tab-content .content-left .avatar {
      width: 172px;
      height: 172px;
      padding: 8px;
      padding-left: 9px;
      cursor: pointer;
      border-bottom: 1px solid #d0cec7; }
    .container .tab-content .content-left .box {
      padding: 15px 20px;
      border-bottom: 1px solid #d0cec7;
      overflow: hidden; }
    .container .tab-content .content-left .rate-info h2 {
      float: left;
      width: 75px; }
    .container .tab-content .content-left .rate-info p {
      display: block;
      font-size: 16px;
      font-weight: bold;
      margin-left: 20px; }
    .container .tab-content .content-left .basic-info {
      font-size: 12px; }
      .container .tab-content .content-left .basic-info h1 {
        color: gray;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px; }
      .container .tab-content .content-left .basic-info p, .container .tab-content .content-left .basic-info li {
        color: black;
        float: none; }
      .container .tab-content .content-left .basic-info p, .container .tab-content .content-left .basic-info li:last-child {
        margin-bottom: 10px; }
      .container .tab-content .content-left .basic-info li {
        text-transform: capitalize; }
      .container .tab-content .content-left .basic-info form input {
        height: 30px;
        width: 150px;
        font-size: 12px; }
      .container .tab-content .content-left .basic-info form select {
        padding: 0;
        padding-left: 10px;
        margin: 0;
        margin-top: 3px;
        background: url(../img/peoplewings-sprite.png) no-repeat white;
        background-position: 130px; }
      .container .tab-content .content-left .basic-info form .size-large.lock-info {
        width: 121px;
        background-position: 101px; }
    .container .tab-content .content-left div.edit-click {
      background: white;
      transition: opacity 0.25s;
      -moz-transition: opacity 0.25s;
      -webkit-transition: opacity 0.25s;
      -o-transition: opacity 0.25s;
      opacity: 0.6;
      filter: alpha(opacity=60);
      position: relative;
      bottom: 48px;
      text-transform: uppercase;
      font-size: 12px;
      font-style: italic;
      font-weight: bold;
      text-transform: uppercase;
      text-shadow: 1px 1px white;
      text-align: center;
      padding: 12px; }
      .container .tab-content .content-left div.edit-click:hover {
        opacity: 0;
        filter: alpha(opacity=0); }
    .container .tab-content .content-left .basic-info-footer {
      padding: 0; }
      .container .tab-content .content-left .basic-info-footer button {
        width: 50%;
        border-left: none;
        border-bottom: 1px solid #d0cec7; }
      .container .tab-content .content-left .basic-info-footer .button2.yellow {
        border-left: 1px solid #d0cec7; }
  .container .tab-content .content-right {
    float: left;
    width: 768px;
    /* box-standard */
    /* EOF box-standard */
    /* box-standard.maps */
    /* EOF box-standard.maps */ }
    .container .tab-content .content-right .box-standard {
      float: left;
      width: 374px;
      background: white;
      color: gray;
      margin-bottom: 8px;
      margin-left: 8px;
      border: 1px solid #d0cec7;
      overflow: hidden; }
      .container .tab-content .content-right .box-standard .box-header {
        border-bottom: 1px solid #d0cec7;
        min-height: 44px; }
        .container .tab-content .content-right .box-standard .box-header > i {
          margin: 9px;
          margin-left: 19px; }
        .container .tab-content .content-right .box-standard .box-header h2 {
          float: left;
          font-size: 14px;
          font-weight: bold;
          padding: 12px 0;
          text-shadow: 1px 1px white; }
        .container .tab-content .content-right .box-standard .box-header .button-edit-info {
          float: right;
          line-height: 24px;
          border-top: none;
          border-right: none;
          border-bottom: none; }
        .container .tab-content .content-right .box-standard .box-header .btn-group.pull-right {
          margin-top: 11px;
          margin-right: 12px; }
      .container .tab-content .content-right .box-standard .box-content {
        overflow: hidden;
        padding: 25px; }
        .container .tab-content .content-right .box-standard .box-content p {
          color: black;
          font-size: 12px;
          padding-bottom: 12px;
          margin-bottom: 12px;
          border-bottom: 1px solid #dddddd; }
      .container .tab-content .content-right .box-standard .wings-info h2, .container .tab-content .content-right .box-standard .contact-info h2 {
        float: left;
        margin-right: 10px; }
      .container .tab-content .content-right .box-standard .wings-info .last-p, .container .tab-content .content-right .box-standard .contact-info .last-p {
        float: none; }
      .container .tab-content .content-right .box-standard .gradient-box {
        background: url(../img/gradient-transparent.png) repeat-x left top;
        height: 100px;
        position: relative;
        margin: -100px 0 0 0; }
      .container .tab-content .content-right .box-standard .accordion-body.collapse {
        height: 450px;
        min-height: 450px; }
      .container .tab-content .content-right .box-standard .accordion-heading {
        background: white;
        border-top: 1px solid #d0cec7;
        overflow: hidden;
        cursor: pointer; }
        .container .tab-content .content-right .box-standard .accordion-heading span {
          background: url(../img/peoplewings-sprite.png) no-repeat;
          background-position: -658px -8px;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 13px;
          text-align: center;
          padding: 9px 34px;
          display: block;
          width: 74px;
          margin: 0 auto;
          display: block; }
      .container .tab-content .content-right .box-standard .button-group {
        float: right;
        overflow: hidden; }
        .container .tab-content .content-right .box-standard .button-group button {
          min-width: 90px;
          border-top: none;
          border-bottom: none; }
          .container .tab-content .content-right .box-standard .button-group button:last-child {
            margin-left: -4px; }
          .container .tab-content .content-right .box-standard .button-group button:last-child {
            border-left: none;
            border-right: none; }
    .container .tab-content .content-right .box-standard.maps {
      clear: both;
      width: 758px;
      margin-left: 8px;
      overflow: hidden; }
      .container .tab-content .content-right .box-standard.maps .box-content {
        border-top: 1px solid #d0cec7; }
        .container .tab-content .content-right .box-standard.maps .box-content label {
          padding: 5px 12px;
          padding-left: 24px;
          background-position: left;
          width: 100px;
          float: left; }
        .container .tab-content .content-right .box-standard.maps .box-content input {
          font-size: 12px;
          padding-left: 10px;
          margin-bottom: 10px;
          width: 210px; }
        .container .tab-content .content-right .box-standard.maps .box-content .controls {
          margin-left: 150px;
          margin-right: 308px; }
        .container .tab-content .content-right .box-standard.maps .box-content .controls.lived label.radio {
          float: right;
          margin-right: 175px; }
        .container .tab-content .content-right .box-standard.maps .box-content .controls.lived a {
          float: none;
          margin: 0; }
    .container .tab-content .content-right .maps-legend {
      overflow: hidden;
      border-top: 1px solid #d0cec7; }
      .container .tab-content .content-right .maps-legend li {
        display: inline;
        font-size: 12px;
        padding: 10px;
        padding-left: 20px;
        line-height: 24px; }
        .container .tab-content .content-right .maps-legend li span {
          margin-left: 5px; }
    .container .tab-content .content-right .box-standard.contact-info .box-content .control-group label {
      padding-top: 0;
      padding-left: 0; }
      .container .tab-content .content-right .box-standard.contact-info .box-content .control-group label > label {
        padding: 0; }
    .container .tab-content .content-right .box-standard.contact-info .box-content .control-group input[type="text"] {
      width: 140px;
      margin: 0; }
    .container .tab-content .content-right .box-standard.contact-info .box-content .control-group input[name="emails"] {
      width: 299px; }
    .container .tab-content .content-right .box-standard.contact-info .box-content .control-group input[type="radio"] {
      margin-top: 2px;
      margin-right: 10px; }
    .container .tab-content .content-right .box-standard.contact-info .box-content .control-group select {
      float: left;
      width: 150px;
      margin: 0;
      margin-right: 8px; }

/* --------------------------------------------------------------------------
 * Footer
 * -------------------------------------------------------------------------- */
.navbar-fixed-bottom {
  height: 40px;
  clear: both; }

.footer.navbar.navbar-fixed-bottom {
  position: relative;
  background: #edede6;
  color: #848178;
  font-size: 11px;
  overflow: hidden;
  padding-top: 14px; }
  .footer.navbar.navbar-fixed-bottom ul {
    margin: 0; }
  .footer.navbar.navbar-fixed-bottom .navbar-inner {
    min-height: 40px; }
    .footer.navbar.navbar-fixed-bottom .navbar-inner div {
      float: left; }
  .footer.navbar.navbar-fixed-bottom #likes {
    height: 20px;
    width: 81px;
    text-indent: -9999px;
    position: relative;
    top: 7px; }
  .footer.navbar.navbar-fixed-bottom #terms {
    line-height: 11px;
    margin-left: 20%;
    margin-top: 11px; }
    .footer.navbar.navbar-fixed-bottom #terms li {
      line-height: inherit;
      display: inline; }
      .footer.navbar.navbar-fixed-bottom #terms li a {
        margin-right: 12px; }
        .footer.navbar.navbar-fixed-bottom #terms li a:hover {
          text-decoration: underline;
          color: #18183f; }
      .footer.navbar.navbar-fixed-bottom #terms li:first-child {
        font-weight: 800;
        margin-right: 15px; }
  .footer.navbar.navbar-fixed-bottom #follow {
    float: right;
    width: 202px; }
    .footer.navbar.navbar-fixed-bottom #follow p {
      float: left;
      display: block;
      margin-right: 10px;
      margin-top: 11px;
      line-height: 11px; }
    .footer.navbar.navbar-fixed-bottom #follow ul {
      margin-right: 20px; }
      .footer.navbar.navbar-fixed-bottom #follow ul li {
        display: inline; }
      .footer.navbar.navbar-fixed-bottom #follow ul a {
        margin-right: 3px; }
    .footer.navbar.navbar-fixed-bottom #follow .follow {
      width: 33px;
      height: 33px; }
    .footer.navbar.navbar-fixed-bottom #follow .facebook {
      background: url(../img/peoplewings-sprite.png) no-repeat;
      background-position: -60px -409px; }
    .footer.navbar.navbar-fixed-bottom #follow .twitter {
      background: url(../img/peoplewings-sprite.png) no-repeat;
      background-position: -160px -408px; }
    .footer.navbar.navbar-fixed-bottom #follow .youtube {
      background: url(../img/peoplewings-sprite.png) no-repeat;
      background-position: -260px -409px; }

.box-content #religion-input {
  margin-bottom: 20px; }
  .box-content #religion-input .controls {
    line-height: 0; }
    .box-content #religion-input .controls .help-block {
      margin: 0; }
.box-content textarea {
  width: 300px !important;
  font-size: 12px;
  padding: 10px;
  margin: 0; }
.box-content input[type="text"] {
  font-size: 12px;
  width: 300px;
  margin: 0; }
.box-content #education-list input[type="text"] {
  margin-bottom: 10px; }

.box-center.wings1 h2 {
  float: left;
  margin-right: 10px; }
.box-center.wings1 p {
  margin-bottom: 12px; }

#languages-list {
  overflow: hidden; }
  #languages-list div {
    margin-bottom: 10px; }

.guest-message {
  padding: 25px;
  background: #f5f5f0;
  border-bottom: 1px solid #cccccc; }
  .guest-message h2 {
    float: left;
    font-weight: bold;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    background-position: 195px 4px;
    margin-bottom: 7px; }
  .guest-message i {
    margin-left: 10px;
    margin-top: 4px; }
  .guest-message p {
    font-style: italic;
    color: gray;
    font-size: 12px;
    clear: both; }

.box-content.wings-info label {
  padding: 0;
  margin: 0; }
.box-content.wings-info input, .box-content.wings-info select {
  margin: 0; }
.box-content.wings-info .control-group {
  margin-bottom: 18px; }
  .box-content.wings-info .control-group .control-label {
    padding: 0 0 0 1px;
    margin-bottom: 12px; }
  .box-content.wings-info .control-group .controls .input-sdate {
    width: 90px;
    background: url(../img/peoplewings-sprite.png) no-repeat;
    background-position: 75px center; }
  .box-content.wings-info .control-group .controls .input-edate {
    width: 90px;
    background: url(../img/peoplewings-sprite.png) no-repeat;
    background-position: 75px center; }
  .box-content.wings-info .control-group .controls .checkbox {
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
    line-height: 12px; }
    .box-content.wings-info .control-group .controls .checkbox input {
      margin-right: 10px; }
  .box-content.wings-info .control-group .controls.check .checkbox {
    float: none; }
.box-content.wings-info .lined {
  margin-bottom: 10px; }
  .box-content.wings-info .lined input[type="checkbox"] {
    margin-top: 8px; }
  .box-content.wings-info .lined .control-label {
    float: left;
    padding: 5px 0 5px 1px;
    margin: 0 10px 0 0; }
  .box-content.wings-info .lined .controls {
    margin-left: 80px; }
.box-content.wings-info .blocked {
  display: block;
  float: left;
  clear: none;
  margin-right: 12px; }
  .box-content.wings-info .blocked .control-label {
    float: none;
    margin: 0 0 6px 0; }
    .box-content.wings-info .blocked .control-label .controls {
      margin: 0; }
.box-content.wings-info .no-margin {
  margin-right: 0; }
.box-content.wings-info div.control-group:last-child {
  margin-bottom: 0; }
.box-content.wings-info div.control-group .controls:last-child {
  line-height: 0; }

h1.guest-message {
  border-top: 1px solid #d0cec7; }

.listing-location {
  padding: 25px;
  overflow: hidden; }
  .listing-location input {
    font-size: 12px;
    color: #999999; }
  .listing-location label {
    float: left;
    margin-left: 2px; }
  .listing-location i {
    margin-left: 10px;
    margin-top: 4px; }
  .listing-location .icon-lock-open {
    margin-top: 2px; }
  .listing-location input {
    margin: 0; }
  .listing-location .blocked {
    display: block;
    float: left;
    clear: none;
    margin-right: 12px; }
  .listing-location .control-label {
    margin: 0 0 6px 0; }
    .listing-location .control-label .controls {
      margin: 0; }

.accordion-heading {
  clear: both; }

.info .button-basic-info {
  width: 150px;
  padding: 10px 20px;
  border-left: 0;
  border-top: 0;
  line-height: 27px;
  text-align: left; }
  .info .button-basic-info i {
    margin: 0 10px; }
  .info .button-basic-info .icon-add-wings {
    margin: 0 10px 0 20px; }

/* OVER Bootstrap */
.form-actions {
  padding: 0;
  margin: 0;
  border: none;
  background: none; }

.box-content .control-group {
  margin: 0;
  clear: both; }

.help-block {
  margin: 0;
  display: inline; }

.box-standard form .box-content label {
  margin-bottom: 10px; }
.box-standard form .control-group {
  margin-bottom: 20px; }
  .box-standard form .control-group .category-another {
    float: left; }

.box-standard.maps .control-group {
  margin-bottom: 0; }
  .box-standard.maps .control-group label, .box-standard.maps .control-group input {
    margin: 0; }

/* HELLO MIGUEL ANGEL */
ul.dropdown-menu {
  padding: 15px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: 1px 1px 2px #cccccc;
  -moz-box-shadow: 1px 1px #cccccc 2px;
  -webkit-box-shadow: 1px 1px 2px #cccccc; }
  ul.dropdown-menu li {
    float: none; }
    ul.dropdown-menu li a {
      font-size: 12px;
      color: #999999; }
      ul.dropdown-menu li a:hover, ul.dropdown-menu li a:focus {
        background: yellow;
        background: -moz-linear-gradient(top, yellow 0%, #ffea00 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, yellow), color-stop(100%, #ffea00));
        background: -webkit-linear-gradient(top, yellow 0%, #ffea00 100%);
        background: -o-linear-gradient(top, yellow 0%, #ffea00 100%);
        background: -ms-linear-gradient(top, yellow 0%, #ffea00 100%);
        background: linear-gradient(to bottom, yellow 0%, #ffea00 100%); }

/* EOF OVER Bootstrap */
