body {
  background: #eeeeee; }

.profile {
  font-family: Arial;
  margin: 2em;
  border: 1px solid #ccccd3;
  max-width: 697px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.3em; }
  .profile div {
    display: block; }
  .profile .content-left {
    float: left; }
    .profile .content-left .avatar {
      width: 175px;
      height: 175px;
      background: url(../img/profile.png) no-repeat left top; }
      .profile .content-left .avatar .online-dot {
        width: 18px;
        height: 18px;
        background: lime;
        background: url(../img/online-corner.png) no-repeat left top;
        float: left; }
  .profile .content-right {
    background: white;
    float: left; }
    .profile .content-right .personal-info {
      padding: 1.5em;
      padding-bottom: 0.8em;
      max-width: 474px;
      max-height: 95px;
      overflow: hidden; }
      .profile .content-right .personal-info h1.name {
        font-size: 1.3em;
        font-weight: bold;
        display: inline; }
      .profile .content-right .personal-info span {
        margin-left: 0.2em; }
      .profile .content-right .personal-info .age {
        font-size: 0.9em; }
      .profile .content-right .personal-info .online {
        color: gray;
        font-style: italic;
        font-size: 0.8em; }
      .profile .content-right .personal-info h3.current-location {
        color: gray;
        font-size: 0.9em;
        margin-bottom: 0.8em; }
      .profile .content-right .personal-info h4 {
        display: inline;
        font-size: 0.8em; }
      .profile .content-right .personal-info .languages-tag {
        color: gray;
        margin-right: 1em; }
      .profile .content-right .personal-info .languages {
        color: black; }
    .profile .content-right .main-bar {
      font-size: 0.7em;
      color: gray;
      background: white;
      background: -moz-linear-gradient(top, white 0%, #ecece5 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ecece5));
      background: -webkit-linear-gradient(top, white 0%, #ecece5 100%);
      background: -o-linear-gradient(top, white 0%, #ecece5 100%);
      background: -ms-linear-gradient(top, white 0%, #ecece5 100%);
      background: linear-gradient(to bottom, white 0%, #ecece5 100%);
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #d0cec7;
      overflow: hidden;
      max-height: 40px; }
      .profile .content-right .main-bar div {
        float: left; }
      .profile .content-right .main-bar .info-bar {
        padding: 1em 1em 0em 2.1em;
        overflow: hidden;
        width: 253px;
        max-height: 20px; }
        .profile .content-right .main-bar .info-bar span {
          float: left;
          margin-right: 0.8em; }
        .profile .content-right .main-bar .info-bar .results {
          font-size: 1.4em;
          font-weight: bold;
          color: black; }
      .profile .content-right .main-bar .button-bar {
        float: right; }
        .profile .content-right .main-bar .button-bar li {
          float: left; }
        .profile .content-right .main-bar .button-bar a.button {
          display: block;
          padding: 0.9em 1.3em;
          font-style: italic;
          color: gray;
          text-decoration: none;
          text-transform: uppercase;
          border-left: 1px solid #cecdce;
          border-right: 1px solid white; }
          .profile .content-right .main-bar .button-bar a.button:hover {
            color: black;
            background: yellow;
            background: -moz-linear-gradient(top, yellow 0%, #ffea00 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, yellow), color-stop(100%, #ffea00));
            background: -webkit-linear-gradient(top, yellow 0%, #ffea00 100%);
            background: -o-linear-gradient(top, yellow 0%, #ffea00 100%);
            background: -ms-linear-gradient(top, yellow 0%, #ffea00 100%);
            background: linear-gradient(to bottom, yellow 0%, #ffea00 100%); }
  .profile .content-bottom {
    clear: both;
    color: gray;
    background: white;
    font-size: 0.8em; }
    .profile .content-bottom .about-info {
      padding: 2.1em; }
      .profile .content-bottom .about-info h1 {
        font-size: 1.3em;
        margin-bottom: 0.6em;
        float: left; }
      .profile .content-bottom .about-info h2 {
        font-size: 0.9em;
        font-style: italic;
        float: right; }
      .profile .content-bottom .about-info p {
        color: #aaaaaa;
        clear: both; }
    .profile .content-bottom .about-footer {
      border-top: 1px solid #e5e5e5;
      padding: 0.8em;
      overflow: hidden; }
      .profile .content-bottom .about-footer h1, .profile .content-bottom .about-footer span {
        float: left;
        position: relative;
        left: 17em; }
      .profile .content-bottom .about-footer span.more-about {
        background: url(../img/arrow_about.png) no-repeat 12px center;
        text-indent: -9999px; }
      .profile .content-bottom .about-footer h1 {
        text-align: center; }
