input {
	width: 90%;
}

.icon-remove {
	float:right;
	display:none;
}

.icon-remove:hover {
	cursor: pointer;
}

.description {
	padding-left: 20px;
}

.footer {
	padding: 20px 0;
	margin:auto;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}
.footer p {
	padding-left: 20px;
	color: #777;
}

/*****************
 * NOTIFICATIONS *
 *****************/

#notification-type {
	list-style: none;
	padding: 0;
	margin: 0;
}

#notification-type > .button {
	list-style: none;
	padding: 10px 20px;
	margin: 0;
	float: left;
	border: 1px solid #DDD;
}

#notification-type > .button.selected {
	background: #eee;
}

#notification-panel {
	border: 1px solid #DDD;
	clear: both;
}



#filter-title {
	float: left;
	margin: 10px;
}

#ri-status, #ri-filters {
	float: left;
	margin: 3px;
	width: 130px;
}

#notification-sender {
	float: left;
	list-style: none;
}

#notification-panel #search {
	float: right;
}

.floatality:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
