		<form id="login-form" class="form-horizontal">
			<legend>Log in</legend>
			<span class="signal">register signal</span>

			<div class="control-group clear">
				<div class="controls facebook-bright fb-login">
					<span class="icon-facebook-login">Icon facebook login</span>
					<div class="button-facebook">
						<strong>Log in </strong> with <strong> Facebook</strong>
					</div>
				</div>
			</div>

			<div class="control-group">
				<div class="controls facebook-separator">
					<span></span>
					<span class="odd">Or</span>
					<span></span>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="inputEmail">Email</label>
				<div class="controls">
					<input type="email" id="inputEmail" name="username" placeholder="Email" class="span3 required" maxlength="50">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputPassword">Password</label>
				<div class="controls">
					<input type="password" id="inputPassword" name="password" placeholder="Password" class="span3 required"maxlength="20">
				</div>
			</div>
			<div class="control-group">
				<div class="controls terms">
					<label class="checkbox">
						<input type="checkbox" name="remember">Remember me
					</label>
					<a href="#/forgot">Can't access your account?</a>
					<button type="submit" class="button-peoplewings">Log in</button>
				</div>
			</div>
		</form>
		