<div class="header">
	<table cellpadding="0">
		<tbody>
			<tr>
				<td class="td-online-button">
					<div class="online-button">
				</td>
				<td class="username">
					{{userName}}
				</td>
				<td class="td-button-close">
					<button type="button" id="close-button-{{id}}" class="button-close" data-dissmiss="chat" aria-hidden="true">x</button>
				</td>
			</tr>
		</tbody>
	</table>										
</div>
<div class="contents">
	<div class="chat-window"></div>
	<div class="chat-input">
		<textarea id="text-area-{{id}}" class="chat-textarea"></textarea>
	</div>
</div>