<header class="header">

	<div class="td-online-button">
		<div class="online-button"></div>
	</div>
	<div class="username">
		{{userName}}
	</div>
	<div class="td-button-close">
		<button type="button" id="close-button-{{id}}" class="button-close-chat" data-dissmiss="chat" aria-hidden="true">x</button>
	</div>
										
</header><div class="contents">
	<div id="chat-window-{{id}}" class="chat-window"></div>
	<div class="chat-input">
		<textarea id="text-area-{{id}}" class="chat-textarea"></textarea>
	</div>
</div>