<div class="sidebar">
	<ul>
		<li class="active"><a href="#how-it-works" data-toggle="tab">How it works</a></li>
		<li><a href="#terms-of-service" data-toggle="tab">Terms of service</a></li>
		<li><a href="#privacy-policy" data-toggle="tab">Privacy policy</a></li>
	</ul>
</div>
<div id="help-center" class="tab-content">
	<legend>Help center</legend>
	<div class="help-center-content tab-pane fade active in" id="how-it-works">
		<h1>How to Start</h1>
		<h2>Welcome to our global community!</h2>
		<p>This is a guide that will help you to start, so you can easily share the world.</p>

		<h1>1 Search</h1>
		<h2>Find the best PEOPLEWINGS can help.</h2>
		<p>On the home page or search page www.peoplewings.com/search, find the ideal PEOPLEWINGS typing where you need to share your WINGS.</p>

		<h1>2 Request</h1>
		<h2>Send requests to multiple PEOPLEWINGS.</h2>
		<p>Send WINGS requests with the yellow button "request", located to the right PEOPLEWINGS search results.</p>
		<p>We recommend that you make public requests to receive invitations from other PEOPLEWINGS. To make your public applications, you have to select the flag "Let other hosts can send me invitations". It shows in the popup "New Request" that appears when you click the yellow button "request".</p>

		<h1>3 Receive confirmation</h1>
		<h2>Wait confirmation of PEOPLEWINGS</h2>
		<p>Soon, you will receive confirmation messages of acceptance from PEOPLEWINGS users, who have requested them WINGS, on the message page:  www.peoplewings.com/messages.</p>

		<h1>4 "Fly"</h1> 
		<h2>Enjoy your flight with your new WINGS!</h2>
		<p>The sharing WINGS day is very close. However, before you have to contact the host to confirm the time and place that you will find. </p>
	</div>

	<div class="help-center-content tab-pane fade" id="terms-of-service">
		<h1>Terms of Service</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, quam, optio voluptas laudantium unde animi repellendus quas reprehenderit dolorem asperiores aliquid magnam necessitatibus qui quidem provident nisi magni perferendis quos.</p>
	</div>

	<div class="help-center-content tab-pane fade" id="privacy-policy">
		<h1>Privacy Policy</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, repellat, sunt, recusandae laboriosam vero eveniet officia odio temporibus nemo quo omnis eum ipsum commodi voluptas asperiores in facilis placeat molestiae!</p>
	</div>
</div>