<div class="tabs sidebar">

	<ul>
		<li class="active"><a href="#how-it-works" data-toggle="tab">How it works</a></li>
		<li><a href="#terms-of-service" data-toggle="tab">Terms of service</a></li>
		<li><a href="#privacy-policy" data-toggle="tab">Privacy policy</a></li>
	</ul>

</div>

<div id="help-center" class="tab-content">

	<legend>Help center</legend>

	<div class="help-center-content tab-pane fade active in" id="how-it-works">

		<h1>How to Start</h1>

		<h2>Welcome to our global community!</h2>
		<p>This is a guide that will help you to start, so you can easily share the world.</p>

		<h1>1 Search</h1>

		<h2>Find the best PEOPLEWINGS can help.</h2>
		<p>On the home page or search page www.peoplewings.com/search, find the ideal PEOPLEWINGS			typing where you need to share your WINGS.</p>

		<h1>2 Request</h1>

		<h2>Send requests to multiple PEOPLEWINGS.</h2>
		<p>Send WINGS requests with the yellow button "request", located to the right PEOPLEWINGS search results.</p>

		<p>We recommend that you make public requests to receive invitations from other PEOPLEWINGS. To make your public applications, you have to select the flag "Let other hosts can send me invitations". It shows in the popup "New Request" that appears when you click the yellow button "request".</p>

		<h1>3 Receive confirmation</h1>

		<h2>Wait confirmation of PEOPLEWINGS</h2>
		<p>Soon, you will receive confirmation messages of acceptance from PEOPLEWINGS users, who have requested them WINGS, on the message page:  www.peoplewings.com/messages.</p>

		<h1>4 "Fly"</h1>

		<h2>Enjoy your flight with your new WINGS!</h2>
		<p>The sharing WINGS day is very close. However, before you have to contact the host to confirm the time and place that you will find. </p>

	</div>

	<div class="help-center-content tab-pane fade in" id="terms-of-service">

		<h1>Terms of Service</h1>

		<h2>Company Data</h2>
		<p>The general Terms of Service are those that regulate the access and use of the website www.peoplewings.com (hereinafter Website); peoplewings.com is an </p>

		<p>Internet domain owned by PEOPLEWINGS, SL (Hereinafter, PEOPLEWINGS) provided with Tax Identification Number B65781072, registered in the Mercantile Registry of Barcelona,  Tomo 43131, folio 48, hoja B-423188, inscripción 1, located at Llacuna 162 (Barcelona Activa) 08018, Barcelona (Spain).</p>

		<p>In case you need to contact us to communicate any information or for any questions, concerns, complaints, comments, clarifications or suggestions, we provide you our contact details which are as follows:</p>

		<ul>
			<li>Email: info@peoplewings.com</li>
			<li>Phone: (0034) 934 869 034</li>
			<li>Fax: (0034) 933 009 015</li>
			<li>Postal Address: c / Llacuna, 162, 08018, Barcelona (Spain)</li>
		</ul>

		<p>In the event that any provision of these Terms of Service be declared invalid, the remainder shall remain in full force and full effect. The clauses should be interpreted independently from them, so that if any provision is held invalid, it shall not affect the remaining provisions.</p>

		<p>PEOPLEWINGS may update, modify or remove, at any time, the website or its operating, technical or usage conditions.</p>

		<h2>Mission</h2>
		<p>This website (www.peoplewings.com) is a platform that aims to create an online community which allows registered USERS to share a diversity of services, experiences, interests,  benefits and products (here in after, services ). We list some of them (without prejudice to create more in the future), although  they are not currently operating, as an example, but not limited to:</p>

		<ul>
			<li>Share home stays outside the USER'S home.</li>
			<li>Share vehicles with same or similar routes.</li>
			<li>Share different kinds of outings (nightime, cultural or leisure).</li>
			<li>Share trips, excursions and walks.</li>
			<li>Share every kind of sports.</li>
		</ul>

		<p>We take this opportunity to convey to you that any suggestions you have to expand the range of possibilities to share, to be offered through the website, will be welcomed and properly analyzed for implementation.</p>

		<p>PEOPLEWINGS does not provide direct services but only the possibility that the USERS share services. Consequently, PEOPLEWINGS merely provides intermediary services, promoting contact between the USERS who wish to share services.</p>

		<p>PEOPLEWINGS reserves the right to provide new services to share, free or not free.</p>

		<h2>Users</h2>

		<p>Access to the website www.peoplewings.com is assigning to whoever makes the condition of VISITOR and who also is registering the USER condition.</p>

		<p>Whether you are a VISITOR or a USER, either condition implies knowledge and full acceptance of these conditions.</p>

		<p>Registration on the website is free, without prejudice to payment services which may exist, in which case you will be duly notified to the USER, prior and expressly.</p>

		<p>To access the services it is required to be the age of 18 or older and the registering. USER Registration involves the entering of a series of data, some essential and others optional, through corresponding forms on the website. Data for completing these forms is provided by the USER freely and voluntarily, so that the entered data must be true. In case you do not provide the mandatory data it will not be possible to register. </p>

		<p>The requested optional data lets the USER enjoy the website better and be more likely to achieve a satisfying experience.</p>

		<p>USERS only can use of this website as individuals, and may not use the service of this site for commercial purposes.</p>

		<p>PEOPLEWINGS reserves the right, without further notice, to update, modify, unilaterally and at any time these Terms of Service. Therefore, the USER must often check these Terms of Service.</p>

		<p>If the USER is reneging on these Terms of Service, PEOPLEWINGS has the faculty to suspend or even delete his profile, without prior notice to this effect and without any right of the USER to get a compensation arising from the mentioned suspension and / or elimination. PEOPLEWINGS has also the faculty to delete specific content that contravenes the specific Terms of Service or legislation.
			The Users agree not to use this platform for illegal or illicit purposes</p>

			<p>Below are expressed some of the commitments acquired by USERS: </p>

			<ul>
				<li>Refrain from expressing opinions or provide information that incites sexual, religious, racial or other kind of discrimination or that violates any right recognized and protected by Spanish legislation.</li>
				<li>Refrain from expressing opinion that can be offensive, xenophobic, slanderous, defamatory, aggressive, violent and obscene language.</li>
				<li>Refrain from expressing untruthful inaccurate, incomplete or ambiguous.
					opinions or information.</li>
					<li>Refrain from expressing unlawful opinions or  information.</li>
					<li>Refrain from violating the right to confidentiality of communications.</li>
					<li>Refrain from activities that violate the rights of intellectual property.</li>
					<li>Refrain from violating the rights of honour, privacy or image of individuals.</li>
					<li>Refrain from providing information containing illegal, pornographic or degrading contents.</li>
					<li>To use the website in accordance with  the law, morals, good faith, good costums and public order.</li>
					<li>Refrain from using the platform to get personal data of other USERS for  other purposes than those described in these conditions.</li>
					<li>Refrain from installing viruses or harmful files, or commit any action that causes damage, on the website, which could impede its normal use.</li>
					<li>Refrain from using the website with advertising or commercial purposes.</li>
					<li>Refrain from using the website to input or output data or information not related to the service provided on the website.</li>
					<li>Refrain from storing or using USERS personal information for any other purpose than the  aforementioned.</li>
					<li>Maintain the confidentiality of your username and password, agreeing not to disclose such data to third parties, as the use of a USER name and password by a third always will be considered done on behalf of the USER.</li>
					<li>Holding property rights over the photographs, if any, that you post or, where appropriate, having the corresponding rights and  having the appropriate authorization.</li>
					<li>Being responsible that the photographs that are suitable to morality and public order.</li>
				</ul>

				<p>The information on the website about each USER is entered for every USER, who, therefore, is the only one responsible for its accuracy and content and for the possible damages.</p>

				<p>The USER declares he has read and accepted these Terms of Service and of the provision of services of this website.</p>

				<p>The user, by virtue of his registration, gives his express consent to receive by email information about provided services by PEOPLEWINGS as well as offers, promotions or advertising. This consent may be revoked at any time by sending e-mail to info@peoplewings.com, or by fax to (0034) 933 009 015 or by letter to the address calle Llacuna street, 162, Barcelona (08018), stating that fact.</p>

				<p>The user can opt-out of the website by accessing his account and using the "Unsubscribe" or by sending an email to info@peoplewings.com, or by fax at (0034) 933 009 015 or by letter sent to the address Calle Llacuna, 162, Barcelona (08018), facilitating his USER name and password, and a copy of his identity document and requesting expressly the cancellation.</p>

				<h2>Intellectual property rights and industrial property</h2>

				<p>The contents included or to be included in the future on this website, whether the website itself, text, logos, images, photographs, graphics, drawings, software, music, sound, trademarks, trade names, or any other distinctive sign, or computer codes are owned by PEOPLEWINGS or licensors or other owners of these rights. Consequently, these rights are protected by intellectual and industrial property rights.</p>

				<p>The USER gives PEOPLEWINGS rights to the information or data the USER enter, in order that PEOPLEWINGS can promote the services described in the exercise of his activity.
					The USER is the unique responsible for the information and data is entering in the website, being responsible in the event that any third party conduct a claim arising from infringed their intellectual property in the contents or data entered.</p>

					<p>It is forbidden the reproduction, distribution, commercialization or transformation of the content not expressly authorized by the owners. If someone breaches this commitment, shall incur an infringement of intellectual property.</p>

					<h2>Links</h2>

					<p>The links to other websites that could be on the website, whether referring to publicity or other types of content, are only offered for information purposes to VISITOR and / or USER, so PEOPLEWINGS will not be responsible for the products, services or content that are on the pages located on another domain, as long as these pages are managed and owned by third parties and not by PEOPLEWINGS. PEOPLEWINGS does not make any supervision or control over such contents. Therefore, PEOPLEWINGS does not warrant and respond  for the legality of the content of such sites. The owner of these sites will be the unique responsible.</p>

					<p>In order to provide advertising that suits the profile of the USER and / or VISITOR, PEOPLEWINGS has the faculty to keep information about the links that the USERD/VISITOR has entered.</p>

					<h2>Limitation of Liability</h2>

					<p>PEOPLEWINGS disclaims any liability in the following cases:</p>

					<ul>
						<li>Misuse USER name and password.</li>
						<li>Abnormal functioning of the website, whether from force meajure reasons, even for reasons that were attributable to PEOPLEWINGS.</li>
						<li>Access to the website with interruptions or errors.</li>
						<li>Damage being caused on a computer when accessing or browsing the website (interference, computer viruses, faults ..).</li>
						<li>Non Availability of the website for maintenance reasons.</li>
						<li>Claims for infringement of intellectual or industrial property rights incurred by any USER in the data and information entered in the website. The USER will be responsible and must bear the damages caused directly.</li>
						<li>Opinions or information provided by USERS that could provoke any claim.</li>
						<li>From the falls, interruption or failure of communications that might occur in commercial operations.</li>
						<li>From the damages that may occur with the use of the contents made by third party regarding the data entered by the USER.</li>
						<li>The bad performance of the services. USERS make optionally use of the services and take the risk that this may entail.</li>
						<li>In any unlawful or illegal action made by an USER or a third party.</li>
					</ul>

					<p>PEOPLEWINGS can not control or monitor USERS profiles and the content posted by them, so you can not claim any responsibility to PEOPLEWINGS in relation to the profile or content posted by USERS. Anyway PEOPLEWINGS has the faculty to delete content that would be contrary to  the law.</p>

					<p>Consequently, PEOPLEWINGS disclaims any liability for the exchange of information between USERS made through the website, being solely responsible USERS.</p>

					<h2>Law and Jurisdiction</h2>

					<p>The Terms of Service and the Privacy Policy are governed by Spanish law.</p>

					<p>For the resolution of disputes that may arise regarding the validity, interpretation and enforceability of these Terms of Service, USER expressly submits to the jurisdiction of the Courts and Tribunals of the city of Barcelona (Spain), waiving any other jurisdiction that may apply.</p>

				</div>

				<div class="help-center-content tab-pane fade in" id="privacy-policy">

					<h1>Privacy Policy</h1>

					<h2>Data Protection</h2>

					<p>The USER, hereby reading and acceptance of the Terms of Service, consents PEOPLEWINGS to the processing of his personal data with the purpose mentioned in the general Terms of Service.</p>

					<p>PEOPLEWINGS agrees to comply with Ley Orgánica 15/1999, de Protección de Datos de Carácter Personal and Real Decreto 1720/2007 that approves the Regulation implementing that law.</p>

					<p>PEOPLEWINGS warrant that all data provided by the USER on the website will be used according to its intended purpose.</p>

					<h3>PEOPLEWINGS informs:</h3>

					<p>The personal data entered by the USER will be incorporated into a file owned by PEOPLEWINGS, duly registered in the General Registry of Data Protection (Registro General de Protección de Datos).</p>

					<p>The purpose of USERS data collection is done in order that they can share the data with other USERS. The addressees of information shall therefore be the USERS.</p>

					<p>PEOPLEWINGS will keep personal data as long as they need to carry on the provided services. Once completed, PEOPLEWINGS will destroy the aforementioned personal data.</p>

					<p>The USERS have the possibility of exercising rights of access, rectification, cancellation and opposition regarding their personal data, contacting PEOPLEWINGS via email to info@peoplewings.com, or by fax at (0034) 933 009 015 or by letter to the address Llacuna street, 162, Barcelona (08018). The exercise of these rights (of access, rectification, cancellation and opposition) are independent.</p>

					<h3>PEOPLEWINGS commits:</h3>

					<p>Treat confidentially the personal data of USERS that PEOPLEWINGS has as a consequence of their surfing in the website or their registration, keeping the secret, obligation  that shall continue even after the USER has terminated its relationship with PEOPLEWINGS.</p>

					<p>Adopt the necessary measures, technical and organizational, which ensure the security of personal data and avoid its alteration, loss and unauthorized treatment or access to such data. The purpose of the security measures will ensure the confidentiality, integrity and availability of data.</p>

					<p>The USER uses the service at his own risk and acknowledges that the advertised services on the website are provided according to the information and data that enter every USER.  PEOPLEWINGS does not respond and does not guarantee the services.</p>

					<p>PEOPLEWINGS may need to hire third party service providers to provide their services through the website, so that, if necessary, aforementioned personal data will be shared with service providers, which will be used, in strict compliance with the Terms of Service, and only in order to fulfill the role for which they were hired by PEOPLEWINGS. In fact, upon completion of the provision of services by the provider, PEOPLEWINGS will request a return or, where applicable, destruction of personal data. USERS expressly consent that their data be transferred to the mentioned third party service providers.</p>

					<h2>Cookies</h2>

					<p>A cookie is a small piece of data sent from the website and stored in the USER'S or VISITOR'S browser that is transferred to his computer's hard drive in order the server remembers certain information.</p>

					<p>While browsing the web page, it is collected, by using cookies, USER'S or VISITOR'S information, in order that the USER does not have to enter their USER name and password for each page of peoplewings.com. It also has utility for information about browsing habits of the USER and thus PEOPLEWINGS provides the services optimally.</p>

					<p>Browsing through the website implies consent to the installation of the Cookies. However, there is the possibility that the user disable and delete Cookies, configuring his browser for this purpose.</p>

				</div>
			</div>