<div class="row">
	<div class="span8">
		<div class="tab-content">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#accomodation" class="accommodation" data-toggle="tab">Accomodation</a></li>
				<li><a href="#transport" class="transport" data-toggle="tab">Transport</a></li>
				<li><a href="#trip" class="travel" data-toggle="tab">Trip</a></li>
			</ul>
			<div class="tab-pane active" id="accomodation">Accomodation</div>
			<div class="tab-pane" id="transport">Transport</div>
			<div class="tab-pane" id="trip">Trip</div>
		</div><!-- EOF tab-content -->
	</div><!-- EOF span8 -->
	<div class="span4">
		<h2>How it works</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit, magna vitae hendrerit lobortis, enim ante viverra velit, vitae malesuada leo ipsum quis est.</p>
	</div><!-- EOF span4 -->
</div><!-- EOF row -->
<div id="search-results"></div>