<div class="row">
	<div class="span8">
		<div class="tab-content" data-step="7" data-intro="Thank you for taking this tour. We hope you've learned the basics of your superpowers!">
			<ul class="nav nav-tabs">
				<li class="{{#equals selected 'people' }}active{{/equals}}">
					<a href="#/search/people/" class="people">Poeple</a>
				</li>
				<li class="{{#equals selected 'accommodation' }}active{{/equals}}">
					<a href="#/search/accommodation/" class="accommodation">Accommodation</a>
				</li>
			</ul>
			<div class="tab-pane {{#equals selected 'people' }}active{{/equals}}" id="people">People</div>
			<div class="tab-pane {{#equals selected 'accommodation' }}active{{/equals}}" id="accommodation">Accommodation</div>
		</div><!-- EOF tab-content -->
	</div><!-- EOF span8 -->
</div><!-- EOF row -->
<div id="search-results"></div>
