<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="reset.css">
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="profile">
			<div class="top">
				<div class="avatar">
					<div class="online_dot">
					</div>
					<img src="" alt="">
				</div>
				<div class="personal_info">
					<h1 class="name align-text">Johan Artinguerhauser</h1>
					<span class="age align-text">[21]</span>
					<span class="online align-text">Online</span>
					<h2 class="location">Luzermerstrasse, Littaugansens, Switzerland</h2>
					<h3 class="gps">Now in Barcelona, Catalonia, Spain</h3>
					<span class="gps">Languages</span>
					<span class="gps black">Spanish, English</span>
				</div>
				<div class="buttons_bar">
					<span class="button">Replay Time</span>
					<span class="button">4h</span>
					<span class="button">Replay Rate</span>
					<span class="button">100%</span>
					<ul>
						<li><a href="#" class="button">MESSAGE</a></li>
						<li><a href="#" class="button">REQUEST</a></li>
						<li><a href="#" class="button">INVITE</a></li>
					</ul>
				</div>
			</div>
			<div class="about_info">
				<h1><span class="more_about">more about</span> SEE MORE ABOUT JOHAN <span class="more_about">more about</span></h1>
				<div>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
			</div>
		</div>
	</body>
</html>