
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../../css/reset.css">
		<link rel="stylesheet" href="../../css/profile_card.css">
	</head>
	<body>
		<div class="profile">
			<div class="content-left">
				<div class="avatar">
					<span class="online-dot">online dot</span>
					<a href="#"><img src="../../img/profile.png" alt="avatar"></a>
				</div>
			</div>
			<div class="content-right">
				<div class="personal-info">
					<h1 class="name"><a href="#">Yana Strovkaiva</a></h1>
					<span class="age">[35]</span>
					<span class="online">Online</span>
					<h2 class="home-town">Luzermerstrasse, Littaugansens, Switzerland</h2>
					<h3 class="current-location">Now in Barcelona, Catalonia, Spain</h3>
					<h4 class="languages-tag">Languages</h4>
					<h4 class="languages">Spanish, English</h4>
				</div>
				<div class="main-bar">
					<div class="info-bar">
						<span class="">Replay time</span>
						<span class="results">4h</span>
						<span class="">Replay rate</span>
						<span class="results">100%</span>
					</div>
					<div class="button-bar">
						<ul>
							<li><a href="#" class="button">MESSAGE</a></li>
							<li><a href="#" class="button">REQUEST</a></li>
							<li><a href="#" class="button">INVITE</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="content-bottom">
				<div class="about-info">
					<h1>Hi ! Im a beautiful girl !</h1>
					<h2>Member until <span>May 2012</span></h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
				<div class="about-footer">
					<span class="more-about">more about</span>
					<h1>SEE MORE ABOUT YANA </h1>
					<span class="more-about">more about</span>
				</div>
			</div>
		</div><!-- EOF profile -->
	</body>
</html>