<form id="accomodation-search-form" class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="inputWings">Wings</label>
		<div class="controls">
			<input type="text" id="inputWings" name="wings" placeholder="Where you need accomodation?" class="input-xlarge">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputDate"></label>
		<div class="controls">
			<input type="text" name="startDate" placeholder="Start date" class="input-small">
			<input type="text" name="endDate" placeholder="End date" class="input-small" style="margin-left:5pt">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputCapacity">Capacity</label>
		<div class="controls">
			<select name="capacity" class="input-small">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="+9">+9</option>
			</select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputAge">People</label>
		<div class="controls">
			<select name="startAge" class="input-small">
				{{#range 18 99 1}}
				<option value="{{self}}">{{self}}</option>
				{{/range}}
			</select>
			<select name="endAge" class="input-small">
				{{#range 99 18 '-1'}}
				<option value="{{self}}">{{self}}</option>
				{{/range}}
			</select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputLanguage">Language</label>
		<div class="controls">
			<select name="language">
				<option value="all">All</option>
				<option value="English">English</option>
				<option value="French">French</option>
				<option value="Spanish">Spanish</option>
				<option value="Catalan">Catalan</option>
				<option value="German">German</option>
				<option value="Japanese">Japanese</option>
				<option value="Armenian">Armenian</option>
				<option value="Chinese">Chinese</option>
			</select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputGender">Gender</label>
		<div class="controls">
			<label class="checkbox inline">
				<input type="checkbox" name="gender" id="inlineCheckbox1" value="Male"> Male
			</label>
			<label class="checkbox inline">
				<input type="checkbox" name="gender" id="inlineCheckbox2" value="Female"> Female
			</label>
			<span class="help-inline"></span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputHost"></label>
		<div class="controls">
			<label class="radio">
				<input type="radio" name="type" id="optionsRadios1" value="Host" checked> Host
			</label>
			<label class="radio">
				<input type="radio" name="type" id="optionsRadios2" value="Applicant"> Applicant
			</label>
		</div>
	</div>
	<div class="form-actions">
		<button type="reset" class="btn" style="margin-left: 160px">Clear</button>
		<button type="submit" class="btn btn-primary" style="margin-left: 160px">Submit</button>
	</div>
</form>