<form id="accomodation-search-form" class="form-horizontal">
	<div class="line-1">
		<h1 class="wings_text">Wings</h1>
		<div class="control-group">
			<label class="control-label" for="inputWings">Wings</label>
			<input type="text" id="inputWings" name="wings" class="input-large" placeholder="City or town">
		</div>
		<div class="control-group">
			<label class="control-label" for="inputDate">Date</label>
			<input type="text" name="startDate" class="input-sdate" placeholder="Start date">
		 	<input type="text" name="endDate" class="input-edate" placeholder="End date">
		</div>
		<div class="control-group">
			<label class="control-label" for="inputCapacity">Capacity</label>
			<select name="capacity" class="input-guests">
				<option value="1">1 Guest</option>
				<option value="2">2 Guests</option>
				<option value="3">3 Guests</option>
				<option value="4">4 Guests</option>
				<option value="5">5 Guests</option>
				<option value="6">6 Guests</option>
				<option value="7">7 Guests</option>
				<option value="8">8 Guests</option>
				<option value="9">9 Guests</option>
				<option value="+9">+9 Guests</option>
			</select>
		</div>
	</div>
	<div class="line-2">
		<h1 class="people_text">People</h1>
		<div class="control-group">
			<label class="control-label" for="inputAge">Age</label>
			<select name="startAge" class="input-age1">
				<option value="18">Age 18</option>
				{{#range 19 99 1}}
				<option value="{{self}}">{{self}}</option>
				{{/range}}
			</select>
	 		<select name="endAge" class="input-age2">
				{{#range 99 18 '-1'}}
				<option value="{{self}}">{{self}}</option>
				{{/range}}
			</select>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputLanguage">Language</label>
			<select name="language" class="input-language">
				<option value="all">Language</option>
				<option value="all">All</option>
				<option value="English">English</option>
				<option value="French">French</option>
				<option value="Spanish">Spanish</option>
				<option value="Catalan">Catalan</option>
				<option value="German">German</option>
				<option value="Japanese">Japanese</option>
				<option value="Armenian">Armenian</option>
				<option value="Chinese">Chinese</option>
			</select>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputGender">Gender</label>
			<select class="input-others">
				<option value="Male">Male</option>
				<option value="Female">Female</option>
				<option value="Both">Both</option>
			</select>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputHost">Host</label>
			<select class="input-others">
				<option name="type" value="Host">Host</option>
				<option name="type" value="Applicant">Applicant</option>
			</select>
		</div>
	</div>
	<div class="form-actions">
		<button type="reset" class="btn" style="display: none;">Clear</button>
		<button type="submit" class="btn-peoplewings">SEARCH PEOPLEWINGS</button>
	</div>
</form>