<form id="people-search-form">
	<div class="form-errors date-error"></div>
	<div class="form-block">
		<div class="control-group">
			<label>Wings</label>
			<input type="text" id="inputLocation" name="location" class="input-large" placeholder="City or town">
		</div>
		<div class="control-group">
			<label>Age</label>
			<select name="startAge" class="input-age1">
				<option value="18">Age 18</option>
				{{#range 20 98 2}}
				<option value="{{self}}">{{self}}</option>
				{{/range}}
			</select>
			<select name="endAge" class="input-age2">
				{{#range 98 18 '-2'}}
				<option value="{{self}}">{{self}}</option>
				{{/range}}
			</select>
		</div>
		<div class="control-group">
			<label>Gender</label>
			<select class="input-others" name="gender">
				<option value="Both" selected>Both genders</option>
				<option value="Male">Male</option>
				<option value="Female">Female</option>
			</select>
		</div>
		<div class="control-group">
			<label>Language</label>
			<select name="language" class="input-language">
				<option value="all">All languages</option>
				<option value="Abkhazian" >Abkhazian</option>
				<option value="Acholi" >Acholi</option>
				<option value="Afar" >Afar</option>
				<option value="Afrikaans" >Afrikaans</option>
				<option value="Ainu" >Ainu</option>
				<option value="Albanian" >Albanian</option>
				<option value="Algonquin" >Algonquin</option>
				<option value="Alsatian" >Alsatian</option>
				<option value="Amharic" >Amharic</option>
				<option value="Ancient Greek" >Ancient Greek</option>
				<option value="Arabic" >Arabic</option>
				<option value="Arabic (Baharna)" >Arabic (Baharna)</option>
				<option value="Arabic (Egypt)" >Arabic (Egypt)</option>
				<option value="Arabic (Gulf)" >Arabic (Gulf)</option>
				<option value="Arabic (Levantine / Shami)" >Arabic (Levantine / Shami)</option>
				<option value="Arabic (Morocco)" >Arabic (Morocco)</option>
				<option value="Arabic (Tunisia)" >Arabic (Tunisia)</option>
				<option value="Aragonese" >Aragonese</option>
				<option value="Aramaic" >Aramaic</option>
				<option value="Armenian" >Armenian</option>
				<option value="Arpitan" >Arpitan</option>
				<option value="Assamese" >Assamese</option>
				<option value="Asturian" >Asturian</option>
				<option value="Aymara" >Aymara</option>
				<option value="Azerbaijani" >Azerbaijani</option>
				<option value="Bambara" >Bambara</option>
				<option value="Bashkir" >Bashkir</option>
				<option value="Basque" >Basque</option>
				<option value="Belarusian" >Belarusian</option>
				<option value="Bengali" >Bengali</option>
				<option value="Berber" >Berber</option>
				<option value="Bihari" >Bihari</option>
				<option value="Bislama" >Bislama</option>
				<option value="Bosnian" >Bosnian</option>
				<option value="Breton" >Breton</option>
				<option value="Bulgarian" >Bulgarian</option>
				<option value="Bunun" >Bunun</option>
				<option value="Burmese" >Burmese</option>
				<option value="Calabrian" >Calabrian</option>
				<option value="Catalan" >Catalan</option>
				<option value="Chichewa" >Chichewa</option>
				<option value="Chilean Sign Language" >Chilean Sign Language</option>
				<option value="Chinese (Mandarin)" >Chinese (Mandarin)</option>
				<option value="Chinese (Simplified)" >Chinese (Simplified)</option>
				<option value="Chinese (Traditional)" >Chinese (Traditional)</option>
				<option value="Chinuk Wawa" >Chinuk Wawa</option>
				<option value="Chuukese" >Chuukese</option>
				<option value="Chuvash" >Chuvash</option>
				<option value="Cornish" >Cornish</option>
				<option value="Corsican" >Corsican</option>
				<option value="Cree" >Cree</option>
				<option value="Creole" >Creole</option>
				<option value="Creole (Guyana)" >Creole (Guyana)</option>
				<option value="Creole (Haiti)" >Creole (Haiti)</option>
				<option value="Creole (Jamaica)" >Creole (Jamaica)</option>
				<option value="Creole (Louisiana)" >Creole (Louisiana)</option>
				<option value="Croatian" >Croatian</option>
				<option value="Czech" >Czech</option>
				<option value="Danish" >Danish</option>
				<option value="Dari" >Dari</option>
				<option value="Dhivehi" >Dhivehi</option>
				<option value="Dutch" >Dutch</option>
				<option value="Dutch (Belgium)" >Dutch (Belgium)</option>
				<option value="Dutch (Netherlands)" >Dutch (Netherlands)</option>
				<option value="Dzongkha" >Dzongkha</option>
				<option value="English" >English</option>
				<option value="English (Australia)" >English (Australia)</option>
				<option value="English (Belize)" >English (Belize)</option>
				<option value="English (Canada)" >English (Canada)</option>
				<option value="English (Caribbean)" >English (Caribbean)</option>
				<option value="English (Guyana)" >English (Guyana)</option>
				<option value="English (Ireland)" >English (Ireland)</option>
				<option value="English (Jamaica)" >English (Jamaica)</option>
				<option value="English (New Zealand)" >English (New Zealand)</option>
				<option value="English (Philippines)" >English (Philippines)</option>
				<option value="English (South Africa)" >English (South Africa)</option>
				<option value="English (Trinidad)" >English (Trinidad)</option>
				<option value="English (United Kingdom)" >English (United Kingdom)</option>
				<option value="English (United States)" >English (United States)</option>
				<option value="English (Zimbabwe)" >English (Zimbabwe)</option>
				<option value="Erzya" >Erzya</option>
				<option value="Esperanto" >Esperanto</option>
				<option value="Estonian" >Estonian</option>
				<option value="Fang" >Fang</option>
				<option value="Faroese" >Faroese</option>
				<option value="Fijian" >Fijian</option>
				<option value="Finnish" >Finnish</option>
				<option value="French" >French</option>
				<option value="French (Acadian)" >French (Acadian)</option>
				<option value="French (Belgium)" >French (Belgium)</option>
				<option value="French (Cajun)" >French (Cajun)</option>
				<option value="French (Canada)" >French (Canada)</option>
				<option value="French (France)" >French (France)</option>
				<option value="French (Luxembourg)" >French (Luxembourg)</option>
				<option value="French (Monaco)" >French (Monaco)</option>
				<option value="French (Quebec)" >French (Quebec)</option>
				<option value="French (Switzerland)" >French (Switzerland)</option>
				<option value="Frisian" >Frisian</option>
				<option value="Fulah" >Fulah</option>
				<option value="Gaelic" >Gaelic</option>
				<option value="Galician" >Galician</option>
				<option value="Ganda" >Ganda</option>
				<option value="Georgian" >Georgian</option>
				<option value="German" >German</option>
				<option value="German (Austria)" >German (Austria)</option>
				<option value="German (Germany)" >German (Germany)</option>
				<option value="German (Liechtenstein)" >German (Liechtenstein)</option>
				<option value="German (Luxembourg)" >German (Luxembourg)</option>
				<option value="German (Switzerland)" >German (Switzerland)</option>
				<option value="Greek" >Greek</option>
				<option value="Greenlandic" >Greenlandic</option>
				<option value="Guahibo" >Guahibo</option>
				<option value="Guarani" >Guarani</option>
				<option value="Gujarati" >Gujarati</option>
				<option value="Hakka" >Hakka</option>
				<option value="Hausa" >Hausa</option>
				<option value="Hawaiian" >Hawaiian</option>
				<option value="Hebrew" >Hebrew</option>
				<option value="Hiligaynon" >Hiligaynon</option>
				<option value="Hindi" >Hindi</option>
				<option value="Hindko" >Hindko</option>
				<option value="Hmong" >Hmong</option>
				<option value="Hungarian" >Hungarian</option>
				<option value="Icelandic" >Icelandic</option>
				<option value="Igbo" >Igbo</option>
				<option value="Indonesian" >Indonesian</option>
				<option value="Ingush" >Ingush</option>
				<option value="Interlingua" >Interlingua</option>
				<option value="Interlingue" >Interlingue</option>
				<option value="Inuktitut" >Inuktitut</option>
				<option value="Inupiaq" >Inupiaq</option>
				<option value="Irish" >Irish</option>
				<option value="Irish Gaelic" >Irish Gaelic</option>
				<option value="Italian" >Italian</option>
				<option value="Italian (Italy)" >Italian (Italy)</option>
				<option value="Italian (Switzerland)" >Italian (Switzerland)</option>
				<option value="Japanese" >Japanese</option>
				<option value="Javanese" >Javanese</option>
				<option value="Kannada" >Kannada</option>
				<option value="Kaqchikel" >Kaqchikel</option>
				<option value="Karelian" >Karelian</option>
				<option value="Kashmiri" >Kashmiri</option>
				<option value="Kashubian" >Kashubian</option>
				<option value="Kazakh" >Kazakh</option>
				<option value="Khmer" >Khmer</option>
				<option value="Kichwa" >Kichwa</option>
				<option value="Kinyarwanda" >Kinyarwanda</option>
				<option value="Klingon" >Klingon</option>
				<option value="Komi" >Komi</option>
				<option value="Konkani" >Konkani</option>
				<option value="Korean" >Korean</option>
				<option value="Kosraean" >Kosraean</option>
				<option value="Kurdish" >Kurdish</option>
				<option value="Kurmanji" >Kurmanji</option>
				<option value="Kyrgyz" >Kyrgyz</option>
				<option value="Láadan" >Láadan</option>
				<option value="Ladakhi" >Ladakhi</option>
				<option value="Ladin" >Ladin</option>
				<option value="Lao" >Lao</option>
				<option value="Latin" >Latin</option>
				<option value="Latvian" >Latvian</option>
				<option value="Ligurian" >Ligurian</option>
				<option value="Limburgish" >Limburgish</option>
				<option value="Lingala" >Lingala</option>
				<option value="Lithuanian" >Lithuanian</option>
				<option value="Lojban" >Lojban</option>
				<option value="Lombard" >Lombard</option>
				<option value="Lower Sorbian" >Lower Sorbian</option>
				<option value="Low German" >Low German</option>
				<option value="Luganda" >Luganda</option>
				<option value="Luxembourgish" >Luxembourgish</option>
				<option value="Macedonian" >Macedonian</option>
				<option value="Maithili" >Maithili</option>
				<option value="Malagasy" >Malagasy</option>
				<option value="Malay" >Malay</option>
				<option value="Malayalam" >Malayalam</option>
				<option value="Maltese" >Maltese</option>
				<option value="Manchu" >Manchu</option>
				<option value="Manx" >Manx</option>
				<option value="Maori" >Maori</option>
				<option value="Mapudungun" >Mapudungun</option>
				<option value="Marathi" >Marathi</option>
				<option value="Mari" >Mari</option>
				<option value="Marshallese" >Marshallese</option>
				<option value="Min Nan" >Min Nan</option>
				<option value="Moksha" >Moksha</option>
				<option value="Moldovan" >Moldovan</option>
				<option value="Mongolian" >Mongolian</option>
				<option value="Montenegrin" >Montenegrin</option>
				<option value="More" >More</option>
				<option value="Mortlockese" >Mortlockese</option>
				<option value="Nahuatl" >Nahuatl</option>
				<option value="Nauruan" >Nauruan</option>
				<option value="Navajo" >Navajo</option>
				<option value="Neapolitan" >Neapolitan</option>
				<option value="Nepal Bhasa" >Nepal Bhasa</option>
				<option value="Nepali" >Nepali</option>
				<option value="Norwegian" >Norwegian</option>
				<option value="Norwegian (Bokmål)" >Norwegian (Bokmål)</option>
				<option value="Norwegian (Nynorsk)" >Norwegian (Nynorsk)</option>
				<option value="Occitan" >Occitan</option>
				<option value="Ojibwe" >Ojibwe</option>
				<option value="Okinawan" >Okinawan</option>
				<option value="Oriya" >Oriya</option>
				<option value="Oromo" >Oromo</option>
				<option value="Ossetian" >Ossetian</option>
				<option value="Palauan" >Palauan</option>
				<option value="Papiamento" >Papiamento</option>
				<option value="Pashto" >Pashto</option>
				<option value="Pemon" >Pemon</option>
				<option value="Persian" >Persian</option>
				<option value="Pidgin" >Pidgin</option>
				<option value="Piedmontese" >Piedmontese</option>
				<option value="Pohnpeian" >Pohnpeian</option>
				<option value="Polish" >Polish</option>
				<option value="Portuguese" >Portuguese</option>
				<option value="Portuguese (Brazil)" >Portuguese (Brazil)</option>
				<option value="Portuguese (Portugal)" >Portuguese (Portugal)</option>
				<option value="Punjabi" >Punjabi</option>
				<option value="Quechua" >Quechua</option>
				<option value="Quenya" >Quenya</option>
				<option value="Quiche" >Quiche</option>
				<option value="Rapa Nui" >Rapa Nui</option>
				<option value="Romani" >Romani</option>
				<option value="Romanian" >Romanian</option>
				<option value="Romanian (Moldova)" >Romanian (Moldova)</option>
				<option value="Romanian (Romania)" >Romanian (Romania)</option>
				<option value="Romansh" >Romansh</option>
				<option value="Rundi" >Rundi</option>
				<option value="Russian" >Russian</option>
				<option value="Russian (Moldova)" >Russian (Moldova)</option>
				<option value="Russian (Russia)" >Russian (Russia)</option>
				<option value="Sakha" >Sakha</option>
				<option value="Sami" >Sami</option>
				<option value="Samoan" >Samoan</option>
				<option value="Sango" >Sango</option>
				<option value="Sanskrit" >Sanskrit</option>
				<option value="Saramaccan" >Saramaccan</option>
				<option value="Sardinian" >Sardinian</option>
				<option value="Scots" >Scots</option>
				<option value="Scottish Gaelic" >Scottish Gaelic</option>
				<option value="Serbian (Cyrillic)" >Serbian (Cyrillic)</option>
				<option value="Serbian (Latin)" >Serbian (Latin)</option>
				<option value="Serbo-Croatian" >Serbo-Croatian</option>
				<option value="Shona" >Shona</option>
				<option value="Sibe" >Sibe</option>
				<option value="Sicilian" >Sicilian</option>
				<option value="Sign Language - American" >Sign Language - American</option>
				<option value="Sign Language - Austrian" >Sign Language - Austrian</option>
				<option value="Sign Language - Brazilian" >Sign Language - Brazilian</option>
				<option value="Sign Language - British" >Sign Language - British</option>
				<option value="Sign Language - BSL, AUSLAN, NZS" >Sign Language - BSL, AUSLAN, NZS</option>
				<option value="Sign Language - Catalan" >Sign Language - Catalan</option>
				<option value="Sign Language - Chinese" >Sign Language - Chinese</option>
				<option value="Sign Language - Danish" >Sign Language - Danish</option>
				<option value="Sign Language - Dutch (NGT)" >Sign Language - Dutch (NGT)</option>
				<option value="Sign Language - Finnish" >Sign Language - Finnish</option>
				<option value="Sign Language - Flemish" >Sign Language - Flemish</option>
				<option value="Sign Language - French" >Sign Language - French</option>
				<option value="Sign Language - German" >Sign Language - German</option>
				<option value="Sign Language - Greek" >Sign Language - Greek</option>
				<option value="Sign Language - Honduran" >Sign Language - Honduran</option>
				<option value="Sign Language - Honduras" >Sign Language - Honduras</option>
				<option value="Sign Language - Hungarian" >Sign Language - Hungarian</option>
				<option value="Sign Language - Indian" >Sign Language - Indian</option>
				<option value="Sign Language - International" >Sign Language - International</option>
				<option value="Sign Language - Irish" >Sign Language - Irish</option>
				<option value="Sign Language - Israeli" >Sign Language - Israeli</option>
				<option value="Sign Language - Italian" >Sign Language - Italian</option>
				<option value="Sign Language - Japanese" >Sign Language - Japanese</option>
				<option value="Sign Language - Kenyan" >Sign Language - Kenyan</option>
				<option value="Sign Language - Korean" >Sign Language - Korean</option>
				<option value="Sign Language - Mexican" >Sign Language - Mexican</option>
				<option value="Sign Language - New Zealand" >Sign Language - New Zealand</option>
				<option value="Sign Language - Nicaragua" >Sign Language - Nicaragua</option>
				<option value="Sign Language - Norwegian" >Sign Language - Norwegian</option>
				<option value="Sign Language - Poland" >Sign Language - Poland</option>
				<option value="Sign Language - Quebec" >Sign Language - Quebec</option>
				<option value="Sign Language - Russian" >Sign Language - Russian</option>
				<option value="Sign Language - Spanish" >Sign Language - Spanish</option>
				<option value="Sign Language - Swedish" >Sign Language - Swedish</option>
				<option value="Sign Language - Switzerland" >Sign Language - Switzerland</option>
				<option value="Sign Language - Taiwanese" >Sign Language - Taiwanese</option>
				<option value="Sign Language - Trinidad and Tob" >Sign Language - Trinidad and Tob</option>
				<option value="Sign Language - Turkish" >Sign Language - Turkish</option>
				<option value="Sign Language - Yugoslavian" >Sign Language - Yugoslavian</option>
				<option value="Silesian" >Silesian</option>
				<option value="Sindhi" >Sindhi</option>
				<option value="Sinhala" >Sinhala</option>
				<option value="Slavic Languages" >Slavic Languages</option>
				<option value="Slovak" >Slovak</option>
				<option value="Slovenian" >Slovenian</option>
				<option value="Slovio" >Slovio</option>
				<option value="Somali" >Somali</option>
				<option value="Soranî" >Soranî</option>
				<option value="Sotho" >Sotho</option>
				<option value="Spanish" >Spanish</option>
				<option value="Spanish (Argentina)" >Spanish (Argentina)</option>
				<option value="Spanish (Bolivia)" >Spanish (Bolivia)</option>
				<option value="Spanish (Chile)" >Spanish (Chile)</option>
				<option value="Spanish (Colombia)" >Spanish (Colombia)</option>
				<option value="Spanish (Costa Rica)" >Spanish (Costa Rica)</option>
				<option value="Spanish (Dominican Republic)" >Spanish (Dominican Republic)</option>
				<option value="Spanish (Ecuador)" >Spanish (Ecuador)</option>
				<option value="Spanish (El Salvador)" >Spanish (El Salvador)</option>
				<option value="Spanish (Guatemala)" >Spanish (Guatemala)</option>
				<option value="Spanish (Honduras)" >Spanish (Honduras)</option>
				<option value="Spanish (Mexico)" >Spanish (Mexico)</option>
				<option value="Spanish (Nicaragua)" >Spanish (Nicaragua)</option>
				<option value="Spanish (Panama)" >Spanish (Panama)</option>
				<option value="Spanish (Paraguay)" >Spanish (Paraguay)</option>
				<option value="Spanish (Peru)" >Spanish (Peru)</option>
				<option value="Spanish (Puerto Rico)" >Spanish (Puerto Rico)</option>
				<option value="Spanish (Spain)" >Spanish (Spain)</option>
				<option value="Spanish (Uruguay)" >Spanish (Uruguay)</option>
				<option value="Spanish (Venezuela)" >Spanish (Venezuela)</option>
				<option value="Sranan Tongo" >Sranan Tongo</option>
				<option value="Sundanese" >Sundanese</option>
				<option value="Swahili" >Swahili</option>
				<option value="Swati" >Swati</option>
				<option value="Swedish" >Swedish</option>
				<option value="Swedish (Finland)" >Swedish (Finland)</option>
				<option value="Swedish (Sweden)" >Swedish (Sweden)</option>
				<option value="Tagalog" >Tagalog</option>
				<option value="Tahitian" >Tahitian</option>
				<option value="Taiwanese" >Taiwanese</option>
				<option value="Tajik" >Tajik</option>
				<option value="Tamil" >Tamil</option>
				<option value="Tatar" >Tatar</option>
				<option value="Telugu" >Telugu</option>
				<option value="Tetum" >Tetum</option>
				<option value="Thai" >Thai</option>
				<option value="Tibetan" >Tibetan</option>
				<option value="Tigrinya" >Tigrinya</option>
				<option value="Tongan" >Tongan</option>
				<option value="Tsonga" >Tsonga</option>
				<option value="Tswana" >Tswana</option>
				<option value="Turkish" >Turkish</option>
				<option value="Turkmen" >Turkmen</option>
				<option value="Twi" >Twi</option>
				<option value="Udmurt" >Udmurt</option>
				<option value="Ukrainian" >Ukrainian</option>
				<option value="Ulster Scots" >Ulster Scots</option>
				<option value="Upper Sorbian" >Upper Sorbian</option>
				<option value="Urdu" >Urdu</option>
				<option value="Uyghur" >Uyghur</option>
				<option value="Uzbek" >Uzbek</option>
				<option value="Venetian" >Venetian</option>
				<option value="Vietnamese" >Vietnamese</option>
				<option value="Volapük" >Volapük</option>
				<option value="Waray Waray" >Waray Waray</option>
				<option value="Wayuu" >Wayuu</option>
				<option value="Welsh" >Welsh</option>
				<option value="Wolof" >Wolof</option>
				<option value="Wu" >Wu</option>
				<option value="Xhosa" >Xhosa</option>
				<option value="Yapese" >Yapese</option>
				<option value="Yiddish" >Yiddish</option>
				<option value="Yoruba" >Yoruba</option>
				<option value="Yucatec Maya" >Yucatec Maya</option>
				<option value="Yue (Cantonese)" >Yue (Cantonese)</option>
				<option value="Yupik" >Yupik</option>
				<option value="Zulu" >Zulu</option>
			</select>
		</div>
	</div><!-- EOF form-block -->

	<div class="form-errors age-error"></div>
	<div class="form-actions">
		<button type="reset" class="btn" style="display: none;">Clear</button>
		<button type="submit" class="button-peoplewings">SEARCH PEOPLEWINGS</button>
	</div>
</form>
