
<div id="overlay"></div>

<div id="myCarousel" class="carousel slide">
	<!-- <ol class="carousel-indicators">
		{{#each photos}}
			<li data-target="#myCarousel" data-slide-to="{{@index}}"></li>
		{{/each}}
	</ol>Carousel items -->
	<div class="carousel-inner">
		{{#each photos}}
			<div class="item">
                <img src="{{src}}">
          	</div>
		{{/each}}
	</div><!-- Carousel nav -->

	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- myCarousel -->
