					<div class="box-standard">
						<form id="likes-form" data-rel="likes-box">
							<div class="box-header">
								<i class="icon-like">About icon</i>
								<h2>Likes</h2>
							</div><!-- EOF box-header -->
							<div class="box-content">
								<div class="control-group">
									<label class="control-label" for="id_enjoy_people">People I enjoy</label>
									<div class="controls">
										<input name="enjoyPeople" id="id_enjoy_people" placeholder="What kind of people you like to know and learn from them" type="text" size="500" value="{{ enjoyPeople }}" maxlength="500">
										<span class="help-inline"></span>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="id_movies">Movies, series, books, games...</label>
									<div class="controls">
										<input name="movies" value="{{movies}}" id="id_movies" type="text" size="550" maxlength="500">
										<span class="help-inline"></span>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="id_sports">Sports</label>
									<div class="controls">
										<input name="sports" value="{{sports}}" id="id_sports" type="text" size="500" maxlength="500">
										<span class="help-inline"></span>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="id_other_pages">Other webpages</label>
									<div class="controls">
										<input name="otherPages" value="{{otherPages}}" id="id_other_pages" placeholder="Other webpages and applications you like" type="text" size="500" maxlength="500">
										<span class="help-inline"></span>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="id_sharing">Show, learn, share...</label>
									<div class="controls">
										<input name="sharing" value="{{sharing}}" id="id_sharing" placeholder="What do you like to teach, learn or share?" type="text" size="1000" maxlength="1000">
										<span class="help-inline"></span>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="id_incredible">Amazing things done/seen</label>
									<div class="controls">
										<input name="incredible" value="{{incredible}}" id="id_incredible" placeholder="Any amazing thing you've seen or done in your life" type="text"  maxlength="1000" size="1000">
										<span class="help-inline"></span>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="id_inspired_by">People who inspires you</label>
									<div class="controls">
										<input name="inspiredBy" value="{{inspiredBy}}" id="id_inspired_by" type="text" size="500" maxlength="500">
										<span class="help-inline"></span>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="id_quotes">Favorite quotations</label>
									<div class="controls">
										<textarea name="quotes" rows="4" id="id_quotes" size="500" cols="40" style="width:90%" maxlength="500">{{quotes}}</textarea>
										<span class="help-inline"></span>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="id_pw_opinion">Your opinion please</label>
									<div class="controls">
										<input name="pwOpinion" value="{{pwOpinion}}" id="id_pw_opinion" placeholder="Your opinion about PEOPLEWINGS" type="text" size="500" maxlength="500">
										<span class="help-inline"></span>
									</div>
								</div>
							</div><!-- EOF box-content -->
							<div class="box-footer accordion-heading">
								<div class="button-group">
									<button class="button cancel-edition-btn" data-rel="likes-box">Cancel</button>
									<button id="save-profile-btn" type="submit" class="button-highlight" data-loading-text="Saving...">Save</button>
								</div>
							</div><!-- EOF box-footer -->
						</form>
				</div><!-- EOF box-standard -->