				<div class="avatar">
					<img id="avatar" src="{{avatar}}" alt="avatar">
				</div>
				<div class="info">
					<!-- <button id="add-wing-btn" class="button-basic-info">Add wing</button> -->
					<a id="add-wing-btn" class="button-basic-info"><i class="icon-wings"></i>Add wing</a>
				</div>
<!--} 				<div class="box basic-info">
					<form id="wings-status-form">
						<div class="control-group">
							<label class="control-label" for="generalStatus">General status</label>
							<div class="controls">
								<select name="generalStatus" class="size-large">
									<option value="">--------</option>
									<option value="W" {{selected generalStatus 'W'}}>By Wing</option>
									<option value="Y" {{selected generalStatus 'Y'}}>Yes</option>
									<option value="N" {{selected generalStatus 'N'}}>No</option>
									<option value="M" {{selected generalStatus 'M'}}>Maybe</option>
									<option value="T" {{selected generalStatus 'T'}}>Travelling</option>
									<option value="C" {{selected generalStatus 'C'}}>Cofee or drink</option>
								</select>
							</div>
						</div>
					</form>
				</div> -->
			</div><!-- EOF box basic-info -->