<div class="box-standard">
	<form id="contact-form" data-rel="contact-box">
		<div class="box-header">
			<h1 class="contact-icon">Contact info</h1>
		</div>
		<div class="guest-message">
			<h2 class="lock-icon">Shown only to Confirmed Guests</h2>
			<p>To protect your privacy, we hide your address, phone number, and contact information from users that have not confirmed a reservation with you</p>
		</div><!-- EOF guest-message -->
		<div class="box-content contact-info">
			<div class="control-group">
				<label class="control-label" for="textarea"><label for="id_form-0-emails">Email</label></label>
				<div class="controls">
					<input name="emails" id="id_form-0-emails" type="text" value="{{emails}}" maxlength="100">
					<span class="help-block"></span>
					<span class="help-inline"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="textarea"><label for="id_form-0-phone">Phone</label></label>
				<div class="controls">
					<input name="phone" id="id_form-0-phone" type="text" value="{{phone}}" maxlength="100">
					<span class="help-block"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="textarea"><label for="socialNetwork">Social Network</label></label>
				<div class="controls">
					<div id="socialNetwork-list">
						{{#each socialNetworks}}
						<div id="social-{{@index}}">
							<select name="socialNetworks" id="socialNetwork-{{@index}}" class="size-13">
								<option value="" selected="selected">Select Network</option>
								<option value="Facebook" {{selected socialNetwork 'Facebook'}}>Facebook</option>
								<option value="Twitter" {{selected socialNetwork 'Twitter'}}>Twitter</option>
								<option value="LinkedIn" {{selected socialNetwork 'LinkedIn'}}>LinkedIn</option>
								<option value="Google+" {{selected socialNetwork 'Google+'}}>Google+</option>
								<option value="--------------" {{selected socialNetwork '--------------'}}>--------------</option>
								<option value="43 Things" {{selected socialNetwork '43 Things'}}>43 Things</option>
								<option value="Academia.edu" {{selected socialNetwork 'Academia.edu'}}>Academia.edu</option>
								<option value="Advogato" {{selected socialNetwork 'Advogato'}}>Advogato</option>
								<option value="aNobii" {{selected socialNetwork 'aNobii'}}>aNobii</option>
								<option value="AsianAvenue" {{selected socialNetwork 'AsianAvenue'}}>AsianAvenue</option>
								<option value="aSmallWorld" {{selected socialNetwork 'aSmallWorld'}}>aSmallWorld</option>
								<option value="Athlinks" {{selected socialNetwork 'Athlinks'}}>Athlinks</option>
								<option value="Audimated.com" {{selected socialNetwork 'Audimated.com'}}>Audimated.com</option>
								<option value="Bebo" {{selected socialNetwork 'Bebo'}}>Bebo</option>
								<option value="BIGADDA" {{selected socialNetwork 'BIGADDA'}}>BIGADDA</option>
								<option value="Biip.no" {{selected socialNetwork 'Biip.no'}}>Biip.no</option>
								<option value="BlackPlanet" {{selected socialNetwork 'BlackPlanet'}}>BlackPlanet</option>
								<option value="Blauk" {{selected socialNetwork 'Blauk'}}>Blauk</option>
								<option value="Blogster" {{selected socialNetwork 'Blogster'}}>Blogster</option>
								<option value="Bolt.com" {{selected socialNetwork 'Bolt.com'}}>Bolt.com</option>
								<option value="Busuu" {{selected socialNetwork 'Busuu'}}>Busuu</option>
								<option value="Buzznet" {{selected socialNetwork 'Buzznet'}}>Buzznet</option>
								<option value="CafeMom" {{selected socialNetwork 'CafeMom'}}>CafeMom</option>
								<option value="Care2" {{selected socialNetwork 'Care2'}}>Care2</option>
								<option value="CaringBridge" {{selected socialNetwork 'CaringBridge'}}>CaringBridge</option>
								<option value="Classmates.com" {{selected socialNetwork 'Classmates.com'}}>Classmates.com</option>
								<option value="Cloob" {{selected socialNetwork 'Cloob'}}>Cloob</option>
								<option value="CouchSurfing" {{selected socialNetwork 'CouchSurfing'}}>CouchSurfing</option>
								<option value="CozyCot" {{selected socialNetwork 'CozyCot'}}>CozyCot</option>
								<option value="Cross.tv" {{selected socialNetwork 'Cross.tv'}}>Cross.tv</option>
								<option value="Crunchyroll" {{selected socialNetwork 'Crunchyroll'}}>Crunchyroll</option>
								<option value="Cyworld" {{selected socialNetwork 'Cyworld'}}>Cyworld</option>
								<option value="DailyBooth" {{selected socialNetwork 'DailyBooth'}}>DailyBooth</option>
								<option value="DailyStrength" {{selected socialNetwork 'DailyStrength'}}>DailyStrength</option>
								<option value="delicious" {{selected socialNetwork 'delicious'}}>delicious</option>
								<option value="deviantART" {{selected socialNetwork 'deviantART'}}>deviantART</option>
								<option value="Diaspora*" {{selected socialNetwork 'Diaspora*'}}>Diaspora*</option>
								<option value="Disaboom" {{selected socialNetwork 'Disaboom'}}>Disaboom</option>
								<option value="Dol2day" {{selected socialNetwork 'Dol2day'}}>Dol2day</option>
								<option value="DontStayIn" {{selected socialNetwork 'DontStayIn'}}>DontStayIn</option>
								<option value="Draugiem.lv" {{selected socialNetwork 'Draugiem.lv'}}>Draugiem.lv</option>
								<option value="douban" {{selected socialNetwork 'douban'}}>douban</option>
								<option value="DXY.cn" {{selected socialNetwork 'DXY.cn'}}>DXY.cn</option>
								<option value="Elftown" {{selected socialNetwork 'Elftown'}}>Elftown</option>
								<option value="Elixio" {{selected socialNetwork 'Elixio'}}>Elixio</option>
								<option value="English, baby!" {{selected socialNetwork 'English, baby!'}}>English, baby!</option>
								<option value="Epernicus" {{selected socialNetwork 'Epernicus'}}>Epernicus</option>
								<option value="Eons.com" {{selected socialNetwork 'Eons.com'}}>Eons.com</option>
								<option value="eToro" {{selected socialNetwork 'eToro'}}>eToro</option>
								<option value="Experience Project" {{selected socialNetwork 'Experience Project'}}>Experience Project</option>
								<option value="Exploroo" {{selected socialNetwork 'Exploroo'}}>Exploroo</option>
								<option value="Faceparty" {{selected socialNetwork 'Faceparty'}}>Faceparty</option>
								<option value="Faces.com" {{selected socialNetwork 'Faces.com'}}>Faces.com</option>
								<option value="Fetlife" {{selected socialNetwork 'Fetlife'}}>Fetlife</option>
								<option value="FilmAffinity" {{selected socialNetwork 'FilmAffinity'}}>FilmAffinity</option>
								<option value="Filmow" {{selected socialNetwork 'Filmow'}}>Filmow</option>
								<option value="FledgeWing" {{selected socialNetwork 'FledgeWing'}}>FledgeWing</option>
								<option value="Flixster" {{selected socialNetwork 'Flixster'}}>Flixster</option>
								<option value="Flickr" {{selected socialNetwork 'Flickr'}}>Flickr</option>
								<option value="Focus.com" {{selected socialNetwork 'Focus.com'}}>Focus.com</option>
								<option value="Fotki" {{selected socialNetwork 'Fotki'}}>Fotki</option>
								<option value="Fotolog" {{selected socialNetwork 'Fotolog'}}>Fotolog</option>
								<option value="Foursquare" {{selected socialNetwork 'Foursquare'}}>Foursquare</option>
								<option value="Friendica" {{selected socialNetwork 'Friendica'}}>Friendica</option>
								<option value="Friends Reunited" {{selected socialNetwork 'Friends Reunited'}}>Friends Reunited</option>
								<option value="Friendster" {{selected socialNetwork 'Friendster'}}>Friendster</option>
								<option value="Frühstückstreff" {{selected socialNetwork 'Frühstückstreff'}}>Frühstückstreff</option>
								<option value="Fubar" {{selected socialNetwork 'Fubar'}}>Fubar</option>
								<option value="Fuelmyblog" {{selected socialNetwork 'Fuelmyblog'}}>Fuelmyblog</option>
								<option value="FullCircle" {{selected socialNetwork 'FullCircle'}}>FullCircle</option>
								<option value="Gaia Online" {{selected socialNetwork 'Gaia Online'}}>Gaia Online</option>
								<option value="GamerDNA" {{selected socialNetwork 'GamerDNA'}}>GamerDNA</option>
								<option value="Gapyear.com" {{selected socialNetwork 'Gapyear.com'}}>Gapyear.com</option>
								<option value="Gather.com" {{selected socialNetwork 'Gather.com'}}>Gather.com</option>
								<option value="Gays.com" {{selected socialNetwork 'Gays.com'}}>Gays.com</option>
								<option value="Geni.com" {{selected socialNetwork 'Geni.com'}}>Geni.com</option>
								<option value="GetGlue" {{selected socialNetwork 'GetGlue'}}>GetGlue</option>
								<option value="Gogoyoko" {{selected socialNetwork 'Gogoyoko'}}>Gogoyoko</option>
								<option value="Goodreads" {{selected socialNetwork 'Goodreads'}}>Goodreads</option>
								<option value="Goodwizz" {{selected socialNetwork 'Goodwizz'}}>Goodwizz</option>
								<option value="Google+" {{selected socialNetwork 'Google+'}}>Google+</option>
								<option value="GovLoop" {{selected socialNetwork 'GovLoop'}}>GovLoop</option>
								<option value="Grono.net" {{selected socialNetwork 'Grono.net'}}>Grono.net</option>
								<option value="Habbo" {{selected socialNetwork 'Habbo'}}>Habbo</option>
								<option value="hi5" {{selected socialNetwork 'hi5'}}>hi5</option>
								<option value="Hospitality Club" {{selected socialNetwork 'Hospitality Club'}}>Hospitality Club</option>
								<option value="Hotlist" {{selected socialNetwork 'Hotlist'}}>Hotlist</option>
								<option value="HR.com" {{selected socialNetwork 'HR.com'}}>HR.com</option>
								<option value="Hub Culture" {{selected socialNetwork 'Hub Culture'}}>Hub Culture</option>
								<option value="Hyves" {{selected socialNetwork 'Hyves'}}>Hyves</option>
								<option value="Ibibo" {{selected socialNetwork 'Ibibo'}}>Ibibo</option>
								<option value="Identi.ca" {{selected socialNetwork 'Identi.ca'}}>Identi.ca</option>
								<option value="Indaba Music" {{selected socialNetwork 'Indaba Music'}}>Indaba Music</option>
								<option value="IRC-Galleria" {{selected socialNetwork 'IRC-Galleria'}}>IRC-Galleria</option>
								<option value="italki.com" {{selected socialNetwork 'italki.com'}}>italki.com</option>
								<option value="Itsmy" {{selected socialNetwork 'Itsmy'}}>Itsmy</option>
								<option value="iWiW" {{selected socialNetwork 'iWiW'}}>iWiW</option>
								<option value="Jaiku" {{selected socialNetwork 'Jaiku'}}>Jaiku</option>
								<option value="Jiepang" {{selected socialNetwork 'Jiepang'}}>Jiepang</option>
								<option value="Kaixin001" {{selected socialNetwork 'Kaixin001'}}>Kaixin001</option>
								<option value="Kiwibox" {{selected socialNetwork 'Kiwibox'}}>Kiwibox</option>
								<option value="Lafango" {{selected socialNetwork 'Lafango'}}>Lafango</option>
								<option value="LAGbook" {{selected socialNetwork 'LAGbook'}}>LAGbook</option>
								<option value="LaiBhaari" {{selected socialNetwork 'LaiBhaari'}}>LaiBhaari</option>
								<option value="Last.fm" {{selected socialNetwork 'Last.fm'}}>Last.fm</option>
								<option value="LibraryThing" {{selected socialNetwork 'LibraryThing'}}>LibraryThing</option>
								<option value="Lifeknot" {{selected socialNetwork 'Lifeknot'}}>Lifeknot</option>
								<option value="LinkExpats" {{selected socialNetwork 'LinkExpats'}}>LinkExpats</option>
								<option value="Listography" {{selected socialNetwork 'Listography'}}>Listography</option>
								<option value="LiveJournal" {{selected socialNetwork 'LiveJournal'}}>LiveJournal</option>
								<option value="Livemocha" {{selected socialNetwork 'Livemocha'}}>Livemocha</option>
								<option value="Makeoutclub" {{selected socialNetwork 'Makeoutclub'}}>Makeoutclub</option>
								<option value="MEETin" {{selected socialNetwork 'MEETin'}}>MEETin</option>
								<option value="Meetup (website)" {{selected socialNetwork 'Meetup (website)'}}>Meetup (website)</option>
								<option value="Meettheboss" {{selected socialNetwork 'Meettheboss'}}>Meettheboss</option>
								<option value="MillatFacebook" {{selected socialNetwork 'MillatFacebook'}}>MillatFacebook</option>
								<option value="mixi" {{selected socialNetwork 'mixi'}}>mixi</option>
								<option value="MocoSpace" {{selected socialNetwork 'MocoSpace'}}>MocoSpace</option>
								<option value="MOG" {{selected socialNetwork 'MOG'}}>MOG</option>
								<option value="MouthShut.com" {{selected socialNetwork 'MouthShut.com'}}>MouthShut.com</option>
								<option value="Mubi" {{selected socialNetwork 'Mubi'}}>Mubi</option>
								<option value="MyHeritage" {{selected socialNetwork 'MyHeritage'}}>MyHeritage</option>
								<option value="MyLife" {{selected socialNetwork 'MyLife'}}>MyLife</option>
								<option value="My Opera" {{selected socialNetwork 'My Opera'}}>My Opera</option>
								<option value="Myspace" {{selected socialNetwork 'Myspace'}}>Myspace</option>
								<option value="Nasza-klasa.pl" {{selected socialNetwork 'Nasza-klasa.pl'}}>Nasza-klasa.pl</option>
								<option value="Netlog" {{selected socialNetwork 'Netlog'}}>Netlog</option>
								<option value="Nexopia" {{selected socialNetwork 'Nexopia'}}>Nexopia</option>
								<option value="NGO Post" {{selected socialNetwork 'NGO Post'}}>NGO Post</option>
								<option value="Ning" {{selected socialNetwork 'Ning'}}>Ning</option>
								<option value="Odnoklassniki" {{selected socialNetwork 'Odnoklassniki'}}>Odnoklassniki</option>
								<option value="Open Diary" {{selected socialNetwork 'Open Diary'}}>Open Diary</option>
								<option value="Orkut" {{selected socialNetwork 'Orkut'}}>Orkut</option>
								<option value="OUTeverywhere" {{selected socialNetwork 'OUTeverywhere'}}>OUTeverywhere</option>
								<option value="PatientsLikeMe" {{selected socialNetwork 'PatientsLikeMe'}}>PatientsLikeMe</option>
								<option value="Partyflock" {{selected socialNetwork 'Partyflock'}}>Partyflock</option>
								<option value="Pingsta" {{selected socialNetwork 'Pingsta'}}>Pingsta</option>
								<option value="Pinterest" {{selected socialNetwork 'Pinterest'}}>Pinterest</option>
								<option value="Plaxo" {{selected socialNetwork 'Plaxo'}}>Plaxo</option>
								<option value="Playfire" {{selected socialNetwork 'Playfire'}}>Playfire</option>
								<option value="Playlist.com" {{selected socialNetwork 'Playlist.com'}}>Playlist.com</option>
								<option value="Plurk" {{selected socialNetwork 'Plurk'}}>Plurk</option>
								<option value="Qapacity" {{selected socialNetwork 'Qapacity'}}>Qapacity</option>
								<option value="Quechup" {{selected socialNetwork 'Quechup'}}>Quechup</option>
								<option value="Qzone" {{selected socialNetwork 'Qzone'}}>Qzone</option>
								<option value="Raptr" {{selected socialNetwork 'Raptr'}}>Raptr</option>
								<option value="Ravelry" {{selected socialNetwork 'Ravelry'}}>Ravelry</option>
								<option value="Renren" {{selected socialNetwork 'Renren'}}>Renren</option>
								<option value="ReverbNation.com" {{selected socialNetwork 'ReverbNation.com'}}>ReverbNation.com</option>
								<option value="Ryze" {{selected socialNetwork 'Ryze'}}>Ryze</option>
								<option value="ScienceStage" {{selected socialNetwork 'ScienceStage'}}>ScienceStage</option>
								<option value="ShareTheMusic" {{selected socialNetwork 'ShareTheMusic'}}>ShareTheMusic</option>
								<option value="Shelfari" {{selected socialNetwork 'Shelfari'}}>Shelfari</option>
								<option value="Sina Weibo" {{selected socialNetwork 'Sina Weibo'}}>Sina Weibo</option>
								<option value="Skoob" {{selected socialNetwork 'Skoob'}}>Skoob</option>
								<option value="Skyrock" {{selected socialNetwork 'Skyrock'}}>Skyrock</option>
								<option value="SocialVibe" {{selected socialNetwork 'SocialVibe'}}>SocialVibe</option>
								<option value="Sonico.com" {{selected socialNetwork 'Sonico.com'}}>Sonico.com</option>
								<option value="SoundCloud" {{selected socialNetwork 'SoundCloud'}}>SoundCloud</option>
								<option value="Spaces" {{selected socialNetwork 'Spaces'}}>Spaces</option>
								<option value="Stickam" {{selected socialNetwork 'Stickam'}}>Stickam</option>
								<option value="StudiVZ" {{selected socialNetwork 'StudiVZ'}}>StudiVZ</option>
								<option value="Students Circle Network" {{selected socialNetwork 'Students Circle Network'}}>Students Circle Network</option>
								<option value="StumbleUpon" {{selected socialNetwork 'StumbleUpon'}}>StumbleUpon</option>
								<option value="Tagged" {{selected socialNetwork 'Tagged'}}>Tagged</option>
								<option value="Talkbiznow" {{selected socialNetwork 'Talkbiznow'}}>Talkbiznow</option>
								<option value="Taltopia" {{selected socialNetwork 'Taltopia'}}>Taltopia</option>
								<option value="Taringa!" {{selected socialNetwork 'Taringa!'}}>Taringa!</option>
								<option value="TeachStreet" {{selected socialNetwork 'TeachStreet'}}>TeachStreet</option>
								<option value="TermWiki" {{selected socialNetwork 'TermWiki'}}>TermWiki</option>
								<option value="The Sphere" {{selected socialNetwork 'The Sphere'}}>The Sphere</option>
								<option value="TravBuddy.com" {{selected socialNetwork 'TravBuddy.com'}}>TravBuddy.com</option>
								<option value="Travellerspoint" {{selected socialNetwork 'Travellerspoint'}}>Travellerspoint</option>
								<option value="tribe.net" {{selected socialNetwork 'tribe.net'}}>tribe.net</option>
								<option value="Trombi.com" {{selected socialNetwork 'Trombi.com'}}>Trombi.com</option>
								<option value="Tuenti" {{selected socialNetwork 'Tuenti'}}>Tuenti</option>
								<option value="Tylted" {{selected socialNetwork 'Tylted'}}>Tylted</option>
								<option value="Vkontakte" {{selected socialNetwork 'Vkontakte'}}>Vkontakte</option>
								<option value="Vampirefreaks.com" {{selected socialNetwork 'Vampirefreaks.com'}}>Vampirefreaks.com</option>
								<option value="Viadeo" {{selected socialNetwork 'Viadeo'}}>Viadeo</option>
								<option value="Virb" {{selected socialNetwork 'Virb'}}>Virb</option>
								<option value="Vox" {{selected socialNetwork 'Vox'}}>Vox</option>
								<option value="Wattpad" {{selected socialNetwork 'Wattpad'}}>Wattpad</option>
								<option value="WAYN" {{selected socialNetwork 'WAYN'}}>WAYN</option>
								<option value="WeeWorld" {{selected socialNetwork 'WeeWorld'}}>WeeWorld</option>
								<option value="Wellwer" {{selected socialNetwork 'Wellwer'}}>Wellwer</option>
								<option value="WeOurFamily" {{selected socialNetwork 'WeOurFamily'}}>WeOurFamily</option>
								<option value="Wepolls.com" {{selected socialNetwork 'Wepolls.com'}}>Wepolls.com</option>
								<option value="Wer-kennt-wen" {{selected socialNetwork 'Wer-kennt-wen'}}>Wer-kennt-wen</option>
								<option value="weRead" {{selected socialNetwork 'weRead'}}>weRead</option>
								<option value="Wiser.org" {{selected socialNetwork 'Wiser.org'}}>Wiser.org</option>
								<option value="Wooxie" {{selected socialNetwork 'Wooxie'}}>Wooxie</option>
								<option value="WriteAPrisoner.com" {{selected socialNetwork 'WriteAPrisoner.com'}}>WriteAPrisoner.com</option>
								<option value="Xanga" {{selected socialNetwork 'Xanga'}}>Xanga</option>
								<option value="XING" {{selected socialNetwork 'XING'}}>XING</option>
								<option value="Xt3" {{selected socialNetwork 'Xt3'}}>Xt3</option>
								<option value="Yammer" {{selected socialNetwork 'Yammer'}}>Yammer</option>
								<option value="Yelp, Inc." {{selected socialNetwork 'Yelp, Inc.'}}>Yelp, Inc.</option>
								<option value="Zoo.gr" {{selected socialNetwork 'Zoo.gr'}}>Zoo.gr</option>
								<option value="Zooppa" {{selected socialNetwork 'Zooppa'}}>Zooppa</option>
							</select>
							<input type="text" name="snUsername" id="snUsername-{{@index}}" value="{{snUsername}}" class="size-23" maxlength="40">
						</div>
						{{/each}}
						<div id="socialNetwork-tpl">
							<select name="socialNetworks" class="size-13">
								<option value="" selected="selected">Select Network</option>
								<option value="Facebook" >Facebook</option>
								<option value="Twitter" >Twitter</option>
								<option value="LinkedIn" >LinkedIn</option>
								<option value="Google+" >Google+</option>
								<option value="--------------" >--------------</option>
								<option value="43 Things" >43 Things</option>
								<option value="Academia.edu" >Academia.edu</option>
								<option value="Advogato" >Advogato</option>
								<option value="aNobii" >aNobii</option>
								<option value="AsianAvenue" >AsianAvenue</option>
								<option value="aSmallWorld" >aSmallWorld</option>
								<option value="Athlinks" >Athlinks</option>
								<option value="Audimated.com" >Audimated.com</option>
								<option value="Bebo" >Bebo</option>
								<option value="BIGADDA" >BIGADDA</option>
								<option value="Biip.no" >Biip.no</option>
								<option value="BlackPlanet" >BlackPlanet</option>
								<option value="Blauk" >Blauk</option>
								<option value="Blogster" >Blogster</option>
								<option value="Bolt.com" >Bolt.com</option>
								<option value="Busuu" >Busuu</option>
								<option value="Buzznet" >Buzznet</option>
								<option value="CafeMom" >CafeMom</option>
								<option value="Care2" >Care2</option>
								<option value="CaringBridge" >CaringBridge</option>
								<option value="Classmates.com" >Classmates.com</option>
								<option value="Cloob" >Cloob</option>
								<option value="CouchSurfing" >CouchSurfing</option>
								<option value="CozyCot" >CozyCot</option>
								<option value="Cross.tv" >Cross.tv</option>
								<option value="Crunchyroll" >Crunchyroll</option>
								<option value="Cyworld" >Cyworld</option>
								<option value="DailyBooth" >DailyBooth</option>
								<option value="DailyStrength" >DailyStrength</option>
								<option value="delicious" >delicious</option>
								<option value="deviantART" >deviantART</option>
								<option value="Diaspora*" >Diaspora*</option>
								<option value="Disaboom" >Disaboom</option>
								<option value="Dol2day" >Dol2day</option>
								<option value="DontStayIn" >DontStayIn</option>
								<option value="Draugiem.lv" >Draugiem.lv</option>
								<option value="douban" >douban</option>
								<option value="DXY.cn" >DXY.cn</option>
								<option value="Elftown" >Elftown</option>
								<option value="Elixio" >Elixio</option>
								<option value="English, baby!" >English, baby!</option>
								<option value="Epernicus" >Epernicus</option>
								<option value="Eons.com" >Eons.com</option>
								<option value="eToro" >eToro</option>
								<option value="Experience Project" >Experience Project</option>
								<option value="Exploroo" >Exploroo</option>
								<option value="Faceparty" >Faceparty</option>
								<option value="Faces.com" >Faces.com</option>
								<option value="Fetlife" >Fetlife</option>
								<option value="FilmAffinity" >FilmAffinity</option>
								<option value="Filmow" >Filmow</option>
								<option value="FledgeWing" >FledgeWing</option>
								<option value="Flixster" >Flixster</option>
								<option value="Flickr" >Flickr</option>
								<option value="Focus.com" >Focus.com</option>
								<option value="Fotki" >Fotki</option>
								<option value="Fotolog" >Fotolog</option>
								<option value="Foursquare" >Foursquare</option>
								<option value="Friendica" >Friendica</option>
								<option value="Friends Reunited" >Friends Reunited</option>
								<option value="Friendster" >Friendster</option>
								<option value="Frühstückstreff" >Frühstückstreff</option>
								<option value="Fubar" >Fubar</option>
								<option value="Fuelmyblog" >Fuelmyblog</option>
								<option value="FullCircle" >FullCircle</option>
								<option value="Gaia Online" >Gaia Online</option>
								<option value="GamerDNA" >GamerDNA</option>
								<option value="Gapyear.com" >Gapyear.com</option>
								<option value="Gather.com" >Gather.com</option>
								<option value="Gays.com" >Gays.com</option>
								<option value="Geni.com" >Geni.com</option>
								<option value="GetGlue" >GetGlue</option>
								<option value="Gogoyoko" >Gogoyoko</option>
								<option value="Goodreads" >Goodreads</option>
								<option value="Goodwizz" >Goodwizz</option>
								<option value="Google+" >Google+</option>
								<option value="GovLoop" >GovLoop</option>
								<option value="Grono.net" >Grono.net</option>
								<option value="Habbo" >Habbo</option>
								<option value="hi5" >hi5</option>
								<option value="Hospitality Club" >Hospitality Club</option>
								<option value="Hotlist" >Hotlist</option>
								<option value="HR.com" >HR.com</option>
								<option value="Hub Culture" >Hub Culture</option>
								<option value="Hyves" >Hyves</option>
								<option value="Ibibo" >Ibibo</option>
								<option value="Identi.ca" >Identi.ca</option>
								<option value="Indaba Music" >Indaba Music</option>
								<option value="IRC-Galleria" >IRC-Galleria</option>
								<option value="italki.com" >italki.com</option>
								<option value="Itsmy" >Itsmy</option>
								<option value="iWiW" >iWiW</option>
								<option value="Jaiku" >Jaiku</option>
								<option value="Jiepang" >Jiepang</option>
								<option value="Kaixin001" >Kaixin001</option>
								<option value="Kiwibox" >Kiwibox</option>
								<option value="Lafango" >Lafango</option>
								<option value="LAGbook" >LAGbook</option>
								<option value="LaiBhaari" >LaiBhaari</option>
								<option value="Last.fm" >Last.fm</option>
								<option value="LibraryThing" >LibraryThing</option>
								<option value="Lifeknot" >Lifeknot</option>
								<option value="LinkExpats" >LinkExpats</option>
								<option value="Listography" >Listography</option>
								<option value="LiveJournal" >LiveJournal</option>
								<option value="Livemocha" >Livemocha</option>
								<option value="Makeoutclub" >Makeoutclub</option>
								<option value="MEETin" >MEETin</option>
								<option value="Meetup (website)" >Meetup (website)</option>
								<option value="Meettheboss" >Meettheboss</option>
								<option value="MillatFacebook" >MillatFacebook</option>
								<option value="mixi" >mixi</option>
								<option value="MocoSpace" >MocoSpace</option>
								<option value="MOG" >MOG</option>
								<option value="MouthShut.com" >MouthShut.com</option>
								<option value="Mubi" >Mubi</option>
								<option value="MyHeritage" >MyHeritage</option>
								<option value="MyLife" >MyLife</option>
								<option value="My Opera" >My Opera</option>
								<option value="Myspace" >Myspace</option>
								<option value="Nasza-klasa.pl" >Nasza-klasa.pl</option>
								<option value="Netlog" >Netlog</option>
								<option value="Nexopia" >Nexopia</option>
								<option value="NGO Post" >NGO Post</option>
								<option value="Ning" >Ning</option>
								<option value="Odnoklassniki" >Odnoklassniki</option>
								<option value="Open Diary" >Open Diary</option>
								<option value="Orkut" >Orkut</option>
								<option value="OUTeverywhere" >OUTeverywhere</option>
								<option value="PatientsLikeMe" >PatientsLikeMe</option>
								<option value="Partyflock" >Partyflock</option>
								<option value="Pingsta" >Pingsta</option>
								<option value="Pinterest" >Pinterest</option>
								<option value="Plaxo" >Plaxo</option>
								<option value="Playfire" >Playfire</option>
								<option value="Playlist.com" >Playlist.com</option>
								<option value="Plurk" >Plurk</option>
								<option value="Qapacity" >Qapacity</option>
								<option value="Quechup" >Quechup</option>
								<option value="Qzone" >Qzone</option>
								<option value="Raptr" >Raptr</option>
								<option value="Ravelry" >Ravelry</option>
								<option value="Renren" >Renren</option>
								<option value="ReverbNation.com" >ReverbNation.com</option>
								<option value="Ryze" >Ryze</option>
								<option value="ScienceStage" >ScienceStage</option>
								<option value="ShareTheMusic" >ShareTheMusic</option>
								<option value="Shelfari" >Shelfari</option>
								<option value="Sina Weibo" >Sina Weibo</option>
								<option value="Skoob" >Skoob</option>
								<option value="Skyrock" >Skyrock</option>
								<option value="SocialVibe" >SocialVibe</option>
								<option value="Sonico.com" >Sonico.com</option>
								<option value="SoundCloud" >SoundCloud</option>
								<option value="Spaces" >Spaces</option>
								<option value="Stickam" >Stickam</option>
								<option value="StudiVZ" >StudiVZ</option>
								<option value="Students Circle Network" >Students Circle Network</option>
								<option value="StumbleUpon" >StumbleUpon</option>
								<option value="Tagged" >Tagged</option>
								<option value="Talkbiznow" >Talkbiznow</option>
								<option value="Taltopia" >Taltopia</option>
								<option value="Taringa!" >Taringa!</option>
								<option value="TeachStreet" >TeachStreet</option>
								<option value="TermWiki" >TermWiki</option>
								<option value="The Sphere" >The Sphere</option>
								<option value="TravBuddy.com" >TravBuddy.com</option>
								<option value="Travellerspoint" >Travellerspoint</option>
								<option value="tribe.net" >tribe.net</option>
								<option value="Trombi.com" >Trombi.com</option>
								<option value="Tuenti" >Tuenti</option>
								<option value="Tylted" >Tylted</option>
								<option value="Vkontakte" >Vkontakte</option>
								<option value="Vampirefreaks.com" >Vampirefreaks.com</option>
								<option value="Viadeo" >Viadeo</option>
								<option value="Virb" >Virb</option>
								<option value="Vox" >Vox</option>
								<option value="Wattpad" >Wattpad</option>
								<option value="WAYN" >WAYN</option>
								<option value="WeeWorld" >WeeWorld</option>
								<option value="Wellwer" >Wellwer</option>
								<option value="WeOurFamily" >WeOurFamily</option>
								<option value="Wepolls.com" >Wepolls.com</option>
								<option value="Wer-kennt-wen" >Wer-kennt-wen</option>
								<option value="weRead" >weRead</option>
								<option value="Wiser.org" >Wiser.org</option>
								<option value="Wooxie" >Wooxie</option>
								<option value="WriteAPrisoner.com" >WriteAPrisoner.com</option>
								<option value="Xanga" >Xanga</option>
								<option value="XING" >XING</option>
								<option value="Xt3" >Xt3</option>
								<option value="Yammer" >Yammer</option>
								<option value="Yelp, Inc." >Yelp, Inc.</option>
								<option value="Zoo.gr" >Zoo.gr</option>
								<option value="Zooppa" >Zooppa</option>
							</select>
							<input type="text" class="size-23" name="snUsername" maxlength="40">
						</div>
					</div>
				</div>
			</div><!-- EOF control-group -->
			<div class="control-group">
				<label class="control-label" for="textarea"><label for="socialNetwork">Instant Message</label></label>
				<div class="controls">
					<div id="instantMessage-list">
						{{#each instantMessages}}
						<div id="im-{{@index}}">
							<select name="instantMessages" id="instantMessage-{{@index}}" class="size-13">
								<option value="" selected="selected">Select IM</option>
								<option value="Skype" {{selected instantMessage 'Skype'}}>Skype</option>
								<option value="WhatsApp" {{selected instantMessage 'WhatsApp'}}>WhatsApp</option>
								<option value="Line" {{selected instantMessage 'Line'}}>Line</option>
								<option value="----------------" {{selected instantMessage '----------------'}}>----------------</option>
								<option value="AIM" {{selected instantMessage 'AIM'}}>AIM</option>
								<option value="Blauk" {{selected instantMessage 'Blauk'}}>Blauk</option>
								<option value="eBuddy" {{selected instantMessage 'eBuddy'}}>eBuddy</option>
								<option value="Gadu-Gadu" {{selected instantMessage 'Gadu-Gadu'}}>Gadu-Gadu</option>
								<option value="IBM Lotus Sametime" {{selected instantMessage 'IBM Lotus Sametime'}}>IBM Lotus Sametime</option>
								<option value="ICQ" {{selected instantMessage 'ICQ'}}>ICQ</option>
								<option value="iMessage" {{selected instantMessage 'iMessage'}}>iMessage</option>
								<option value="IMVU" {{selected instantMessage 'IMVU'}}>IMVU</option>
								<option value="Lync" {{selected instantMessage 'Lync'}}>Lync</option>
								<option value="MXit" {{selected instantMessage 'MXit'}}>MXit</option>
								<option value="Paltalk" {{selected instantMessage 'Paltalk'}}>Paltalk</option>
								<option value="Tencent QQ" {{selected instantMessage 'Tencent QQ'}}>Tencent QQ</option>
								<option value="Windows Live Messenger" {{selected instantMessage 'Windows Live Messenger'}}>Windows Live Messenger</option>
								<option value="Wireclub" {{selected instantMessage 'Wireclub'}}>Wireclub</option>
								<option value="Xfire" {{selected instantMessage 'Xfire'}}>Xfire</option>
								<option value="Yahoo! Messenger" {{selected instantMessage 'Yahoo! Messenger'}}>Yahoo! Messenger</option>
							</select>
							<input type="text" name="imUsername" id="imUsername-{{@index}}" value="{{imUsername}}" class="size-23" maxlength="40">
						</div>
						{{/each}}
						<div id="im-tpl">
							<select name="instantMessages" class="size-13">
								<option value="" selected="selected">Select IM</option>
								<option value="Skype" >Skype</option>
								<option value="WhatsApp" >WhatsApp</option>
								<option value="Line" >Line</option>
								<option value="----------------" >----------------</option>
								<option value="AIM" >AIM</option>
								<option value="Blauk" >Blauk</option>
								<option value="eBuddy" >eBuddy</option>
								<option value="Gadu-Gadu" >Gadu-Gadu</option>
								<option value="IBM Lotus Sametime" >IBM Lotus Sametime</option>
								<option value="ICQ" >ICQ</option>
								<option value="iMessage" >iMessage</option>
								<option value="IMVU" >IMVU</option>
								<option value="Lync" >Lync</option>
								<option value="MXit" >MXit</option>
								<option value="Paltalk" >Paltalk</option>
								<option value="Tencent QQ" >Tencent QQ</option>
								<option value="Windows Live Messenger" >Windows Live Messenger</option>
								<option value="Wireclub" >Wireclub</option>
								<option value="Xfire" >Xfire</option>
								<option value="Yahoo! Messenger" >Yahoo! Messenger</option>
							</select>
							<input type="text" name="imUsername" class="size-23" maxlength="40">
						</div>
					</div>
				</div>
			</div><!-- EOF control-group -->
		</div><!-- EOF box-content -->
		<div class="accordion-heading">
			<button id="save-profile-btn" type="submit" class="button2 yellow" data-loading-text="Saving...">Save</button>
			<button class="button2 cancel-edition-btn" data-rel="contact-box">Cancel</button>
		</div><!-- EOF box-footer -->
	</form>
</div><!-- EOF box-standard -->