<form
	class="wing-form accomodation-form {{#if creating }}new-wing{{else}}edit-wing{{/if}}"
	data-rel="{{id}}">

	<div class="box-header">
		{{#equals type 'accommodation' }}
			<i class="icon-house">Accommodation icon</i>
			<h2>Accommodation Wing</h2>
		{{/equals}}
	</div>
	<div class="box-content wings-info">
		<div class="control-group lined">
			<label class="control-label" for="inputName">Wing name</label>
			<div class="controls">
				<input
					id="inputName"
					class="size-extralarge required"
					type="text"
					name="name"
					value="{{name}}"
					placeholder="Some name"
					maxlength="100">
				<span class="help-block"></span>
			</div>
		</div>
		<div class="control-group lined">
			<label class="control-label" for="inputStatus">Wing status</label>
			<div class="controls">
				<select name="status" id="wingStatus" class="size-medium">
					<option value="Y" {{selected status 'Y'}}>Yes</option>
					<option value="N" {{selected status 'N'}}>No</option>
					<option value="M" {{selected status 'M'}}>Maybe</option>
				</select>
				<span class="help-block"></span>
			</div>
		</div>
		<div class="control-group lined overflow">
			<label class="control-label" for="inputSharingOnce">Are you sharing one time?</label>
			<div class="controls">
				<label class="checkbox">
					<input
						id="inputSharingOnce"
						type="checkbox"
						name="sharingOnce"
						{{checked sharingOnce true}}>
				</label>
				<span class="help-inline"></span>
			</div>
		</div>
		<div id="sharing-dates" class="control-group" {{#unless sharingOnce }}hidden{{/unless}}>
			<div class="controls">
				<input
					class="input-sdate input-date"
					type="text"
					name="dateStart"
					value="{{dateStart}}"
					placeholder="Start date">
				<input
					class="input-edate input-date"
					type="text"
					name="dateEnd"
					value="{{dateEnd}}"
					placeholder="End date">
			</div>
			<span class="help-block"></span>
		</div>
	</div>

	{{subview wingTypeView type }}

	{{#unless creating }}
		<div class="box-footer accordion-heading">
			<div class="button-group">
				<button class="button cancel-wing-btn" wing-id="{{id}}">Cancel</button>
				<button id="save-wing-btn" class="button-highlight" data-loading-text="Saving...">Save</button>
			</div>
		</div><!-- EOF box-footer -->
	{{/unless}}
</form>
