<div class="container">
	<div class="landscape">
		<div class="tabs">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#about" data-toggle="tab">Profile</a></li>
				<li><a href="#wings" data-toggle="tab">Wings</a></li>
			</ul>
		</div><!-- EOF tabs -->
		<div class="personal-info">
			<div class="content-top">
				<h1 id="user-name-label" class="name">
					<a href="#/profiles/{{id}}/about">{{firstName}} {{lastName}}</a>
				</h1>
				<span class="age">[{{age}}]</span>
				<span class="online">
					{{#equals lastLoginDate 'ON' }}
						Online
					{{else}}
						{{date lastLoginDate 'YYYY-MM-DD' }}
					{{/equals}}
				</span>
				<h2 class="home-town">
					{{#if hometown.name}}
					{{hometown.name}}, {{hometown.country}}
					{{/if}}
				</h2>
			{{#if myProfile}}
			</div>
			{{else}}
				<h3 class="current-location">Now in {{current.name}}, {{current.country}}</h3>
			</div>
			<div class="button-bar">
				<ul>
					<li><button class="send-message-btn">Message</button></li>
					<li><button class="send-request-btn selected">Request</button></li>
					<li><button class="send-invitation-btn">Invite</button></li>
				</ul>
			</div>
			{{/if}}
		</div><!-- EOF personal -->
	</div><!-- EOF landscape -->
	<div class="tab-content">
		<div class="tab-pane active" id="about">
			<div class="content-left" id="basic-box"></div>
			<div class="content-right">
				<div id="about-box"></div>
				<div id="likes-box"></div>
				{{#if myProfile}}
				<div id="contact-box"></div>
				{{/if}}
				<div id="places-box"></div>
			</div>
		</div>
		<div class="tab-pane" id="wings">
			<div class="content-left"></div>
			<div class="content-right">
				{{#each wingsCollection}}
				<div id="wing-box-{{id}}" class="box-standard">
				</div><!-- EOF box-standard -->
				{{/each}}
			</div>
		</div>
	</div><!-- EOF tab-content -->
</div> <!-- EOF container -->
