<div class="container {{#if myProfile}}my-profile{{/if}}">
	<form id="file-form" style="display: none" method="post" action="" enctype="multipart/form-data">
		<input id="upload" type="file" name="files[]" />
	</form>
    <div id="crop-modal" class="generic-modal modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="display:none">
      <div class="modal-header">
        <h1 id="myModalLabel">Crop Image</h1>
        <button type="button" class="button-close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <h2>To crop image, drag the region below and click Send.</h2>
        <center>
          <img id="cropbox" src="" alt="">
          <div class="progress progress-striped" style="margin-top:10px;display:none;">
            <div class="bar" style="width: 0%;"></div>
          </div>
        </center>
      </div>
      <div class="modal-footer">
        <div class="button-group">
          <button id="cancel-crop" class="button" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <button type="submit" id="submit-avatar" class="button-highlight accept-modal-btn" data-loading-text="Processing...">Send</button>
        </div>
      </div>
    </div>

	<div class="landscape">
		<div class="tabs">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#about" data-toggle="tab">Profile</a></li>
				<li><a href="#wings" data-toggle="tab">Wings</a></li>
			</ul>
		</div><!-- EOF tabs -->
		<div class="personal-info">
			<div class="content-top">
				<h1 id="user-name-label" class="name">{{firstName}} {{lastName}}</h1>
				<span class="age">[{{age}}]</span>
				<span class="online">
					{{#equals lastLoginDate 'ON' }}
						Online
					{{else}}
						Last connection
						{{date lastLoginDate 'YYYY-MM-DD' }}
					{{/equals}}
				</span>
				<h2 class="home-town">
					{{#if current.name}}
						{{current.name}}, {{current.country}}
					{{/if}}
				</h2>
			</div>
			{{#unless myProfile}}
			<div class="button-bar">
				<ul>
					<li><button class="send-message-btn">Message</button></li>
					<li><button class="send-request-btn selected">Request</button></li>
					<li><button class="send-invitation-btn">Invite</button></li>
				</ul>
			</div>
			{{/unless}}
		</div><!-- EOF personal -->
	</div><!-- EOF landscape -->
	<div class="tab-content">
		<div class="tab-pane active" id="about">
			<div class="content-left" id="basic-box"></div>
			<div class="content-right">
				<div id="about-box"></div>
				<div id="places-box"></div>
				<div id="likes-box"></div>
				<div id="photo-box">Photo box</div>
				{{#if myProfile}}
				<div id="contact-box"></div>
				{{/if}}
			</div>
		</div>
		<div class="tab-pane" id="wings">
			<div class="content-left"></div>
			<div class="content-right">
				{{#each wingsCollection}}
				<div id="wing-box-{{id}}" class="box-standard">
				</div><!-- EOF box-standard -->
				{{/each}}
			</div>
		</div>
	</div><!-- EOF tab-content -->
</div> <!-- EOF container -->
