<div class="box-standard">
	<div class="box-header">
		<h1 class="likes-icon">Likes</h1>
		{{#if myProfile}}
		<button id="edit-likes-btn" class="button2 edit-box-btn" data-rel="likes-box"><span class="edit-icon">Edit</span></button>
		{{/if}}
	</div><!-- EOF box-header -->
	<div class="accordion">
		<div class="accordion-group">
			<div id="collapse-likes" minCollapse="450" class="accordion-body collapse">
				<div class="accordion-inner">
					<div class="box-content">
						{{#if enjoyPeople}}
						<h2>People I enjoy</h2>
						<p>{{enjoyPeople}}</p>
						{{/if}}
						{{#if movies}}
						<h2>Movies, series, books, games...</h2>
						<p>{{movies}}</p>
						{{/if}}
						{{#if sports}}
						<h2>Sports</h2>
						<p>{{sports}}</p>
						{{/if}}
						{{#if otherPages}}
						<h2>Other webpages</h2>
						<p>{{otherPages}}</p>
						{{/if}}
						{{#if sharing}}
						<h2>Show, learn, share</h2>
						<p>{{sharing}}</p>
						{{/if}}
						{{#if incredible}}
						<h2>Amazing things done/seen</h2>
						<p>{{incredible}}</p>
						{{/if}}
						{{#if inspiredBy}}
						<h2>People who inspires you</h2>
						<p>{{inspiredBy}}</p>
						{{/if}}
						{{#if quotes}}
						<h2>Favourite quotes</h2>
						<p>{{quotes}}</p>
						{{/if}}
						{{#if pwOpinion}}
						<h2>Opinion about Peoplewings</h2>
						<p>{{pwOpinion}}</p>
						{{/if}}
					</div><!-- EOF box-content -->
				</div>
			</div>
			<div class="gradient-box"></div>
			<div class="accordion-heading" data-toggle="collapse" href="#collapse-likes">
				<div class="see-more">
					<span class="more-about">more about</span>
					<p>See all content</p>
					<span class="more-about">more about</span>
				</div>
			</div>
		</div>
	</div><!-- EOF accordion -->
</div><!-- EOF box-standard -->