<div class="box-standard">
	<div class="box-header">
		<i class="icon-like">Like icon</i>
		<h2>Photos</h2>
		{{#if myProfile}}
		<a id="add_photo" class="button-edit-info edit-box-btn">
			+ Add
			<form hidden>
				<input type="file" id="input-photo-upload" accept="image/*" data-album="{{albums.0.id}}">
			</form>
		</a>

		{{/if}}
	</div><!-- EOF box-header -->

	<div class="accordion">
		<div class="accordion-group">
			<div id="collapse-photos" minCollapse="450" class="accordion-body collapse">
				<div class="accordion-inner">
					<ul class="clearing-thumbs" data-clearing>
					{{#each albums }}
					{{#each photos}}
						<li data-album-id="{{../id}}" data-photo-id="{{id}}">
							<a href="{{bigUrl}}">
								<img src="{{thumbUrl}}">
							</a>

							{{#if ../../myProfile}}
							<div class="control" hidden>
								<button class="close">&times;</button>
							</div>
							{{/if}}
						</li>
					{{/each}}
					{{/each}}
					</ul>
				</div>
			</div>
			<div class="gradient-box"></div>
			<div class="accordion-heading" data-toggle="collapse" href="#collapse-photos">
				<span>See more</span>
			</div>
		</div>
	</div><!-- EOF accordion -->
</div><!-- EOF box-standard -->

<!--
<ul class="clearing-thumbs" data-clearing>
  <li>
  	<a href="path/to/your/img">
  	<img src="path/to/your/img-th">
  	</a>
  	</li>
  <li><a href="path/to/your/img"><img src="path/to/your/img-th"></a></li>
  <li><a href="path/to/your/img"><img src="path/to/your/img-th"></a></li>
</ul>
-->
