				<div class="box-header">
					<i class="icon-house">About icon</i>
					<h2>Accommodation Wing</h2>
					{{#if myProfile}}
					<div class="btn-group pull-right">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="icon-config">Config icon</i>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#" class="edit-wing-btn" wing-id="{{id}}">Edit wing</a></li>
							<li><a href="#" class="delete-wing-btn" wing-id="{{id}}">Delete wing</a></li>
						</ul>
					</div>
					{{/if}}
					<!--
					{{#if myProfile}}
					<button id="edit-wing-{{id}}" class="button2"><span class="edit-icon">Edit</span></button>
					{{/if}}-->
				</div>
				<div class="box-content wings-info">
					<h2>Wings name</h2>
					<p>{{name}}</p>
					<h2>City</h2>
					<p>{{city.name}}, {{city.country}}</p>
					<h2>Wings status</h2>
					<p>{{statusVerbose}}</p>
					<h2>Are you sharing for one time</h2>
					{{#if sharingOnce}}
					<p>{{dateStart}} to {{dateEnd}}</p>
					{{else}}
					<p>No</p>
					{{/if}}
					<h2>Better days to host</h2>
					<p>{{bestDaysVerbose}}</p>
					<h2>Capacity</h2>
					<p>{{capacity}} people</p>
					{{#if preferredMale}}
					<h2>Preferred gender</h2>
					<p>Male</p>
					{{/if}}
					{{#if preferredFemale}}
					<h2>Preferred gender</h2>
					<p>Female</p>
					{{/if}}
					<h2>Wheelchair accessible</h2>
					<p>
						{{#if weelchair}}Yes{{else}}No{{/if}}
					</p>
					<h2>Sleeping arrangements</h2>
					<p>{{whereSleepingTypeVerbose}}</p>
					<h2>Smoking</h2>
					<p>{{smokingVerbose}}</p>
					<h2>Pets</h2>
					<p>
						{{#if petsAllowed}}
						Guest pets allowed
						{{else}}
						No guest pets allowed
						{{/if}}
						{{#if iHavePet}}
						and I have a pet
						{{else}}
						and I don't have any pet
						{{/if}}
					</p>
					<h2>I have blankets</h2>
					<p>{{#if blankets}}Yes{{else}}No{{/if}}</p>
					<h2>I live in the city center</h2>
					<p>{{#if liveCenter}}Yes{{else}}No{{/if}}</p>
					{{#if transports}}
					<h2>Public transport</h2>
					<p>
						{{#if train}}Train, {{/if}}
						{{#if metro}}metro, {{/if}}
						{{#if taxi}}taxi, {{/if}}
						{{#if bus}}bus, {{/if}}
						{{#if boat}}boat, {{/if}}
						{{#if plane}}plane{{/if}}
						{{#if motorbike}}motorbike{{/if}}
						{{#if bicycle}}bicycle{{/if}}
						{{#if other}}other{{/if}}
					</p>
					{{/if}}
					<h2 class="last-p">About your accommodation</h2>
					<p>{{about}}</p>
				</div>
				<!-- <div class="gradient-box"></div> -->
				<div class="accordion-heading">
					<span>See more</span>
				</div>
