<div class="avatar">
	<img id="avatar" src="{{avatar}}" alt="avatar">
</div>
<div class="info">
	{{#if myProfile}}
	<button id="edit-basic-btn" class="button-basic-info edit-profile edit-box-btn" data-rel="basic-box">
		<p class="edit-icon">Edit profile</p>
	</button>
	{{/if}}
</div>
<div class="box rate-info">
	<h2>Reply rate</h2>
	<p>{{rate replyRate}}</p>
	<h2>Reply time</h2>
	<p>{{replyTimeVerbose}}</p>
</div>
<div class="box basic-info">
	<h1>Basic info</h1>
	<h2>Gender</h2>
	<p>{{gender}}</p>
	<h2>Birthday</h2>
	{{#if myProfile}}
	<p>{{birthdayVerbose}}</p>
	{{else}}
		{{#if birthday}}
			<p>{{birthday}}</p>
		{{else}}
			<p>-</p>
		{{/if}}
	{{/if}}
	{{#if interestedIn.length}}
	<h2>Interesed in</h2>
	<p>{{interestedIn.0.gender}}</p>
	{{/if}}
	{{#if civilState}}
	<h2>Relationship status</h2>
	<p>{{civilStateVerbose}}</p>
	{{/if}}
	{{#if languages.length}}
	<h2>Languages</h2>
	<ul>
		{{#each languages}}
		<li>{{name}} ({{level}})</li>
		{{/each}}
	</ul>
	{{/if}}
</div><!-- EOF box basic-info -->
