<div class="box-standard maps">
	<div class="box-header">
		<h1 class="places-icon">Places</h1>
		{{#if myProfile}}
		<button id="edit-places-btn" class="button2 edit-box-btn" data-rel="places-box"><span class="edit-icon">Edit</span></button>
		{{/if}}		
	</div>
	<div id="user-map"></div>
	<div class="maps-legend">
		<ul>
			<li class="places-hometown-icon-mini">Hometown</li>
			<li class="places-current-icon-mini">Current city</li>
			<li class="places-lived-icon-mini">Where I have lived</li>
		</ul>
	</div>
</div><!-- box-standard maps -->