{{#if myProfile}}
<div class="box-standard">
	<div class="box-header">
		<i class="icon-contact">Contact icon</i>
		<h2>Contact info</h2>
		<a id="edit-about-btn" class="button-edit-info edit-box-btn" data-rel="contact-box">
			<i class="icon-edit">Edit icon</i>Edit
		</a>
	</div>
	<div class="accordion">
		<div class="accordion-group">
			<div id="collapse-contact" minCollapse="450" class="accordion-body collapse">
				<div class="accordion-inner">
					<div class="guest-message">
						<h2 class="lock-icon">Shown only to Confirmed Guests</h2>
						<p>To protect your privacy, we hide your address, phone number, and contact information from users that have not confirmed a reservation with you</p>
					</div><!-- EOF guest-message -->
					<div class="box-content contact-info">
						<div>
							<dl>
								<dt>Email</dt>
								<dd>{{emails}}</dd>
								<dt>Phone</dt>
								<dd>{{phone}}</dd>
							</dl>
						</div>
						<div class="dl-list">
							<span class="dt-title">Social Network</span>
							<dl>
								{{#each socialNetworks}}
								<dt>{{socialNetwork}} :</dt>
								<dd>{{snUsername}}</dd>
								{{/each}}
							</dl>
						</div>
						<div class="dl-list">
							<span class="dt-title">Instant Message</span>
							<dl>
								{{#each instantMessages}}
								<dt>{{instantMessage}} :</dt>
								<dd>{{imUsername}}</dd>
								{{/each}}
							</dl>
						</div>
					</div>
				</div>
			</div>
			<div class="gradient-box"></div>
			<div class="accordion-heading collapsed" data-toggle="collapse" href="#collapse-likes">
				<span class="see-more">See more</span>
				<span class="see-less">See less</span>
			</div>
		</div>
	</div><!-- EOF accordion -->
</div><!-- EOF box-standard -->
{{/if}}
