<li class="notification-item" data-type="notification-item" data-rel="{{id}}" data-thread="{{reference}}" data-index="{{index}}">
	<div class="messages-state {{#unless read}}unread{{/unless}}">
		{{#if isMessage }}
		<h1 class="messages-name">{{content}}</h1>
	</div>
	<div class="messages-dates">
		{{else}}
		<h1 class="messages-name">{{enum kind 'notification-type'}}</h1>
		{{#with wingParameters}}
		<h2>{{wingType}} {{wingCity}}</h2>
		<h3>{{message}}</h3>
	</div>
	<div class="messages-dates">
		<div class="messages-dates-info">
			<dl>
				<dt>From</dt>
				<dd {{#if_contains parameters.modified "startDate" }}class="modified"{{/if_contains}}>
					{{date startDate}}
				</dd>
				<dt>To</dt>
				<dd {{#if_contains parameters.modified "endDate" }}class="modified"{{/if_contains}}>
					{{date endDate}}
				</dd>
				<dd {{#if_contains parameters.modified "numPeople" }}class="modified"{{/if_contains}}>
					{{numPeople}}
					<span>people</span>
				</dd>
			</dl>
		</div>
		{{/with}}
		{{/if}}
	</div>
</div>
</li>
