<form id="about-me-form" class="form-horizontal">
	<div id="" class="control-group">
		<label class="control-label" for="textarea"><label for="inputAllAboutYou">All about you</label></label>
		<div class="controls">
			<textarea rows="8" class="span6" placeholder="A description about you, can be anything">{{allAboutYou}}</textarea>
			<span class="help-block"></span>
			<span class="help-inline"></span>
		</div>
	</div>
	<div id="" class="control-group">
		<label class="control-label" for="textarea"><label for="inputMainMission">Current mission</label></label>
		<div class="controls">
			<textarea rows="8" class="span6" placeholder="What is your current mission objective. Be creative, imaginative, wacky if you need to be">{{mainMission}}</textarea>
			<span class="help-block"></span>
			<span class="help-inline"></span>
		</div>
	</div>
	<div id="" class="control-group">
		<label class="control-label" for="textarea"><label for="inputOccupation">Occupation</label></label>
		<div class="controls">
			<input type="text" value="{{occupation}}" maxlength="20" placeholder="What do you do?" size="20">
			<span class="help-block"></span>
			<span class="help-inline"></span>
		</div>
	</div>
	<div id="" class="control-group">
		<label class="control-label" for="textarea"><label for="inputCompany">Company</label></label>
		<div class="controls">
			<input type="text" value="{{company}}" maxlength="20" placeholder="Where have you worked?" id="id_form-0-company" size="20">
			<span class="help-block"></span>
			<span class="help-inline"></span>
		</div>
	</div>
	<div id="" class="control-group">
		<label class="control-label" for="textarea"><label for="inputEducation">Education</label></label>
		<div id="education-list" class="controls">
		</div>
		<div class="controls">
			<span class="help-block"><a href="#" id="add-education-btn" role="button">Add another</a></span>
			<span class="help-inline"></span>
		</div>
	</div>
	<div id="" class="control-group">
		<label class="control-label" for="textarea"><label for="inputPersonalPhilosophy">Personal philosophy</label></label>
		<div class="controls">
			<textarea rows="8" class="span6" placeholder="What is your personal phylosophy? Why live your life? Feelings? Thoughts?">{{personalPhilosophy}}</textarea>
			<span class="help-block"></span>
			<span class="help-inline"></span>
		</div>
	</div>
	<div id="" class="control-group">
		<label class="control-label" for="textarea"><label for="inputPoliticalOpinion">Political views</label></label>
		<div class="controls">
			<input type="text" value="{{politicalOpinion}}" maxlength="20" placeholder="What are your politics?" id="id_f2-0-political_opinion" size="20">
			<span class="help-block"></span>
			<span class="help-inline"></span>
		</div>
	</div>
	<div id="" class="control-group">
		<label class="control-label" for="textarea"><label for="inputReligion">Religion</label></label>
		<div class="controls">
			<input type="text" value="{{religion}}" maxlength="20" placeholder="What are your religious beliefs" id="id_f2-0-religion" size="20">
			<span class="help-block"></span>
			<span class="help-inline"></span>
		</div>
	</div>
	<div class="form-actions">
		<button type="reset" class="btn" style="margin-left: 160px">Cancel</button>
		<button type="submit" class="btn btn-primary" style="margin-left: 160px">Submit</button>
	</div>
</form>
