<ul class="thumbnails">
	<li class="span4">
		<a href="" class="thumbnail" style="width:246px; height: 284px">
			<img id="avatar" src="<%= avatarUrl%>" alt="">
			<div class="progress progress-striped"  style="margin-top:10px;display:none;">
				<div class="bar" style="width: 0%;"></div>
			</div>
		</a>
	</li>
	<li hidden="true">
		<form id="file-form" method="post" action="" enctype="multipart/form-data">
			<input class="span4" type="file" id="upload" name="files[]" />
			<!--<output id="list"></output>-->
		</form>
	</li>
</ul>