<form id="basic-info-form" class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="textarea"><label for="inputGender">I am</label></label>
		<div class="controls">
			<select id="inputGender">
				<option value="">---------</option>
				<option value="Male" {{selected gender 'Male'}}>Male</option>
				<option value="Female" {{selected gender 'Female'}}>Female</option>
			</select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputBirthday">Birthday</label>
		<div class="controls">
			<select id="id_birthday_month" name="birthMonth" class="input-small required">
				<option value="">Month</option>
				{{#each month}}
					<option value="{{indexPlusOne}}" {{selected birthMonth ../indexPlusOne}}>{{name}}</option>
				{{/each}}
			</select>
			<select id="id_birthday_day" name="birthDay" class="input-mini required">
				<option value="">Day</option>
				{{#range 31}}
					<option value="{{index}}" {{selected birthDay index}}>{{index}}</option>
				{{/range}}
			</select>
			<select id="id_birthday_year" name="birthYear" class="input-mini required">
				<option value="">Year</option>
				{{#range 2006 1900 -1}}
					<option value="{{index}}">{{index}}</option>
				{{/range}}
			</select>
			<span class="help-block"></span>
			<span class="help-inline"></span>
		</div>
		<div id="" class="control-group">
			<label class="control-label" for="textarea"><label for="id_form-0-show_birthday"></label></label>
			<div class="controls">
				<select name="showBirthday">
					<option value="F" {{selected showBirthday 'F'}}>Show full</option>
					<option value="P" {{selected showBirthday 'P'}}>Show month and day</option>
					<option value="N" {{selected showBirthday 'N'}}>Dont show</option>
				</select>
				<span class="help-block"></span>
				<span class="help-inline"></span>
			</div>
		</div>
		<div id="" class="control-group">
			<label class="control-label" for="textarea"><label for="id_form-0-interested_in_0">Interested in</label></label>
			<div class="controls">
				<ul>
					<li>
						<label for="inputInterestedIn">
							<input type="checkbox" name="interestedInM" value="Male" {{checked interestedInM 'Male'}}> Male
						</label>
					</li>
					<li>
						<label for="inputInterestedIn">
							<input type="checkbox" name="interestedInF" value="Female" {{checked interestedInF 'Female'}}> Female
						</label>
					</li>
				</ul>
				<span class="help-block"></span>
				<span class="help-inline"></span>
			</div>
		</div>
		<div id="" class="control-group">
			<label class="control-label" for="textarea"><label for="inputCivilState">Relationship status</label></label>
			<div class="controls">
				<select name="civilState">
					<option value="">---------</option>
					<option value="SI" {{selected civilState 'SI'}}>Single</option>
					<option value="EN" {{selected civilState 'EN'}}>Engaged</option>
					<option value="MA" {{selected civilState 'MA'}}>Married</option>
					<option value="WI" {{selected civilState 'WI'}}>Widowed</option>
					<option value="IR" {{selected civilState 'IR'}}>In a relationship</option>
					<option value="IO" {{selected civilState 'IO'}}>In an open relationship</option>
					<option value="IC" {{selected civilState 'IC'}}>Its complicated</option>
					<option value="DI" {{selected civilState 'DI'}}>Divorced</option>
					<option value="SE" {{selected civilState 'SE'}}>Separated</option>
				</select>
				<span class="help-block"></span>
				<span class="help-inline"></span>
			</div>
		</div>
		<div id="" class="control-group">
			<label class="control-label" for="textarea"><label for="inputLanguage">Language</label></label>
			<div class="controls">
				<div id="languages-list"></div>
				<span class="help-block"><a href="#" id="add-language-btn" role="button">Add another</a></span>
			</div>
		</div>
		<div id="" class="control-group">
			<label class="control-label" for="textarea"><label for="hometown">Hometown</label></label>
			<div class="controls">
				<input id="hometown" type="text" data-provide="typeahead" class="hometown span6" value="{{hometown}}" placeholder="Introduce una ubicación" autocomplete="off">
				<span class="help-block"></span>
				<span class="help-inline"></span>
			</div>
		</div>
		<div id="" class="control-group">
			<label class="control-label" for="textarea"><label for="hometown">Current city</label></label>
			<div class="controls">
				<input id="currentCity" type="text" data-provide="typeahead" class="hometown span6" value="{{current}}" placeholder="Introduce una ubicación" autocomplete="off">
				<span class="help-block"></span>
				<span class="help-inline"></span>
			</div>
		</div>
		<div id="otherLocations-group" class="control-group">
			<label class="control-label" for="textarea"><label for="hometown">Places where I have lived</label></label>
			<div id="otherLocations-list" class="controls"></div>
			<div class="controls">
				<span class="help-block"><a href="#" id="add-location-btn" role="button">Add another</a></span>
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="form-actions">
			<button type="reset" class="btn">Cancel</button>
			<button type="submit" class="btn btn-primary" style="margin-left: 160px">Submit</button>
		</div>
	</div>
</form>
