<form id="basic-info-form" class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="textarea"><label for="inputGender">I am</label></label>
		<div class="controls">
			<select name="gender" id="inputGender">
				<option value="">---------</option>
				<option value="Male">Male</option>
				<option value="Female">Female</option>
			</select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputBirthday">Birthday</label>
		<div class="controls">
			<select id="id_birthday_month" name="birthMonth" class="input-small required">
				<option value="">Month</option>
				{{#each month}}
					<option value="{{indexPlusOne}}">{{name}}</option>
				{{/each}}
			</select>
			<select id="id_birthday_day" name="birthDay" class="input-mini required">
				<option value="">Day</option>
				{{#range 31}}
					<option value="{{index}}">{{index}}</option>
				{{/range}}
			</select>
			<select id="id_birthday_year" name="birthYear" class="input-mini required">
				<option value="">Year</option>
				{{#range 2006 1900 -1}}
					<option value="{{index}}">{{index}}</option>
				{{/range}}
			</select>
			<span class="help-block"></span>
			<span class="help-inline"></span>
		</div>
		<div id="" class="control-group">
			<label class="control-label" for="textarea"><label for="id_form-0-show_birthday"></label></label>
			<div class="controls">
				<select name="showBirthday">
					<option value="F">Show full</option>
					<option value="P">Show month and day</option>
					<option value="N">Dont show</option>
				</select>
				<span class="help-block"></span>
				<span class="help-inline"></span>
			</div>
		</div>
		<div id="" class="control-group">
			<label class="control-label" for="textarea"><label for="id_form-0-interested_in_0">Interested in</label></label>
			<div class="controls">
				<ul>
					<li>
						<label for="inputInterestedIn">
							<input type="checkbox" name="interestedInM" value="Male"> Male
						</label>
					</li>
					<li>
						<label for="inputInterestedIn">
							<input type="checkbox" name="interestedInF" value="Female"> Female
						</label>
					</li>
				</ul>
				<span class="help-block"></span>
				<span class="help-inline"></span>
			</div>
		</div>
		<div id="" class="control-group">
			<label class="control-label" for="textarea"><label for="inputCivilState">Relationship status</label></label>
			<div class="controls">
				<select name="civilState">
					<option value="">---------</option>
					<option value="SI">Single</option>
					<option value="EN">Engaged</option>
					<option value="MA">Married</option>
					<option value="WI">Widowed</option>
					<option value="IR">In a relationship</option>
					<option value="IO">In an open relationship</option>
					<option value="IC">Its complicated</option>
					<option value="DI">Divorced</option>
					<option value="SE">Separated</option>
				</select>
				<span class="help-block"></span>
				<span class="help-inline"></span>
			</div>
		</div>
		<div id="" class="control-group">
			<label class="control-label" for="textarea"><label for="inputLanguage">Language</label></label>
			<div class="controls">
				<div id="languages-list"></div>
				<span class="help-block"><a href="#" id="add-language-btn" role="button">Add another</a></span>
			</div>
		</div>
		<div id="" class="control-group">
			<label class="control-label" for="textarea"><label for="hometown">Hometown</label></label>
			<div class="controls">
				<input id="hometown" type="text" data-provide="typeahead" class="hometown span6" name="hometown" placeholder="Introduce una ubicación" autocomplete="off">
				<span class="help-block"></span>
				<span class="help-inline"></span>
			</div>
		</div>
		<div id="" class="control-group">
			<label class="control-label" for="textarea"><label for="hometown">Current city</label></label>
			<div class="controls">
				<input id="currentCity" type="text" data-provide="typeahead" class="hometown span6" name="current" placeholder="Introduce una ubicación" autocomplete="off">
				<span class="help-block"></span>
				<span class="help-inline"></span>
			</div>
		</div>
		<div id="otherLocations-group" class="control-group">
			<label class="control-label" for="textarea"><label for="hometown">Places where I have lived</label></label>
			<div id="otherLocations-list" class="controls"></div>
			<div class="controls">
				<span class="help-block"><a href="#" id="add-location-btn" role="button">Add another</a></span>
				<span class="help-inline"></span>
			</div>
		</div>
		<div class="form-actions">
			<button type="reset" class="btn">Cancel</button>
			<button type="submit" class="btn btn-primary" style="margin-left: 160px">Submit</button>
		</div>
	</div>
</form>
