<form id="contact-form" class="form-horizontal">
	<div id="" class="control-group">
		<label class="control-label" for="textarea"><label for="id_form-0-emails">Email</label></label>
		<div class="controls">
			<input id="id_form-0-emails" type="text" name="emails" maxlength="75">
			<span class="help-block"></span>
			<span class="help-inline"></span>
		</div>
	</div>
	<div id="" class="control-group">
		<label class="control-label" for="textarea"><label for="id_form-0-phone">Phone</label></label>
		<div class="controls">
			<input id="id_form-0-phone" type="text" name="phone" maxlength="20">
			<span class="help-block"></span>
			<span class="help-inline"></span>
		</div>
	</div>
	<div id="" class="control-group">
		<label class="control-label" for="textarea"><label for="socialNetwork">Social Network</label></label>
		<div id="socialNetwork-list" class="controls"></div>
		<div class="controls">
			<span class="help-block"><a href="#" id="add-social-btn" role="button">Add another</a></span>
			<span class="help-inline"></span>
		</div>
	</div>
	<div id="" class="control-group">
		<label class="control-label" for="textarea"><label for="instantMessage">Instant Message</label></label>
		<div id="instantMessage-list" class="controls"></div>
		<div class="controls">
			<span class="help-block"><a href="#" id="add-im-btn" role="button">Add another</a></span>
			<span class="help-inline"></span>
		</div>
	</div>
	<div class="form-actions">
		<button type="reset" class="btn" style="margin-left: 160px">Cancel</button>
		<button type="submit" class="btn btn-primary" style="margin-left: 160px">Submit</button>
	</div>
</form>
