<form id="contact-form" class="form-horizontal">
      <div id="" class="control-group">
		<label class="control-label" for="textarea"><label for="id_form-0-emails">Email</label></label>
			<div class="controls">
				<input id="id_form-0-emails" type="text" name="emails" maxlength="75">
				<span class="help-block"></span>
				<span class="help-inline"></span>
			</div>
       </div>
      <div id="" class="control-group">
		<label class="control-label" for="textarea"><label for="id_form-0-phone">Phone</label></label>
			<div class="controls">
				<input id="id_form-0-phone" type="text" name="phone" maxlength="20">
				<span class="help-block"></span>
				<span class="help-inline"></span>
			</div>
       </div>
      <div id="" class="control-group">
		<label class="control-label" for="textarea"><label for="id_sn-0-social_network">Social Network</label></label>
			<div class="controls">
				<select name="socialNetwork" id="id_sn-0-social_network">
					<option value="Facebook">Facebook</option>
					<option value="Twitter">Twitter</option>
					<option value="LinkedIn">LinkedIn</option>
				</select>
				<span class="help-block"></span>
				<span class="help-inline"></span>
			</div>
       </div>
      <div id="" class="control-group">
		<label class="control-label" for="textarea"><label for="id_sn-0-social_network_username">Social Network Username</label></label>
			<div class="controls">
				<input id="social_network_username" type="text" placeholder="Username or public profile link" name="snUsername" maxlength="20">
				<span class="help-block"></span>
				<span class="help-inline"></span>
			</div>
       </div>
  
      <div id="" class="control-group">
		<label class="control-label" for="textarea"><label for="id_im-0-instant_message">Instant Message</label></label>
			<div class="controls">
				<select name="instantMessage" id="id_im-0-instant_message">
					<option value="Skype">Skype</option>
					<option value="Whatsapp">Whatsapp</option>
				</select>
				<span class="help-block"></span>
				<span class="help-inline"></span>
			</div>
       </div>

      <div id="" class="control-group">
		<label class="control-label" for="textarea"><label for="id_im-0-instant_message_username">Instant Message Username</label></label>
			<div class="controls">
				<input name="imUsername" placeholder="Username" maxlength="20" type="text" id="id_im-0-instant_message_username">
				<span class="help-block"></span>
				<span class="help-inline"></span>
			</div>
       </div>
		<div class="form-actions">
			<button type="reset" class="btn" style="margin-left: 160px">Cancel</button>
			<button type="submit" class="btn btn-primary" style="margin-left: 160px">Submit</button>
		</div>
        </form>