<form id="delete-account-form" cnovalidate="novalidate">
	<div class="form-wrapper">
		<span class="signal">account signal</span>
		<div class="form-header">
			<h1>Delete your Peoplewings account !!</h1>
		</div>
	</div>
	<div class="control-group confirm-changes">
		<p>Please provide your password to confirm you fully understand that you'll no longer be able to use of this product and all information associated with them, and that your account will be lost</p>
		<label class="control-label" for="inputEmail">Current password</label>
		<div class="controls">
			<input type="email" id="inputEmail" name="email" placeholder="Email" class="input-large required">
		</div>
	</div>
	<div class="footer-content">
		<div class="buttons-group">
			<button type="submit" class="button1 yellow">Save</button>
			<button class="button1">Cancel</button>
		</div>
	</div>
</form>

