<form id="delete-account-form" cnovalidate="novalidate">
	<div class="form-wrapper">
		<span class="signal">account signal</span>
		<div class="form-header">
			<h1>Delete your Peoplewings account !!</h1>
		</div>
	</div>
	<div class="control-group confirm-changes">
		<p>Please provide your password to confirm you fully understand that you'll no longer be able to use of this product and all information associated with them, and that your account will be lost</p>
		<label class="control-label" for="inputCurrentPassword">Password</label>
		<div class="controls">
			<input type="password" id="currentPassword" name="currentPassword" maxlength="20" placeholder="Your password" class="input-medium required">
			<span class="help-block"></span>
		</div>
	</div>
	<div class="footer-content">
		<div class="buttons-group">
			<button id="delete-account-btn" type="submit" class="button1 yellow" data-loading-text="Deleting..." role="button">Delete account</button>
			<a href="#/settings" class="button1">Cancel</a>
		</div>
	</div>
</form>

