<div class="navbar nav navbar-fixed-top">
	<div class="navbar-inner">
			<a class="brand" href="#">Peoplewings</a>
			<input type="input" id="header-search">
			<div class="btn-group pull-right">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#/settings">Account settings</a></li>
					<li><a href="#/logout">Log Out</a></li>
				</ul>
			</div>
			<div class="nav-menu">
				<ul class="nav pull-right">
					<li><a href="#/search/">Search</a></li>
					<li><span id="notif-count"></span><a href="#/messages">Messages</a></li>
					<li><a href="#/wings">Your Wings</a></li>
					<li>
						<a href="#/profiles/{{id}}/about">{{firstName}} {{lastName}}</a>
						<img src="{{ avatar }}">
					</li>
				</ul>
			</div>
			<div id="mini-spinner"></div>
		</div>
	</div>
</div>
