<li class="notification-item {{#unless read}}unread{{/unless}}" data-type="notification-item" data-rel="{{id}}" data-thread="{{reference}}" data-index="{{index}}">
	<div class="messages-avatar">
		<img src="{{avatar}}">
	</div>
	<div class="messages-sender">
		<h1 class="messages-name"><a href="#/profiles/{{interlocutorId}}/about">{{name}},</a><span class="messages-age">[{{age}}]</span></h1>
		<span class="{{#if online}}online{{/if}}">{{connected}}</span>
		<h2>{{location}}</h2>
	</div>
	<div class="messages-flag">
		<span class="state-flag {{#if flagDirection }}from-me{{else}}to-me{{/if}} {{enum state 'notification-state'}}">state flag</span>
	</div>
	<div class="messages-state">
		{{#if isMessage }}
		<p class="messages-name">{{content}}</p>
	</div>
	<div class="messages-dates">
		{{else}}
		<h1 class="messages-name {{enum state 'notification-state'}}">{{enum kind 'notification-type'}} {{enum state 'notification-state'}}</h1>
		{{#with wingParameters}}
		<h2>{{wingType}} {{wingCity}}</h2>
		<h3>{{message}}</h3>
	</div>
	<div class="messages-dates">
		<div class="messages-dates-info">
			<dl>
				<dt>From</dt>
				<dd {{#if_contains parameters.modified "startDate" }}class="modified"{{/if_contains}}>
					{{date startDate}}
				</dd>
			</dl>
			<dl>
				<dt>To</dt>
				<dd {{#if_contains parameters.modified "endDate" }}class="modified"{{/if_contains}}>
					{{date endDate}}
				</dd>
			</dl>
			<dl>
				<dd {{#if_contains parameters.modified "numPeople" }}class="modified"{{/if_contains}}>
					{{numPeople}}
					<span>people</span>
				</dd>
			</dl>
		</div>
		{{/with}}
		{{/if}}
		<div class="messages-date-msg">{{date created "MMM Do"}}</div>
	</div>
</li>
