<div data-type="notification-item" data-rel="{{ id }}" class="row">
	<img src="{{avatar}}" class="span1 offset1">
	<div class="span3">
		<span class="{{#if connected }}online{{/if}}"></span>
		<a href="#verperfilde/{{interlocutorId}}">{{name}}</a>
		, {{age}}
		<div>{{location}}</div>
	</div>

	<div class="{{#unless read }}unread{{/unless}}">

		{{#if isMessage }}

		<div class="span5 offset1">{{content}}</div>

		{{else}}

		<div class="span3 offset1">
			<div>{{kind}}</div>
			<div>{{title}}</div>
		</div>
		<div class="span1">{{numPeople}} people</div>
		<div class="span1">
			<div>{{date startDate}}</div>
			<div>{{date endDate}}</div>
		</div>

		{{/if}}

		<div class="span1">{{date created "MMM Do"}}</div>
	</div>
</div>
