<div id="search">
	<input type="text" id="search-query" class="size-extralarge search-icon" placeholder="Search">
	<button id="search-btn" class="button1">Go</button>
</div>

<div class="message-tabs">
	<ul id="notification-type">
		<li class="button selected" data-filter="">All</li>
		<li class="button" data-filter="reqinv">Request & Invitations</li>
		<li class="button" data-filter="msg">Messages</li>
	</ul>
</div>

<div id="notification-panel">
	<div class="floatality">
		<label id="filter-title">Organized by</label>
		<select id="ri-filters" class="size-medium">
			<option value="date">Date</option>
			<option value="interlocutor">Contact name</option>
			<option value="read">Read/Unread</option>
		</select>
		<select id="ri-status" class="size-medium">
			<option value="">All</option>
			<option value="P">Pending</option>
			<option value="A">Accepted</option>
			<option value="D">Denyed</option>
			<option value="M">Maybe</option>
		</select>
		<ul id="notification-sender">
			<li class="checkbox"><input type="checkbox" name="received"> Recived</li>
			<li class="checkbox"><input type="checkbox" name="sent"> Applied</li>
		</ul>
	</div>

	<div class="row">
		<div class="span2">
			<div class="btn-group">
				<label for="main-checker" class="btn btn-primary"><input type="checkbox" id="main-checker"></label>
				<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#" id="delete-all-selected">Delete</a></li>
				</ul>
			</div>
		</div>
		<div class="span3 offset7">
			<div class="span1 resultCounter"><span> 0</span> - <span>0</span> of <span>0</span></div>
			<div id="notifications-pager"class="span1 btn-group">
				<button class="btn previousPage">«</button>
				<button class="btn nextPage">»</button>
			</div>
		</div>
	</div>
	<legend></legend>
	<ul id="notifications-list" class="unstyled"></ul>
</div>
