<div class="row">
	<div class="span12">
		<div class="row">
      		<div class="span5">
				<p>
					<h4 style="display: inline"><span name="firstName"></span> <span name="lastName"></span></h4>, <span name="age"></span>
					<% if (verified === true) { %> 
						<span class="label label-success"> Verified</span>
					<% } %>
					<% if (verified === false) { %> 
						<span class="label label-important"> Not verified</span>
					<% } %>
				</p>
				<ul class="unstyled">
			  		<li>	
						<% if (current.name != undefined) { %> 
							Lives: <%= current.name %>,  <%= current.country %>
						<% } %>
				  	</li>
				  	<li>
						<% if (lastLoginDate != undefined) { %> 
							Last login: "Located" user city, <%= lastLoginDate%>
							<% } %>
				  		</li>
				</ul>
			</div>
      		<div class="span3">
				<a href="#/profile" class="btn pull-right">Edit</a>
				<div class="span3">
					<label style="display: inline">Reply rate: </label><span name="tasaRespuestas"></span> %
					<label style="display: inline">Reply time: </label><span name="replyTime"></span> h
				</div>
				<div class="span3">
					<a href="#/friends" class="btn">Friends <span name="numFriends"></span></a>
					<a href="#/references" class="btn">References <span name="numReferences"></span></a>
				</div>
			</div>
    	</div>
		<div class="row">
			<div class="span8">
				<ul class="nav nav-tabs">
		  	  		<li class="active"><a href="#about" data-toggle="tab">About</a></li>
			  		<li><a href="#wings" data-toggle="tab">Wings</a></li>
				</ul>
				<div class="tab-content">
			  		  <div class="tab-pane active" id="about">
						<h4>Basic Info</h4>
			  		  	<dl class="dl-horizontal">
							<dt>Gender</dt>
							<dd name="gender"></dd>
							<dt>Birthday</dt>
							<dd><%= birthday %></dd>
							<dt>Interested in</dt>
							<dd><%= interestedIn %></dd>
							<dt>Relationship status</dt>
							<dd name="civilState"></dd>
							<dt>Languages</dt>
							<% if (languages.size != 0) { %> 
							<dd>
								<% _.each(languages, function(lang) { %> 
									<%= lang.name%> <%= lang.level%>, 
								<% }); %>
							</dd>
							<% } %>
							<dt>Hometown</dt>
							<% if (hometown.name != undefined) { %> 
							<dd><%= hometown.name%>, <%= hometown.country%> </dd>
							<% } %>
							<dt>Places where I have lived</dt>
							<% if (otherLocations.size != 0) { %> 
							<dd>
								<% _.each(otherLocations, function(location) { %> 
									<%= location.name%>, <%= location.country%>;
								<% }); %>
							</dd>
							<% } %>
							<dt></dt>
							<dd><div id="mapcanvas"></div></dd>
						</dl>
						<legend></legend>
						<h4>About Me</h4>
			  		  	<dl class="dl-horizontal">
							<dt>Description</dt>
							<dd name="allAboutYou"></dd>
							<dt>Current mission</dt>
							<dd name="mainMission"></dd>
							<dt>Occupation</dt>
							<dd name="occupation"></dd>
							<dt>Company</dt>
							<dd name="company"></dd>
							<dt>Education</dt>
							<% if (education.size != 0) { %> 
							<dd>
								<% _.each(education, function(edu) { %> 
									<%= edu.degree %> at <%= edu.institution %>, 
								<% }); %>
							</dd>
							<% } %>
							<dt>Personal philosophy</dt>
							<dd name="personalPhilosophy"></dd>
							<dt>Political views</dt>
							<dd name="politicalOpinion"></dd>
							<dt>Religion</dt>
							<dd name="religion"></dd>
						</dl>
						<legend></legend>
						<h4>Likes</h4>
			  		  	<dl class="dl-horizontal">
							<dt>People I enjoy</dt>
							<dd name="enjoyPeople"></dd>
							<dt>Movies, books...</dt>
							<dd name="movies"></dd>
							<dt>Webs, apps</dt>
							<dd name="otherPages"></dd>
							<dt>Show, learn, share</dt>
							<dd name="sharing"></dd>
							<dt>Amazing things done/seen</dt>
							<dd name="incredible"></dd>
							<dt>People who inspires you</dt>
							<dd name="inspiredBy"></dd>
							<dt>Favorite quotes</dt>
							<dd name="quotes"></dd>
							<dt>Opinion about Peoplewings</dt>
							<dd name="pwOpinion"></dd>
						</dl>
			  		  </div>
					  <div class="tab-pane" id="wings">
							<% _.each(education, function(edu) { %> 
								<%= edu.degree %> at <%= edu.institution %>, 
							<% }); %>
					  </div>
				</div>
			</div>	
			<div class="span4">
				<ul class="thumbnails">
					<li class="span4">
						<a href="" class="thumbnail" style="width:246px; height: 246px">
							<img id="avatar" src="<%= avatar %>" alt="avatar">
						</a>
					</li>
				</ul>
			</div>
   		</div>
	</div>
</div>