					<div class="box-standard">
						<form id="contact-form" data-rel="contact-box">
							<div class="box-header">
								<h1 class="contact-icon">Contact info</h1>
							</div>
							<div class="guest-message">
								<h2 class="lock-icon">Shown only to Confirmed Guests</h2>
								<p>To protect your privacy, we hide your address, phone number, and contact information from users that have not confirmed a reservation with you</p>
							</div><!-- EOF guest-message -->
							<div class="box-content contact-info">
								<div id="" class="control-group">
									<label class="control-label" for="textarea"><label for="id_form-0-emails">Email</label></label>
									<div class="controls">
										<input name="emails" id="id_form-0-emails" type="text" value="{{emails}}" maxlength="75">
										<span class="help-block"></span>
										<span class="help-inline"></span>
									</div>
								</div>
								<div id="" class="control-group">
									<label class="control-label" for="textarea"><label for="id_form-0-phone">Phone</label></label>
									<div class="controls">
										<select name="pre-phone" id="">
											<option value="mobile" selected="selected">Mobile</option>
											<option>Home</option>
										</select>
										<input name="phone" id="id_form-0-phone" type="text" value="{{phone}}" maxlength="20">
										<a href="#" class="another">+ Add Phone</a>
										<span class="help-block"></span>
										<span class="help-inline"></span>
									</div>
								</div>
								<div id="" class="control-group">
									<label class="control-label" for="textarea"><label for="socialNetwork">Social Network</label></label>
									<div class="controls">
										<div id="socialNetwork-list">
											{{#each socialNetworks}}
											<div id="social-{{@index}}">
												<select name="socialNetworks" id="socialNetwork-{{@index}}">
													<option value="" selected="selected">Select Network</option>
													<option value="Facebook" {{selected socialNetwork 'Facebook'}}>Facebook</option>
													<option value="Twitter" {{selected socialNetwork 'Twitter'}}>Twitter</option>
													<option value="LinkedIn" {{selected socialNetwork 'LinkedIn'}}>LinkedIn</option>
													<option value="Badoo" {{selected socialNetwork 'Badoo'}}>Badoo</option>
													<option value="Couch Surfing" {{selected socialNetwork 'Couch Surfing'}}>Couch Surfing</option>
												</select>
												<input type="text" name="snUsername" id="snUsername-{{@index}}" value="{{snUsername}}">
											</div>
											{{/each}}
											<div id="socialNetwork-tpl">
												<select name="socialNetworks" class="span2">
													<option value="" selected="selected">Select Network</option>
													<option value="Facebook">Facebook</option>
													<option value="Twitter">Twitter</option>
													<option value="LinkedIn">LinkedIn</option>
													<option value="Badoo">Badoo</option>
													<option value="Coach Surfing">Couch Surfing</option>
												</select>
												<input type="text" name="snUsername">
												<a href="#" class="another">+ Add Network</a>
											</div>
										</div>
									</div>
								</div><!-- EOF control-group -->
								<div id="" class="control-group">
									<label class="control-label" for="textarea"><label for="socialNetwork">Instant Message</label></label>
									<div class="controls">
										<div id="instantMessage-list">
											{{#each instantMessages}}
											<div id="im-{{@index}}">
												<select name="instantMessages" id="instantMessage-{{@index}}" class="span2">
													<option value="" selected="selected">Select IM</option>
													<option value="Skype" {{selected instantMessage 'Skype'}}>Skype</option>
													<option value="Whatsapp" {{selected instantMessage 'Whatsapp'}}>Whatsapp</option>
													<option value="Messenger" {{selected instantMessage 'Messenger'}}>Messenger</option>
												</select>
												<input type="text" name="imUsername" id="imUsername-{{@index}}" value="{{imUsername}}">
											</div>
											{{/each}}
											<div id="im-tpl">
												<select name="instantMessages" class="span2">
													<option value="" selected="selected">Select IM</option>
													<option value="Skype">Skype</option>
													<option value="Whatsapp">Whatsapp</option>
													<option value="Messenger">Messenger</option>
												</select>
												<input type="text" name="imUsername">
												<a href="#" class="another">+ Add Instant Message Service</a>
											</div>
										</div>
									</div>
								</div><!-- EOF control-group -->
							</div><!-- EOF box-content -->
							<div class="accordion-heading">
								<button id="save-profile-btn" type="submit" class="button2 yellow" data-loading-text="Saving...">Save changes</button>
								<button class="button2 cancel-edition-btn" data-rel="contact-box">Cancel</button>
							</div><!-- EOF box-footer -->
						</form>
				</div><!-- EOF box-standard -->