		<div class="box-standard maps">
			<form id="places-me-form">
				<div class="box-header">
					<h1 class="places-icon">Places</h1>
				</div>
				<div id="user-map"></div>
				<div class="box-content">
					<div class="control-group">
						<label class="places-current-icon">Hometown</label>
						<div id="hometown" class="controls">
							{{#with hometown}}
							<input id="hometownCity" name="hometown" type="text" data-provide="typeahead" class="hometown span5" value="{{name}}, {{region}}, {{country}}" autocomplete="off">
							<input name="hometown-city" type="hidden" value="{{name}}">
							<input name="hometown-region" type="hidden" value="{{region}}">
							<input name="hometown-country" type="hidden" value="{{country}}">
							<input name="hometown-lat" type="hidden" value="{{lat}}">
							<input name="hometown-lon" type="hidden" value="{{lon}}">
							{{/with}}
							<span class="help-block"></span>
						</div>
					</div><!-- EOF control-group -->
					<div class="control-group">
						<label class="places-home-icon">Current city</label>
						<div id="current" class="controls">
							{{#with current}}
							<input id="currentCity" name="current" type="text" data-provide="typeahead" class="hometown span5" value="{{name}}, {{region}}, {{country}}" autocomplete="off">
							<input name="current-city" type="hidden" value="{{name}}">
							<input name="current-region" type="hidden" value="{{region}}">
							<input name="current-country" type="hidden" value="{{country}}">
							<input name="current-lat" type="hidden" value="{{lat}}">
							<input name="current-lon" type="hidden" value="{{lon}}">
							{{/with}}
							<span class="help-block"></span>
						</div>
					</div><!-- EOF control-group -->
					<div id="otherLocations-group" class="control-group">
						<label class="places-lived-icon">Where I have lived</label>
						<div class="controls lived">
							<div id="otherLocations-list">
								{{#each otherLocations}}
								<div id="otherLocation-{{@index}}">
									<input name="otherLocations" id="otherLocation-{{@index}}" type="text" data-provide="typeahead" value="{{name}}, {{region}}, {{country}}" disabled class="span5" autocomplete="off">
									<input name="other-city" type="hidden" value="{{name}}">
									<input name="other-region" type="hidden" value="{{region}}">
									<input name="other-country" type="hidden" value="{{country}}">
									<input name="other-lat" type="hidden" value="{{lat}}">
									<input name="other-lon" type="hidden" value="{{lon}}">
								</div>
								{{/each}}
								<div id="otherLocation-tpl">
									<input name="otherLocations" type="text" data-provide="typeahead" class="span5" autocomplete="off">
									<input name="other-city" type="hidden">
									<input name="other-region" type="hidden">
									<input name="other-country" type="hidden">
									<input name="other-lat" type="hidden">
									<input name="other-lon" type="hidden">
								</div>
								<a href="#" class="another">+ Add another</a>
							</div><!-- EOF #otherLocations-list -->
						</div><!-- EOF controls -->
					</div><!-- EOF control-group -->
				</div>
				<div class="accordion-heading">
					<button id="save-profile-btn" type="submit" class="button2 yellow">Save changes</button>
					<button class="button2 cancel-edition-btn" data-rel="places-box">Cancel</button>
				</div>
			</form>
		</div><!-- EOF box-standard -->
