				<div class="box basic-info">
					<form id="basic-info-form">
						<div class="control-group">
							<label class="control-label" for="inputGender">I am</label>
							<div class="controls">
								<select id="inputGender" class="size-large">
									<option value="">---------</option>
									<option value="Male" {{selected gender 'Male'}}>Male</option>
									<option value="Female" {{selected gender 'Female'}}>Female</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputBirthday">Birthday</label>
							<div class="controls">
								<select id="id_birthday_month" name="birthMonth" class="size-large required">
									<option value="">Month</option>
									{{#each month}}
									<option value="{{indexPlusOne}}" {{selected ../birthMonth indexPlusOne}}>{{name}}</option>
									{{/each}}
								</select>
								<span class="help-block"></span>
								<select id="id_birthday_day" name="birthDay" class="size-small required">
									<option value="">Day</option>
									{{#range 1 31 1}}
									<option value="{{self}}" {{selected ../birthDay self}}>{{self}}</option>
									{{/range}}
								</select>
								<span class="help-block"></span>
								<select id="id_birthday_year" name="birthYear" class="size-medium required">
									<option value="">Year</option>
									{{#range 2006 1900 '-1'}}
									<option value="{{self}}" {{selected ../birthYear self}}>{{self}}</option>
									{{/range}}
								</select>
								<span class="help-block"></span>
								<span class="icon lock-icon"></span>
								<select name="showBirthday" class="size-large lock-info">
									<option value="F" {{selected showBirthday 'F'}}>Show full</option>
									<option value="P" {{selected showBirthday 'P'}}>Show mm/dd</option>
									<option value="N" {{selected showBirthday 'N'}}>Dont show</option>
								</select>
								<span class="help-block"></span>
							</div>
						</div>
						<div id="" class="control-group">
							<label class="control-label">Interested in</label>
							<div class="controls">
								<select name="interestedInM" class="size-large">
									<option value="Female" {{selected interestedInM.1.gender 'Female'}}>Female</option>
									<option value="Male" {{selected interestedInM.0.gender 'Male'}}>Male</option>
								</select>
								<span class="help-block"></span>
							</div>
						</div>
						<div id="" class="control-group">
							<label class="control-label" for="inputCivilState">Relationship status</label>
							<div class="controls">
								<select name="civilState" class="size-large">
									<option value="">---------</option>
									<option value="SI" {{selected civilState 'SI'}}>Single</option>
									<option value="EN" {{selected civilState 'EN'}}>Engaged</option>
									<option value="MA" {{selected civilState 'MA'}}>Married</option>
									<option value="WI" {{selected civilState 'WI'}}>Widowed</option>
									<option value="IR" {{selected civilState 'IR'}}>In a relationship</option>
									<option value="IO" {{selected civilState 'IO'}}>Open relationship</option>
									<option value="IC" {{selected civilState 'IC'}}>Its complicated</option>
									<option value="DI" {{selected civilState 'DI'}}>Divorced</option>
									<option value="SE" {{selected civilState 'SE'}}>Separated</option>
								</select>
								<span class="help-block"></span>
							</div>
						</div>
						<div id="" class="control-group">
							<label class="control-label" for="inputLanguage">Language</label>
							<div class="controls">
								<div id="languages-list">
									{{#each languages}}
									<div id="language-{{@index}}" class="separator">
										<select name="languages" id="language-field-{{@index}}" class="size-large">
											<option value="" selected="selected">Select Language</option>
											<option value="english" {{selected name 'english'}}>English</option>
											<option value="french" {{selected name 'french'}}>French</option>
											<option value="spanish" {{selected name 'spanish'}}>Spanish</option>
											<option value="catalan" {{selected name 'catalan'}}>Catalan</option>
											<option value="german" {{selected name 'german'}}>German</option>
											<option value="japanese" {{selected name 'japanese'}}>Japanese</option>
											<option value="armenian" {{selected name 'armenian'}}>Armenian</option>
											<option value="chinese" {{selected name 'chinese'}}>Chinese</option>
										</select>
										<select name="levels" id="level-field-{{@index}}" class="size-large">
											<option value="" selected="selected">Select Level</option>
											<option value="expert" {{selected level 'expert'}}>Expert</option>
											<option value="intermediate" {{selected level 'intermediate'}}>Intermediate</option>
											<option value="beginner" {{selected level 'beginner'}}>Beginner</option>
										</select>
									</div>
									{{/each}}
									<a href="#" class="another">+ Add Language</a>
<!-- 								<div id="language-tpl">
									<select name="languages" class="size-large">
										<option value="" selected="selected">Select Language</option>
										<option value="english">English</option>
										<option value="french">French</option>
										<option value="spanish">Spanish</option>
										<option value="catalan">Catalan</option>
										<option value="german">German</option>
										<option value="japanese">Japanese</option>
										<option value="armenian">Armenian</option>
										<option value="chinese">Chinese</option>
									</select>
									<select name="levels" class="size-large">
										<option value="" selected="selected">Select Level</option>
										<option value="expert">Expert</option>
										<option value="intermediate">Intermediate</option>
										<option value="beginner">Beginner</option>
									</select>
								</div> -->
							</div>
						</div>
					</div><!-- EOF control-group -->
				</div><!-- EOF basic-info -->
				{{#if myProfile}}
				<div class="basic-info-footer">
					<button id="save-profile-btn" type="submit" class="button2 yellow">Save changes</button>
					<button class="button2 cancel-edition-btn">Cancel</button>
				</div>
				{{/if}}
			</form>
		</div><!-- EOF box basic-info -->