					
					<form id="accomodation-form-{{id}}" data-rel="{{id}}">
						<div class="box-header">
							<h1 class="house-icon">Accommodation Wing</h1>
						</div>
						<div class="box-content wings-info">
							<div class="control-group lined">
								<label class="control-label" for="inputName">Wing name</label>
								<div class="controls">
									<input type="text" value="{{name}}" id="inputName" name="name" placeholder="Some name" class="size-extralarge required">
								</div>
							</div>
							<div class="control-group lined">
								<label class="control-label" for="inputStatus">Wing status</label>
								<div class="controls">
									<select name="status" id="wingStatus" class="size-medium">
										<option value="Y" {{selected status 'Y'}}>Yes</option>
										<option value="N" {{selected status 'N'}}>No</option>
										<option value="M" {{selected status 'M'}}>Maybe</option>
									</select>
								</div>
							</div>
							<div class="control-group lined">
								<label class="control-label" for="inputSharingOnce">Are you sharing one time?</label>
								<div class="controls">
									<label class="checkbox">
										<input type="checkbox" name="sharingOnce" id="inputSharingOnce" {{checked sharingOnce true}}>
									</label>
									<span class="help-inline"></span>
								</div>
							</div>
							<div id="sharing-dates"class="control-group">
								<div class="controls">
									<input type="text" name="dateStart" class="input-sdate" placeholder="Start date" value="{{dateStart}}">
									<input type="text" name="dateEnd" class="input-edate" placeholder="End date" value="{{dateEnd}}">
								</div>
							</div>
							<div class="control-group blocked">
								<label class="control-label" for="inputNewEmail">Best days to host</label>
								<div class="controls">
									<select name="bestDays" id="inputBestDays" class="size-large">
										<option value="A" {{selected bestDays 'A'}}>Any</option>
										<option value="F" {{selected bestDays 'F'}}>From Monday to Friday</option>
										<option value="T" {{selected bestDays 'T'}}>From Monday to Thursday</option>
										<option value="W" {{selected bestDays 'W'}}>Weekend</option>
									</select>
								</div>
							</div>
							<div class="control-group blocked">
								<label class="control-label" for="inputCapacity">Capacity</label>
								<div class="controls">
									<select name="capacity" class="size-small">
										<option value="1" {{selected capacity '1'}}>1</option>
										<option value="2" {{selected capacity '2'}}>2</option>
										<option value="3" {{selected capacity '3'}}>3</option>
										<option value="4" {{selected capacity '4'}}>4</option>
										<option value="5" {{selected capacity '5'}}>5</option>
										<option value="6" {{selected capacity '6'}}>6</option>
										<option value="7" {{selected capacity '7'}}>7</option>
										<option value="8" {{selected capacity '8'}}>8</option>
										<option value="9" {{selected capacity '9'}}>9</option>
										<option value="m" {{selected capacity 'm'}}>+9</option>
									</select>
								</div>
							</div>
							<!-- HELLO SERGI, there are changes :  interested in male female now is a select -->

<!-- 							<div class="control-group">
								<label class="control-label" for="inputGender">Preferred gender</label>
								<div class="controls">
									<label class="checkbox inline">
										<input type="checkbox" name="preferredMale" id="inlineCheckbox1"> Male
									</label>
									<label class="checkbox inline">
										<input type="checkbox" name="preferredFemale" id="inlineCheckbox2"> Female
									</label>
									<span class="help-inline"></span>
								</div>
							</div> -->
							<div class="control-group blocked no-margin">
								<label class="control-label" for="inputGender">Prefered gender</label>
								<div class="controls">
									<select name="preferredGender" class="size-medium">
										<option value="Male" {{selected preferredGender 'Male'}}>Male</option>
										<option value="Female" {{selected preferredGender 'Female'}}>Female</option>
										<option value="Both" {{selected preferredGender 'Both'}}>Both</option>
									</select>
									<span class="help-block"></span>
								</div>
							</div>
							<div class="control-group blocked">
								<label class="control-label" for="inputNewEmail">Sleeping arrangements</label>
								<div class="controls">
									<select name="whereSleepingType" id="whereSleepingType" class="size-large">
										<option value="C" {{selected whereSleepingType 'C'}}>Common area</option>
										<option value="P" {{selected whereSleepingType 'P'}}>Private area</option>
										<option value="S" {{selected whereSleepingType 'S'}}>Shared private area</option>
									</select>
								</div>
							</div>
							<div class="control-group blocked">
								<label class="control-label" for="inputNewEmail">Smoking</label>
								<div class="controls">
									<select name="smoking" id="smoking" class="size-large">
										<option value="N" {{selected smoking 'N'}}>No smoking allowed</option>
										<option value="S" {{selected smoking 'S'}}>I smoke</option>
										<option value="D" {{selected smoking 'D'}}>I don't smoke but guests can smoke here</option>
									</select>
								</div>
							</div>
							<div class="control-group">
								<div class="controls check">
									<label class="checkbox">
										<input type="checkbox" name="wheelchair" id="inlineCheckbox1" {{checked wheelchair true}}>Wheelchair accessible
									</label>
									<span class="help-block"></span>
								</div>
							</div>
							<div class="control-group">
								<div class="controls check">
									<label class="checkbox">
										<input type="checkbox" name="iHavePet" id="inlineCheckbox1" {{checked iHavePet true}}>I have pet
									</label>
									<span class="help-block"></span>
								</div>
							</div>
							<div class="control-group">
								<div class="controls check">
									<label class="checkbox">
										<input type="checkbox" name="petsAllowed" id="inlineCheckbox2" {{checked petsAllowed true}}>Guests pets allowed
									</label>
									<span class="help-block"></span>
								</div>
							</div>
							<div class="control-group">
								<div class="controls check">
									<label class="checkbox">
										<input type="checkbox" name="blankets" id="inputBlankets" {{checked blankeys true}}>I have blankets
									</label>
									<span class="help-block"></span>
								</div>
							</div>
							<div class="control-group">
								<div class="controls check">
									<label class="checkbox">
										<input type="checkbox" name="liveCenter" id="inputLiveCenter" {{checked liveCenter true}}>I live in the center
									</label>
									<span class="help-block"></span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputPets">Transports</label>
								<div class="controls">
									<label class="checkbox">
										<input type="checkbox" name="underground" id="checkboxMetro" {{checked underground true}}>Metro
									</label>
									<label class="checkbox">
										<input type="checkbox" name="bus" id="checkboxBus" {{checked bus true}}>Bus
									</label>
									<label class="checkbox">
										<input type="checkbox" name="tram" id="checkboxTram" {{checked tram true}}>Tram
									</label>
									<label class="checkbox">
										<input type="checkbox" name="train" id="checkboxTrain" {{checked train true}}>Train
									</label>
									<label class="checkbox">
										<input type="checkbox" name="others" id="checkboxOthers" {{checked others true}}>Others
									</label>
									<span class="help-inline"></span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputAbout">About your accomodation</label>
								<div class="controls">
									<textarea class="span4" name="about" id="inputAbout" placeholder="Texto de ayuda">{{about}}</textarea>
									<span class="help-block"></span>
								</div>
							</div>
						</div><!-- EOF box-content -->
						<div class="box-header">
							<h1 class="contact-icon">Listing location</h1>
						</div>
						<div class="guest-message">
							<h2 class="lock-icon">Shown only to Confirmed Guests</h2>
							<p>To protect your privacy, we hide your address, phone number, and contact information from users that have not confirmed a reservation with you</p>
						</div><!-- EOF guest-message -->
						<div class="listing-location">
							<div class="control-group blocked">
								<label class="control-label lock-icon" for="inputAddress">Street address</label>
								<div class="controls">
									<input type="text" name="address" id="inputAddress" class="required" value="{{address}}">
									<span class="help-block"></span>
								</div>
							</div>
							<div class="control-group blocked">
								<label class="control-label lock-icon" for="inputNumber">Number</label>
								<div class="controls">
									<input type="text" name="number" id="inputNumber" value="{{number}}" class="input-mini required">
									<span class="help-block"></span>
								</div>
							</div>
							<div class="control-group blocked">
								<label class="control-label lock-icon" for="inputAddress">Additional Information</label>
								<div class="controls">
									<input type="text" name="additionalInformation" id="inputAdditionalInfo" class="size-box-standard" value="{{additionalInformation}}">
									<span class="help-block"></span>
								</div>
							</div>
							<div class="control-group blocked">
								<label class="control-label lock-icon" for="inputCity">City</label>
								<div class="controls">
									{{#with city}}
									<input type="text" name="city" id="inputCity" class="required" value="{{name}}, {{region}}, {{country}}">
									<span class="help-block"></span>
									{{/with}}
								</div>
							</div>
							<div class="control-group blocked">
								<label class="control-label lock-icon" for="inputCode">Postal</label>
								<div class="controls">
									<input type="text" name="postalCode" id="inputPostalCode" class="input-mini required" value="{{postalCode}}">
									<span class="help-block"></span>
								</div>
							</div>
						</div><!-- EOF listing-location -->
						<div class="accordion-heading">
							<button type="submit" class="button2 yellow save-wing-btn" data-loading-text="Saving...">Save changes</button>
							<button class="button2 cancel-wing-btn" wing-id="{{id}}">Cancel</button>
						</div><!-- EOF box-footer -->
					</form>