<div class="container">
	<div class="landscape">
		<div class="tabs">
			<ul class="nav nav-tabs">
				<li><a href="#about" data-toggle="tab">Profile</a></li>
				<li><a href="#wings" data-toggle="tab">Wings</a></li>
				<li class="active"><a href="#edit-wings" data-toggle="tab">Edit</a></li>
			</ul>
		</div>
		<div class="personal-info">
			<div class="content-top">
				<h1 id="user-name-label" class="name">
					<a href="#/profiles/{{id}}/about">{{firstName}} {{lastName}}</a>
				</h1>
				<span class="age">[{{age}}]</span>
				<span class="online">
					{{#if lastLoginDate}}
					{{lastLoginDate}}
					{{/if}}
				</span>
				<h2 class="home-town">
					{{#if hometown.name}}
					{{hometown.name}}, {{hometown.country}}
					{{/if}}
				</h2>
				<h3 class="current-location">Now in KCK, Western Wyandotte</h3>
			</div>
			{{#if myProfile}}
			<div class="button-bar">
				<ul>
					<li><button class="send-message-btn">Button test</button></li>
				</ul>
			</div>
			{{else}}
			<div class="button-bar">
				<ul>
					<li><button class="send-message-btn">Message</button></li>
					<li><button class="send-request-btn selected">Request</button></li>
					<li><button class="send-invitation-btn">Invite</button></li>
				</ul>
			</div>
			{{/if}}
		</div>
	</div>
	<div class="content-left">
		<div class="profile-column">
			<div class="avatar">
				<img id="avatar" src="{{ avatar }}" alt="avatar">
			</div>
			<div class="info">
				{{#if myProfile}}
				<button class="button1 edit-profile">
					<p class="edit-icon">Edit profile</p>
				</button>
				{{else}}
				<button class="button1 add-friend">
					<p class="add-friend-icon">Add friend</p>
				</button>
				{{/if}}
			</div>
			<div class="box rate-box">
				<p class="rate-info font-rate">Reply rate</p>
				<span class="rate-results">{{replyRate}}%</span>
				<p class="rate-info font-rate">Reply time</p>
				<span class="rate-results">{{replyTime}}</span>
			</div>
			<div class="box basic-info">
				<h1>Basic info</h1>
				<h2>Gender</h2>
				<p>{{gender}}</p>
				{{#if birthday}}
				<h2>Birthday</h2>
				<p>{{birthday}}</p>
				{{/if}}
				{{#if interestedIn.length}}
				<h2>Interesed in</h2>
				<p>{{gender}}</p>
				{{/if}}
				{{#if civilState}}
				<h2>Relationship status</h2>
				<p>{{civilState}}</p>
				{{/if}}
				{{#if languages.length}}
				<h2>Languages</h2>
				<ul>
					{{#each languages}}
					<li>{{name}} ({{level}})</li>
					{{/each}}
				</ul>
				{{/if}}
			</div>
		</div>
	</div>
	<div class="tab-content">

		<div class="content-right tab-pane" id="about">
			<div class="about-column">
				<div class="box-info">
					<div class="content-top">
						<div class="header-box">
							<h1 class="head about-icon">About me</h1>
							{{#if myProfile}}
							<button class="button2"><span class="edit-icon">Edit</span></button>
							{{/if}}
						</div>
						<div class="content-center">
							{{#if allAboutYou}}
							<h2>Description</h2>
							<p>{{allAboutYou}}</p>
							{{/if}}
							{{#if mainMission}}
							<h2>Current mission</h2>
							<p>{{mainMission}}</p>
							{{/if}}
							{{#if occupation}}
							<h2>Occupation</h2>
							<p>{{occupation}}</p>
							{{/if}}
							{{#if company}}
							<h2>Company</h2>
							<p>{{company}}</p>
							{{/if}}
							{{#if education.size}}
							<h2>Education</h2>
							<p>
								{{#each education}}
								{{degree}} at {{insitution}}
								{{/each}}
							</p>
							{{/if}}
							{{#if personalPhilosophy}}
							<h2>Personal philosophy</h2>
							<p>{{personalPhilosophy}}</p>
							{{/if}}
							{{#if politicalOpinion}}
							<h2>Political views</h2>
							<p>{{politicalOpinion}}</p>
							{{/if}}
							{{#if religion}}
							<h2>Religion</h2>
							<p>{{religion}}</p>
							{{/if}}
						</div>
					</div>
					<div class="gradient-box"></div>
					<div class="content-footer">
						<div class="see-more">
							<p>
								<span class="more-about">more about</span>
								<p>See all content</p>
								<span class="more-about">more about</span>
							</p>
						</div>
						{{#if myProfile}}
						<button class="button2 yellow">Save changes</button>
						{{/if}}
					</div>
				</div>
			</div>
			<div class="like-column">
				<div class="box-info">
					<div class="content-top">
						<div class="header-box">
							<h1 class="head likes-icon">Likes</h1>
							{{#if myProfile}}
							<button class="button2"><span class="edit-icon">Edit</span></button>
							{{/if}}
						</div>
						<div class="content-center">
							{{#if enjoyPeople}}
							<h2>People I enjoy</h2>
							<p>{{enjoyPeople}}</p>
							{{/if}}
							{{#if movies}}
							<h2>Movies, series, books, ...</h2>
							<p>{{movies}}</p>
							{{/if}}
							{{#if otherPages}}
							<h2>Web, Apps</h2>
							<p>{{otherPages}}</p>
							{{/if}}
							{{#if sharing}}
							<h2>Show, learn, share</h2>
							<p>{{sharing}}</p>
							{{/if}}
							{{#if incredible}}
							<h2>Amazing things done/seen</h2>
							<p>{{incredible}}</p>
							{{/if}}
							{{#if inspiredBy}}
							<h2>People who inspires you</h2>
							<p>{{inspiredBy}}</p>
							{{/if}}
							{{#if quotes}}
							<h2>Favourite quotes</h2>
							<p>{{quotes}}</p>
							{{/if}}
							{{#if pwOpinion}}
							<h2>Opinion about Peoplewings</h2>
							<p>{{pwOpinion}}</p>
							{{/if}}
						</div>
					</div>
					<div class="gradient-box"></div>
					<div class="content-footer">
						<div class="see-more">
							<p>
								<span class="more-about">more about</span>
								<p>See all content</p>
								<span class="more-about">more about</span>
							</p>
						</div>
						{{#if myProfile}}
						<button class="button2 yellow">Save changes</button>
						{{/if}}
					</div>
				</div>
			</div>
		</div>

		<div class="content-right tab-pane" id="wings">
			<div class="about-column">
				<div class="box-info">
					<div class="content-top">
						<div class="header-box">
							<h1 class="head house-icon">Loft en la Puerta del Sol, Madrid</h1>
	<!-- 					HELLO SERGI !
						{{#if myProfile}}
							<button class="button2"><span class="edit-icon">Edit</span></button>
							{{/if}} -->
							<button class="button2"><span class="edit-icon">Edit</span></button> <!-- ELIMINAR ESTE BOTÓN -->
						</div>
						<div class="content-center wings1">
							<h2>Wings status</h2>
							<p>Yes</p>
							<h2>Are you sharing for one time</h2>
							<p>11/01/2012 to 02/02/2013</p>
							<h2>Better days to host</h2>
							<p>Any</p>
							<h2>Capacity</h2>
							<p>1 person</p>
							<h2>Preferred gender</h2>
							<p>Any</p>
							<h2>Wheelchair accessible</h2>
							<p>Yes</p>
							<h2>Sleeping arrangements</h2>
							<p>Common area</p>
							<h2>Smoking</h2>
							<p>No smoking allowed</p>
							<h2>Pets</h2>
							<p>I have pet and guests pets allowed</p>
							<h2>I have blankets</h2>
							<p>Yes</p>
							<h2>I live in the city center</h2>
							<p>Yes</p>
							<h2>Public transport</h2>
							<p>Underground, bus, tram, train, others</p>
							<h2 class="something">About your accommodation</h2>
							<p>I live in Barcelona, Passeig de Gracia cross Catalunya square just in the city center. 30 minuts from airport by Bus directly. I can offer you to square just in the city center. 30 minuts from airport by Bus directly. I can offer you to sleep on my 2 beds and 1 couch. I have no pets and I don't square just in the city center. 30 minuts from airport by Bus smoke.sleep on my 2 beds and 1 couch. I have no pets and I don't square just in the city center. 30 minuts from airport by Bus smoke.</p>
						</div>
					</div>
					<div class="gradient-box"></div>
					<div class="content-footer">
						<div class="see-more">
							<p>
								<span class="more-about">more about</span>
								<p>See all content</p>
								<span class="more-about">more about</span>
							</p>
						</div>
	<!-- 					HELLO SERGI !
						{{#if myProfile}}
							<button class="button2 yellow">Save changes</button>
							{{/if}} -->
							<button class="button2 yellow">Save changes</button>
						</div>
					</div>
				</div>

				<div class="like-column">
					<div class="box-info">
						<div class="content-top">
							<div class="header-box">
								<h1 class="head house-icon">Loft en la Puerta del Sol, Madrid</h1>
		<!-- 					HELLO SERGI !
							{{#if myProfile}}
								<button class="button2"><span class="edit-icon">Edit</span></button>
								{{/if}} -->
								<button class="button2"><span class="edit-icon">Edit</span></button> <!-- ELIMINAR ESTE BOTÓN -->
							</div>
							<div class="content-center wings1">
								<h2>Wings status</h2>
								<p>Yes</p>
								<h2>Are you sharing for one time</h2>
								<p>11/01/2012 to 02/02/2013</p>
								<h2>Better days to host</h2>
								<p>Any</p>
								<h2>Capacity</h2>
								<p>1 person</p>
								<h2>Preferred gender</h2>
								<p>Any</p>
								<h2>Wheelchair accessible</h2>
								<p>Yes</p>
								<h2>Sleeping arrangements</h2>
								<p>Common area</p>
								<h2>Smoking</h2>
								<p>No smoking allowed</p>
								<h2>Pets</h2>
								<p>I have pet and guests pets allowed</p>
								<h2>I have blankets</h2>
								<p>Yes</p>
								<h2>I live in the city center</h2>
								<p>Yes</p>
								<h2>Public transport</h2>
								<p>Underground, bus, tram, train, others</p>
								<h2 class="something">About your accommodation</h2>
								<p>I live in Barcelona, Passeig de Gracia cross Catalunya square just in the city center. 30 minuts from airport by Bus directly. I can offer you to square just in the city center. 30 minuts from airport by Bus directly. I can offer you to sleep on my 2 beds and 1 couch. I have no pets and I don't square just in the city center. 30 minuts from airport by Bus smoke.sleep on my 2 beds and 1 couch. I have no pets and I don't square just in the city center. 30 minuts from airport by Bus smoke.</p>
							</div>
						</div>
						<div class="gradient-box"></div>
						<div class="content-footer">
							<div class="see-more">
								<p>
									<span class="more-about">more about</span>
									<p>See all content</p>
									<span class="more-about">more about</span>
								</p>
							</div>
		<!-- 					HELLO SERGI !
							{{#if myProfile}}
								<button class="button2 yellow">Save changes</button>
								{{/if}} -->
								<button class="button2 yellow">Save changes</button>
							</div>
						</div>
					</div>
				</div>

				<div class="content-right tab-pane active" id="edit-wings">
					<div class="about-column">
						<div class="box-info">
							<div class="content-top">
								<div class="header-box">
									<h1 class="head house-icon">About me</h1>
	<!-- 					HELLO SERGI !
						{{#if myProfile}}
							<button class="button2"><span class="edit-icon">Edit</span></button>
							{{/if}} -->
							<button class="button2"><span class="edit-icon">Edit</span></button> <!-- ELIMINAR ESTE BOTÓN -->
						</div>
						<div class="content-center">
							<form id="about-me-form">
								<div id="" class="control-group">
									<label class="control-label" for="textarea"><label for="inputAllAboutYou">All about you</label></label>
									<div class="controls">
										<textarea name="allAboutYou" rows="5" class="span6" placeholder="A description about you, can be anything">{{allAboutYou}}</textarea>
										<span class="help-block"></span>
										<span class="help-inline"></span>
									</div>
								</div>
								<div id="" class="control-group">
									<label class="control-label" for="textarea"><label for="inputMainMission">Current mission</label></label>
									<div class="controls">
										<textarea name="mainMission" rows="5" class="span6" placeholder="What is your current mission objective. Be creative, imaginative, wacky if you need to be">{{mainMission}}</textarea>
										<span class="help-block"></span>
										<span class="help-inline"></span>
									</div>
								</div>
								<div id="" class="control-group">
									<label class="control-label" for="textarea"><label for="inputCompany">Company</label></label>
									<div class="controls">
										<input name="company" type="text" value="{{company}}" maxlength="20" placeholder="Where have you worked?" id="id_form-0-company" size="20">
										<span class="help-block"></span>
										<span class="help-inline"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="content-footer">
							<div class="see-more">
								<p>
									<span class="more-about">more about</span>
									<p>See all content</p>
									<span class="more-about">more about</span>
								</p>
							</div>
	<!-- 					HELLO SERGI !
						{{#if myProfile}}
							<button class="button2 yellow">Save changes</button>
							{{/if}} -->
							<button id="save-profile-btn" type="submit" class="button2 yellow">Save changes</button>
						</div>
					</form>
				</div>
			</div>


			<div class="like-column">
				<div class="box-info">
					<div class="content-top">
						<div class="header-box">
							<h1 class="head house-icon">Something</h1>
		<!-- 					HELLO SERGI !
							{{#if myProfile}}
								<button class="button2"><span class="edit-icon">Edit</span></button>
								{{/if}} -->
								<button class="button2"><span class="edit-icon">Edit</span></button> <!-- ELIMINAR ESTE BOTÓN -->
							</div>
							<div class="content-center">
								{{#if allAboutYou}}
								<h2>Description</h2>
								<p>{{allAboutYou}}</p>
								{{/if}}
								{{#if mainMission}}
								<h2>Current mission</h2>s
								<p>{{mainMission}}</p>
								{{/if}}
								{{#if occupation}}
								<h2>Occupation</h2>
								<p>{{occupation}}</p>
								{{/if}}
								{{#if company}}
								<h2>Company</h2>
								<p>{{company}}</p>
								{{/if}}
								{{#if education.size}}
								<h2>Education</h2>
								<p>
									{{#each education}}
									{{degree}} at {{insitution}}
									{{/each}}
								</p>
								{{/if}}
								{{#if personalPhilosophy}}
								<h2>Personal philosophy</h2>
								<p>{{personalPhilosophy}}</p>
								{{/if}}
								{{#if politicalOpinion}}
								<h2>Political views</h2>
								<p>{{politicalOpinion}}</p>
								{{/if}}
								{{#if religion}}
								<h2>Religion</h2>
								<p>{{religion}}</p>
								{{/if}}
							</div>
						</div>
						<div class="gradient-box"></div>
						<div class="content-footer">
							<div class="see-more">
								<p>
									<span class="more-about">more about</span>
									<p>See all content</p>
									<span class="more-about">more about</span>
								</p>
							</div>
		<!-- 					HELLO SERGI !
							{{#if myProfile}}
								<button class="button2 yellow">Save changes</button>
								{{/if}} -->
								<button class="button2 yellow">Save changes</button>
							</div>
						</div>
					</div>
				</div>

				<div class="box-info maps">
					<h1 class="head places-icon">Places</h1>
					<div id="user-map"></div>
					<div class="maps-footer">
						<ul>
							<li><a href="#" class="places-current-icon">Where I live</a></li>
							<li><a href="#" class="places-lived-icon">Where I have lived</a></li>
							<li><a href="#" class="places-home-icon">Where I am</a></li>
						</ul>
					</div>
				</div> <!-- EOF map -->
			</div> <!-- EOF tab-content -->
		</div> <!-- EOF container -->
