				<div class="avatar">
					<img id="avatar" src="{{avatar}}" alt="avatar">
				</div>
				<div class="info">
					<button class="button1" id="add-wing-btn">Add wing</button>
				</div>
				<div class="box basic-info">
					<form id="wings-status-form">
						<div class="control-group">
							<label class="control-label" for="generalStatus">General status</label>
							<div class="controls">
								<select name="generalStatus" class="size-large">
									<option value="">--------</option>
									<option value="W" {{selected generalStatus 'W'}}>By Wing</option>
									<option value="Y" {{selected generalStatus 'Y'}}>Yes</option>
									<option value="N" {{selected generalStatus 'N'}}>No</option>
									<option value="M" {{selected generalStatus 'M'}}>Maybe</option>
									<option value="T" {{selected generalStatus 'T'}}>Travelling</option>
									<option value="C" {{selected generalStatus 'C'}}>Cofee or drink</option>
								</select>
							</div>
						</div>
					</form>
					<div id="my-wings" class="control-group">
						<label class="control-label" for="generalStatus">My wings</label>
						<div class="controls">
							<select name="wingsList" id="wings-list" class="size-large">
								<!-- {{#if wings.length}} -->
								<option value="">Select wing</option>
								<!-- {{#each wings}} -->
								<option value="{{uri}}">{{name}} (Accomodation)</option>
								<!-- {{/each}} -->
								<!-- {{else}} -->
								<option value="">No created wings</option>
								<!-- {{/if}} -->
							</select>
						</div>
						<span class="help-block"></span>
					</div>
				</div>
			</div><!-- EOF box basic-info -->