<div class="box-standard maps">
	<div class="box-header">
		<h1 class="places-icon">Places</h1>
		{{#if myProfile}}
		<button id="edit-places-btn" class="button2 edit-box-btn" data-rel="places-box"><span class="edit-icon">Edit</span></button>
		{{/if}}		
	</div>
	<div id="user-map"></div>
	<div class="maps-legend">
		<ul>
			<li><a href="#" class="places-current-icon">Where I live</a></li>
			<li><a href="#" class="places-lived-icon">Where I have lived</a></li>
			<li><a href="#" class="places-home-icon">Where I am</a></li>
		</ul>
	</div>
</div><!-- box-standard maps -->