<form id="settings-form">
	<div class="form-wrapper">
		<span class="signal">account signal</span>
		<legend>Account settings</legend>
		<div class="control-group clear">
			<label class="control-label" for="inputName">Name</label>
			<div class="controls">
				<input type="text" id="firstName" name="firstName" placeholder="First Name" class="input-small required" value="{{firstName}}">
				<input type="text" id="lastName" name="lastName" placeholder="Last Name" class="input-small required" value="{{lastName}}">
				<span class="help-block"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Current email</label>
			<div class="controls">
				<h1>{{email}}</h1>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Change email</label>
			<div class="controls">
				<input type="email" name="email" id="inputEmail" placeholder="You new email address" class="input-margin">
				<span class="help-block"></span>
				<input type="email" name="repeatEmail" id="repeatEmail" placeholder="Rewrite your email address" class="">
				<span class="help-block"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Change your password</label>
			<div class="controls">
				<input type="password" name="password" id="pass" placeholder="You new password" class="input-margin password-line">
				<span class="help-block"></span>
				<input type="password" name="repeatPassword" id="pass2" placeholder="Rewrite your new password" class="password-line">
				<span class="help-block"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label"for="inputDelete">Delete entire account</label>
			<div class="controls terms">
				<p>If you want to delete your account and all services and info associated witht it, click <a href="#/settings/delete">here</a></p>
			</div>
		</div>
	</div>
	<div class="control-group confirm-changes">
		<p>To save these settings, please enter your PEOPLEWINGS password</p>
		<label class="control-label"for="inputPassWrite">Current password</label>
		<div class="controls">
			<input type="password" id="inputPasword" name="current_password" class="required password-line">
			<span class="help-block"></span>
		</div>
	</div><!-- EOF control-group terms -->

	<div class="footer-content">
		<div class="buttons-group">
			<button type="submit" id="save-settings-btn" class="button1 yellow" data-loading-text="Saving...">Save</button>
			<button type="button" id="cancel-settings-btn" class="button1">Cancel</button>
		</div>
	</div>
</form>