<div class="searchbar">
	<div id="search">
		<input type="text" id="search-query" class="size-extralarge"><!--
	--><button id="search-btn" class="button1"><span class="icon-search"></span></button>
</div>
</div>

<div class="messages-header">
	<div class="messages-tabs">
		<ul id="notification-type">
			<li class="button selected" data-filter="">All</li>
			<li class="button" data-filter="reqinv">Request & Invitations</li>
			<li class="button" data-filter="msg">Messages</li>
		</ul>
	</div>

	<div class="button-bar">
		<ul>
			<li><button class="button1 send-message-btn">MESSAGE</button></li>
			<li><button class="button1 send-request-btn selected">REQUEST</button></li>
			<li><button class="button1 send-invitation-btn">INVITE</button></li>
		</ul>
	</div><!-- EOF button-bar -->
</div><!-- EOF thread-header -->

<div class="messages-msg">
	<div class="floatality">
		<a id="back" class="button-back">
			<i class="icon-back">Back</i>
		</a>
		<button id="delete-thread" class="button-delete" value="Delete">Delete</button>
		<div class="messages-pager">
			<!--<div class="resultCounter">
				<span>1</span>
				<span>10</span>
				<span>50</span>
			</div>-->
			<div class="button-group">
				<a class="button-pager-previous" id="previous" data-id="{{previous}}" {{#unless previous}}disabled{{/unless}}>
					<i class="icon-pager-previous">button previous</i>
				</a>
				<a class="button-pager-next" id="next" data-id="{{next}}" {{#unless next}}disabled{{/unless}}>
					<i class="icon-pager-next">button next</i>
				</a>
			</div>
		</div>
	</div>
	<ul id="notif-list">
		{{{items}}}
		<li class="thread-item">
			<div class="message-arrow">
				<span class="msg-arrow">message arrow</span>
			</div>
			<div class="response-item">
				<div class="messages-avatar">
					<!-- <span class="{{#if senderOnline}}online{{/if}}">{{senderOnline}}</span> -->
					<img src="{{me.avatar}}">
				</div>
				<div id="response-options">
					{{#if isMessage}}
					<span>Click to</span>
					<span id="response-reply">Reply</span>
					{{else}}
					<span>Click to</span>

					{{#each options}}
					<span class="response-option option-{{self}}">
						{{self}}</span>{{#unless last }}{{#if secondLast}} or {{else}}, {{/if}}{{/unless}}
						{{/each}}
						{{/if}}
					</div>
					<div id="write-response" style="display: none">
						<div class="response-wrapper">
							{{#unless isMessage}}
							<div class="state-flag {{#if iStarted }}from-me{{else}}to-me{{/if}} {{enum state 'notification-state'}}" style="display: none">
								<span>{{enum state 'notification-state'}}</span>
							</div>
							<div class="messages-params-box" style="display: none;">
								<dl>
									<dt>Requested wing :</dt>
									<dd {{#if_contains parameters.modified "wingName"}}class="modified"{{/if_contains}}>{{parameters.wingName}} <span>({{type}} in {{parameters.wingCity}})</span></dd>
								</dl>
								<dl>
									<dt>Arrival date :</dt>
									<dd {{#if_contains parameters.modified "startDate"}}class="modified"{{/if_contains}}>{{date parameters.startDate}}</dd>
								</dl>
								<dl>
									<dt>Deperture date :</dt>
									<dd {{#if_contains parameters.modified "endDate"}}class="modified"{{/if_contains}}>{{date parameters.endDate}}</dd>
								</dl>
								<dl>
									<dt>Number of surfers :</dt>
									<dd {{#if_contains parameters.modified "capacity"}}class="modified"{{/if_contains}}>{{parameters.capacity}}</dd>
								</dl>
								<dl>
									<dt>Arriving via :</dt>
									<dd>{{parameters.arrivingVia}}</dd>
								</dl>
							</div>
							<div id="edit-wing-params" style="display: none">
								<form id="wing-params-form">
									<div class="response-header">
										<div class="response-header-dates">
											<span>{{type}} in {{parameters.wingCity}}{{parameters.wingName}}</span>
											<input type="text" name="startDate" class="input-sdate" placeholder="Start date" value="{{date parameters.startDate 'YYYY-MM-DD'}}">
											<input type="text" name="endDate" class="input-edate" placeholder="End date" value="{{date parameters.endDate 'YYYY-MM-DD'}}">
											<select name="capacity" class="input-mini required">
												{{#range 9}}
												<option value="{{indexPlusOne}}" {{selected capacity indexPlusOne}}>{{indexPlusOne}}</option>
												{{/range}}
												<option value="+9" {{selected capacity '+9'}}>+9</option>
											</select>
											<span class="help-block"></span>
										</div><!-- EOF response-header-dates -->
									</div><!-- EOF response-header -->
								</form>
							</div>
							{{/unless}}
							<textarea placeholder="Write your message"></textarea>
						</div><!-- EOF response-wrapper -->
						<div class="button-group">
							<button id="cancel-response" class="button">Close</button>
							<button id="send-response" class="button-highlight"data-loading-text="Sending...">Send</button>
						</div>
					</div><!-- EOF write-response -->
				</div><!-- EOF response-item-1 -->
			</li>
		</ul>
	</div><!-- EOF message-msg -->
