<div class="searchbar">
	<div id="search">
		<input type="text" id="search-query" class="size-extralarge"><!--
	--><button id="search-btn" class="button1"><span class="icon-search"></span></button>
</div>
</div>

<div class="messages-header">
	<div class="messages-tabs">
		<ul id="notification-type">
			<li class="button selected" data-filter="">All</li>
			<li class="button" data-filter="reqinv">Request & Invitations</li>
			<li class="button" data-filter="msg">Messages</li>
		</ul>
	</div>

	<div class="button-bar">
		<ul>
			<li><button class="button1 send-message-btn">MESSAGE</button></li>
			<li><button class="button1 send-request-btn selected">REQUEST</button></li>
			<li><button class="button1 send-invitation-btn">INVITE</button></li>
		</ul>
	</div><!-- EOF button-bar -->
</div><!-- EOF messages-header -->

<div class="message-msg">
	<div class="something">
		<button id="back"><span class="icon-back">Back</span></button>
		<input type="button" id="previous" value="<" data-id="{{previous}}" {{#unless previous}}disabled{{/unless}}>
		<input type="button" id="next" value=">" data-id="{{next}}" {{#unless next}}disabled{{/unless}}>
		<input type="button" id="delete-thread" value="Delete" class="pull-right">
		<div class="messages-pager">
			<ul id="notifications-pager" class="pager pull-right">
				<li>
					<div class="resultCounter">
						<span>{{startResult}}</span>
						<span>{{endResult}}</span>
						<span>{{totalCount}}</span>
					</div>
				</li>
				<li class="icon">
					<a href="#" class="previousPage">previous page</a>
				</li>
				<li class="icon">
					<a href="#" class="nextPage">next page</a>
				</li>
			</ul>
		</div>
	</div>

	<ul id="notif-list" class="unstyled">
		{{{items}}}

		<li class="row">
			<img class="span1" src="{{me.avatar}}">
			<div class="span11">
				<div id="response-options">
					{{#if isMessage}}
					Click to <span id="response-reply">Reply</span>
					{{else}}
					Click to

					{{#each options }}
					<span class="response-option option-{{self}}">
						{{self}}</span>{{#unless last }}{{#if secondLast }} or {{else}}, {{/if}}{{/unless}}
						{{/each}}
						{{/if}}
					</div>
					<div id="write-response" style="display: none">
						{{#unless isMessage }}
						<div class="state-flag
						{{#if iStarted }}from-me{{else}}to-me{{/if}}
						{{enum state 'notification-state'}}" style="display: none">
						<span>
							{{enum state 'notification-state'}}
						</span>
					</div>
					<div class="params-box" style="display: none">
						<label>Requested wing: <strong {{#if_contains parameters.modified "wingName" }}class="modified"{{/if_contains}}>{{ parameters.wingName }} ({{ type }} in {{ parameters.wingCity }})</strong></label>
						<label>Arrival date: <strong {{#if_contains parameters.modified "startDate" }}class="modified"{{/if_contains}}>{{date parameters.startDate }}</strong></label>
						<label>Deperture date: <strong {{#if_contains parameters.modified "endDate" }}class="modified"{{/if_contains}}>{{date parameters.endDate }}</strong></label>
						<label>Number of surfers: <strong {{#if_contains parameters.modified "capacity" }}class="modified"{{/if_contains}}>{{ parameters.capacity }}</strong></label>
						<label>Arriving via: {{ parameters.arrivingVia }}</label>
					</div>
					<div id="edit-wing-params" style="display: none">
						<form id="wing-params-form" class="form-inline">
							<legend>Edit wing parameters</legend>
							<div class="control-group well">
								<h4>Wing: <span>{{parameters.wingName}}</span></h4>
								<div class="controls">
									<input type="text" name="startDate" class="required input-small" value="{{date parameters.startDate}}">
									<input type="text" name="endDate" class="required input-small" value="{{date parameters.endDate}}">
									<select name="capacity" class="input-mini required">
										{{#range 9}}
										<option value="{{ indexPlusOne }}" {{selected capacity indexPlusOne}}>{{ indexPlusOne }}</option>
										{{/range}}
										<option value="+9" {{selected capacity '+9'}}>+9</option>
									</select>
									<span class="help-block"></span>
								</div>
							</div>
						</form>
					</div>
					{{/unless}}
					<textarea></textarea>
					<button id="cancel-response" class="btn">Cancel</button>
					<button id="send-response" class="btn btn-primary" data-loading-text="Sending...">Send</button>
				</div>
			</div>
		</li>
	</ul>
</div>
