<div class="container">
	<div class="landscape">
		<div class="tabs">
			<ul>
				<li class="selected"><a href="#">Profile</a></li>
				<li><a href="#">Wings</a></li>
			</ul>
		</div>
		<div class="personal-info">
			<div class="content-top">
				<h1 id="user-name-label" class="name">
					<a href="#/profiles/{{id}}/about">{{firstName}} {{lastName}}</a>
				</h1>
				<span class="age">[{{age}}]</span>
				<span class="online">Online :
					{{#if online}}
						{{online}}
					{{/if}}
				</span>
				<h2 class="home-town">
					{{#if hometown.name}}
						{{hometown.name}}, {{hometown.country}}
					{{/if}}
				</h2>
				<h3 class="current-location">Now in KCK, Western Wyandotte</h3>
			</div>
			<div class="button-bar">
				<ul>
					<li><button class="send-message-btn">MESSAGE</button></li>
					<li><button class="send-request-btn selected">REQUEST</button></li>
					<li><button class="send-invitation-btn">INVITE</button></li>
					<li><span class="config">CONFIG</span></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="content-left">
		<div class="profile-column">
			<div class="avatar">
				<a href="#/profiles/{{id}}/about">
					<img id="avatar" src="{{ avatar }}" alt="avatar">
				</a>
			</div>
			<div class="info">
				<button class="button1 add-friend">
					<p class="add-friend-icon">Add friend</p>
				</button>
			</div>
			<div class="box rate-box">
				<p class="rate-info font-rate">Replay rate</p>
				<span class="rate-results">{{replyRate}}%</span>
				<p class="rate-info font-rate">Replay time</p>
				<span class="rate-results">{{replyTime}}</span>
			</div>
			<div class="box basic-info" id="about">
				<h1>Basic info</h1>
				<h2 class="font-rate">Gender</h2>
				<p>{{gender}}</p>
				{{#if birthday}}
					<h2 class="font-rate">Birthday</h2>
					<p>{{birthday}}</p>
				{{/if}}
				{{#if interestedIn.length}}
					<h2 class="font-rate">Interesed in</h2>
					<p>{{gender}}</p>
				{{/if}}
				{{#if civilState}}
					<h2 class="font-rate">Relationship status</h2>
					<p>{{civilState}}</p>
				{{/if}}
				{{#if languages.length}}
					<h2 class="font-rate">Languages</h2>
					<ul>
					{{#each languages}}
						<li>{{name}} ({{level}})</li>
					{{/each}}
					</ul>
				{{/if}}
			</div>
		</div>
	</div>
	<div class="content-right">
		<div class="about-column">
			<div class="box-info">
				<div class="content-top">
					<h1 class="head about-icon">About me</h1>
					{{#if allAboutYou}}
						<h2 class="font-rate">Description</h2>
						<p>{{allAboutYou}}</p>
					{{/if}}
					{{#if mainMission}}
						<h2 class="font-rate">Current mission</h2>
						<p>{{mainMission}}</p>
					{{/if}}
					{{#if occupation}}
						<h2 class="font-rate">Occupation</h2>
						<p>{{occupation}}</p>
					{{/if}}
					{{#if company}}
						<h2 class="font-rate">Company</h2>
						<p>{{company}}</p>
					{{/if}}
					{{#if education.size}}
						<h2 class="font-rate">Education</h2>
						<p>
							{{#each education}}
								{{degree}} at {{insitution}}
							{{/each}}
						</p>
					{{/if}}
				</div>
				<div class="gradient-box"></div>
				<div class="content-footer">
					<p>
						<span class="more-about">more about</span>
						<p>See all content</p>
						<span class="more-about">more about</span>
					</p>
				</div>
			</div>
		</div>
		<div class="like-column">
			<div class="box-info">
				<div class="content-top">
					<h1 class="head likes-icon">Likes</h1>
					{{#if enjoyPeople}}
						<h2 class="font-rate">People I enjoy</h2>
						<p>{{enjoyPeople}}</p>
					{{/if}}
					{{#if movies}}
						<h2 class="font-rate">Movies, series, books, ...</h2>
						<p>{{movies}}</p>
					{{/if}}
					{{#if otherPages}}
						<h2 class="font-rate">Web, Apps</h2>
						<p>{{otherPages}}</p>
					{{/if}}
				</div>
				<div class="gradient-box"></div>
				<div class="content-footer">
					<p>
						<span class="more-about">more about</span>
						<p>See all content</p>
						<span class="more-about">more about</span>
					</p>
				</div>
			</div>	
		</div>
		<div class="box-info maps">
			<h1 class="head places-icon">Places</h1>
			<img src="../img/map.png" alt="">
			<div class="maps-footer">
				<ul>
					<li><a href="#" class="places-current-icon">Where I live</a></li>
					<li><a href="#" class="places-lived-icon">Where I have lived</a></li>
					<li><a href="#" class="places-home-icon">Where I am</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>